UseTab: Never
IndentWidth: 2
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: None
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInParentheses: true
SpacesInCStyleCastParentheses: false
Standard: Cpp03
TabWidth: 2
UseTab: Never
IndentCaseLabels: true
ColumnLimit: 80
MaxEmptyLinesToKeep: 6
