#Project and CMake specific files
data/sandia.decay.xml
InterSpec/InterSpec.entitlements
#target/ios/InterSpec/InterSpec.xcodeproj
target/ios/boost*
target/ios/prefix
target/ios/wt
target/ios/libs
target/ios/build*
target/android/Boost*
target/android/InterSpec/app/arm*
target/android/InterSpec/app/libs
target/android/InterSpec/app/universal
target/android/InterSpec/app/x86*
target/android/InterSpec/app/
target/android/InterSpec/app/build
target/electron/node_modules
target/electron/release-builds
InterSpec_resources/SpectrumChartD3StandAlone.css

*OUO*
*ouo*
.svn
.vscode
.idea
.DS_Store
.cproject
.project
.svnignore
.bin
.vs
WtsRsrcs
XcodeFiles
build
build_*
build-*
release-builds*
package-lock.json
node_modules
documentation
testing
README.txt
*.tmp
*.zip
*.tgz
*.bz2
*.log

# Xcode spefic (for iOS)
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
target/electron/node_modules/.bin/asar

# Incase you copy Wt resource directory to base code dir
resources/

target/electron/LibInterSpec/
InterSpec_resources/SpectrumChartD3.js
InterSpec_resources/SpectrumChartD3.css
InterSpecUserData.db
InterSpec_resources/d3.v3.min.js
