#Project and CMake specific files
data/sandia.decay.xml
InterSpec/InterSpec.entitlements
#target/ios/InterSpec/InterSpec.xcodeproj
target/electron/app/node_modules
target/electron/app/data
target/electron/app/InterSpec_resources
target/electron/app/example_spectra
target/electron/app/resources
target/electron/app/release-builds
target/ios/boost*
target/ios/prefix
target/ios/wt
target/ios/libs
*OUO*
.svn
.vscode
.idea
.DS_Store
.cproject
.project
.svnignore
XcodeFiles
build
build_*
documentation
testing
README.txt
*.tmp
*.zip
*.tgz
*.bz2
*.log

# Xcode spefic (for iOS)
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM