.BatchGuiWidget .BatchGuiInputFile
{
  position: relative;
  width: 115px;
  line-height: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.BatchGuiWidget .BatchGuiInputFile .FilenameText
{
  font-size: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.BatchGuiWidget .BatchGuiInputFile .closeicon-wtdefault
{
  width: 22px;
}


/* Input file widgets */
.BatchGuiWidget .BatchGuiInputSpectrumFile
{
  position: relative;
  width: 125px;
  height: 100px;
  border-radius: 5px;
  border: solid 1px #e1e1e1; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.BatchGuiWidget .BatchGuiInputSpectrumFile .closeicon-wtdefault
{
  position: absolute;
  top: 0px;
  right: 0px;
}

.BatchGuiWidget .BatchGuiInputSpectrumFile .InputFilePreview
{
  width: 100%;
  height: 80px;
  border-bottom: solid 1px #e1e1e1; 
}

.BatchGuiWidget .BatchGuiInputSpectrumFile .FilenameText
{
  font-size: 11px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  line-height: 15px;
}

.BatchGuiWidget .BatchGuiInputSpectrumFile .InputFilePreview .NotSpectrumFile
{
  border: solid 1px red;
  background-color: #f0f0f0;
}

.BatchGuiWidget .BatchGuiInputSpectrumFile .InputFilePreview .PeaksCsvFile
{
  border: solid 1px #e1e1e1;
  background-color: #f0f0f0; 
}

.BatchGuiWidget .BatchGuiInputSpectrumFile .InputFilePreview .PreviewError
{
  border: solid 1px red; 
  background-color: #f0f0f0;
}