.BatchGuiWidget .BatchGuiAnaWidget.BatchGuiPeakFitWidget
{

}

.BatchGuiWidget .BatchGuiPeakFitWidget .PeakFitOptionsContainer
{
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


/* Peak Fit Options Container - Flex row layout that wraps */
.BatchGuiWidget .BatchGuiPeakFitWidget .PeakFitBoolOptionsContainer
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.BatchGuiWidget .BatchGuiPeakFitWidget .PeakFitFloatOptionsContainer
{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* BatchGuiAnaWidget classes moved from BatchGuiWidget.css */
.BatchGuiWidget .BatchGuiAnaWidget
{
  overflow-y: auto;
  height: 180px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Threshold Option Container - Flex layout with vertical centering */
.BatchGuiWidget .ThresholdOptionContainer
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
}

.BatchGuiWidget .BatchGuiAnaWidget .ForegroundToUseOpt,
.BatchGuiWidget .BatchGuiAnaWidget .BackgroundToUseOpt
{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.BatchGuiWidget .BatchGuiAnaWidget.BatchGuiActShieldAnaWidget
{

}

/* Exemplar and report input areas */
.BatchGuiAnaWidget .ExemplarToUseOpt
{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.BatchGuiWidget .ExemplarFileDrop
{
  border: 1px #e1e1e1;
  border-radius: 5px;
  width: 125px;  /* same as BatchGuiInputSpectrumFile */
  height: 100px; /* same as BatchGuiInputSpectrumFile */
}

.BatchGuiWidget .ExemplarFileDrop.EmptyExemplarUpload::before
{
  content: "Drop file or click";
  display: block;
  background-color: lightgray;
  color: darkgray;
  text-align: center;
  line-height: 100px;
  width: 125px;
  height: 100px;
}




/* Reports container */
.BatchGuiWidget .ReportsContainer
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.BatchGuiWidget .ReportsContainer .CustomReportOptions
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.BatchGuiWidget .ReportsContainer .CustomReportOptions .CustomReportUploader,
.BatchGuiWidget .DetectorFileDrop
{
  border: solid 1px #e1e1e1;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 20px;
  width: 120px;
  overflow-y: auto;
}

.BatchGuiWidget .ReportsContainer .CustomReportOptions .CustomReportUploader.EmptyReportUpload::before,
.BatchGuiWidget .DetectorFileDrop.EmptyDetectorUpload::before
{
  content: "Drop/click here";
  display: block;
  background-color: lightgray;
  color: darkgray;
  text-align: center;
  line-height: 20px;
  font-size: 9px;
  height: 20px;
  width: 120px;
}

.BatchGuiWidget .ReportsContainer .CustomReportOptions .CustomReportUploader.DomIsDrugOver,
.BatchGuiWidget .DetectorFileDrop.DomIsDrugOver
{
  border: 3px dashed grey;
  border-radius: 8px;

  /* Add styles to grey out the element */
  position: relative; /* Establish positioning context for overlay */
  background-color: rgba(128, 128, 128, 0.5); /* Grey background with transparency */
}

.BatchGuiWidget .ReportsContainer .CustomReportOptions .CustomReportUploader.DomIsDrugOver::after,
.BatchGuiWidget .DetectorFileDrop.DomIsDrugOver::after
{
  content: 'Drop here';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  color: white; /* White text color */
  font-size: 10px;
  text-align: center;
}

/* Detector input container */
.BatchGuiWidget .DetectorInputContainer
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

/* Analysis result dialogs */
.simple-dialog.BatchAnalysisResultDialog
{
  max-width: 95vw;
  max-height: 95vh;
  width: 95vw;
  height: 95vw;
}

.simple-dialog.BatchAnalysisResultDialog .body
{
  /* The 95vh is from .simple-dialog, and the 90px is the header and footer height. */
  max-height: calc( 95vh - 90px );
  max-width: calc(95vw - 30px);
  overflow-y: hidden;
  padding-top: 16px;
  padding-bottom: 5px;
}

.simple-dialog.BatchAnalysisResultDialog .body .BatchReportIFrameHolder
{
  border: solid 1px #e1e1e1;
  border-radius: 5px;
  display: block;
}

.simple-dialog.BatchAnalysisResultDialog .body .BatchReportJsonError,
.simple-dialog.BatchAnalysisResultDialog .body .BatchReportInjaError,
.simple-dialog.BatchAnalysisResultDialog .body .BatchReportMiscError
{
  color: red;
}

.simple-dialog.BatchAnalysisWarningDialog
{
  
}

.simple-dialog.BatchAnalysisWarningDialog .body
{
  color: orange;
}

.simple-dialog.BatchAnalysisWarningDialog ul.body
{
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

.simple-dialog.BatchAnalysisWarningDialog ul.body li
{
  margin-bottom: 10px;
}


.BatchGuiWidget .FileConvertOpts
{
    
}


.BatchGuiWidget .FileConvertOpts
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    overflow-y: hidden;
}

.BatchGuiWidget .FileConvertOpts .SideMenuHolder
{
    height: 180px;
    overflow-y: auto;
}

.BatchGuiWidget .FileConvertOpts .FileConvertOptsOptions
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.BatchGuiWidget .FileConvertOpts .FileConvertFormatMenu.SideMenu
{  
}

.BatchGuiWidget .FileConvertOpts.FileConvertOptsMobile .FileConvertFormatMenu.SideMenu
{
  /* On mobile, there is no info/help icon on the menu item, so we can make it narrower. */
  width: 8.5em;
}

.BatchGuiWidget .FileConvertOpts.FileConvertOptsPhone .FileConvertFormatMenu.SideMenu
{
  margin-left: auto;
  margin-right: auto;
}

.BatchGuiWidget .FileConvertOpts .FileConvertFormatMenu.SideMenu li
{
  height: 1.25em;
}