.Chi2Graphic {
}


svg.Chi2Graphic {
  background: var(--d3spec-background-color, none);
}

.Chi2Graphic .xAxis path,
.Chi2Graphic .xAxis line,
.Chi2Graphic .yAxis path,
.Chi2Graphic .yAxis line {
    fill: none;
    stroke: var(--d3spec-axis-color, black);
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.Chi2Graphic .xAxis.Pull path,
.Chi2Graphic .xAxis.Pull line
{
  stroke-opacity: 0.4;
}

.Chi2Graphic .xAxis.Scale path,
.Chi2Graphic .xAxis.Scale line
{
  stroke-opacity: 1.0;
}

.Chi2Graphic .ScaleUnityLine {
  stroke: var(--d3spec-axis-color, black);
  stroke-width: 1;
  stroke-opacity: 0.4;
  stroke-dasharray: 3,3
}

.Chi2Graphic .xaxistitle,
.Chi2Graphic .yaxistitle {
    
}

.Chi2Graphic .ChiInfoTitle {
  text-anchor: end;  /* Align text to the end (right) */
  dominant-baseline: hanging; /* Align text to the top of the text box */
  margin-right: 5px;
}

.Chi2Graphic .xaxis, .Chi2Graphic .yaxis {
  fill: var(--d3spec-text-color, black);
}


.Chi2Graphic .xaxistitle,
.Chi2Graphic .yaxistitle,
.Chi2Graphic .yaxislabel,
.Chi2Graphic .tick text {
  fill: var(--d3spec-axis-color, black);
}

.Chi2Graphic .xaxistitle {
  dominant-baseline: hanging;
}

.Chi2Graphic circle {
    cursor: pointer;
    fill: steelblue;
}

.Chi2Graphic div.RelEffPlotTooltip {
  position: fixed;
  padding: 6px;
  font: 12px sans-serif;
  background: #ffffcc;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: #444422;
}


.Chi2Graphic circle, .Chi2Graphic circle.noiso, .Chi2Graphic circle.multiiso {
  fill: blue; /* default color - we'll fill it in. */
}

.Chi2Graphic .errorbar {
  fill: none;
  stroke: grey;
  stroke-width: 1;
}

div.Chi2GraphicTooltip {
    position: fixed;
    padding: 6px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.Chi2GraphicTooltip .SourcesInfoArea {
  margin-top: 5px;
}

div.Chi2GraphicTooltip .SourcesInfoList {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
  padding-inline-end: 0px;
}
