.CompactFileManager {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  /* overflow-y: hidden; */
}

.CompactFileManager.Tabbed{
}

.CompactFileManager.LeftToRight{
  display: grid;
  /* We need to keep too long of file selectors of titles from forcing each display from overgrowing its allotted 1/3 of width. */
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-column-gap: 5px;
  grid-auto-rows: minmax(100px, auto) 23px;
}

.CompactFileManager div.DispType {
  border-color: grey;
  border-style: ridge;
  border-width: 1px;
  padding: 5px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  overflow: hidden;
}

.CompactFileManager.Tabbed div.DispType {
  margin-top: 0px;
  border-top: none;
}

.CompactFileManager.LeftToRight div.DispType.Foreground {
  grid-column: 1;
  grid-row: 1;
}

.CompactFileManager.LeftToRight div.DispType.Background {
  grid-column: 2;
  grid-row: 1;
}

.CompactFileManager.LeftToRight div.DispType.Secondary {
  grid-column: 3;
  grid-row: 1;
}

div.DispType > div {
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.CompactManagerButtons {
}

.CompactManagerButtons > button {
  
}

.CompactManagerButtons .ContentHelpBtn {
  position: relative;
  top: 7px;
}

.CompactFileManager.LeftToRight .CompactManagerButtons {
  grid-column: 1;
  grid-row: 2;
}

.SecondForegroundBtns {
  grid-column: 3;
  grid-row: 2;
}

div.DispType .SpecFileSelect{
  padding-left: 5px;
  padding-right: 5px;
}


div.DispType div.SampleSelectRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

div.SampleSelectRow .PrevSampleNum{
  margin-right: 5px;
  width: 22px;
  height: 22px;
  background-image: url('images/previous_arrow.png');
  background-repeat: no-repeat;
  display: inline-block;
}

div.SampleSelectRow .SampleNumInput {
}

div.SampleSelectRow .NextNextSample{
  margin-left: 5px;
  width: 22px;
  height: 22px;
  background-image: url('images/next_arrow.png');
  background-repeat: no-repeat;
  display: inline-block;
}

div.DispType .SpecTitle {
  margin-top: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.DispType .StretcherRow {
  flex-grow: 10;
  flex-shrink: 10;
}

div.DispType .SummaryTable {
  align-self: center;
  font-size: xx-small;
  margin-top: 5px;
  white-space: nowrap;
  border-collapse: collapse;
  border: 1px solid #e1e1e1;
}

div.DispType .SummaryTable td {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  border-bottom: 1px solid #e1e1e1;
}

div.DispType .SummaryTable td:nth-child(odd) {
  font-weight: bold;
  text-align: center;
}

div.DispType .SummaryTable td:nth-child(even) {
  text-align: left;
  border-right: 1px solid #e1e1e1;
  
  max-width: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

button.LinkBtn.GpsBtn, button.LinkBtn.GpsBtn:hover {
  float: none;
  height: 10px;
  padding: 0px;
  font-size: 6px;
}

.CompactFileManager .BottomRow .InfoBtns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: auto; /* makes float to right */
}

.CompactFileManager button.LinkBtn.MoreInfoBtn, .CompactFileManager button.LinkBtn.MoreInfoBtn:hover {
  margin-right: 5px;
  margin-left: 0px;
  font-size: 6px;
  height: 12px;
  padding-left: 0px;
  padding-right: 5px;
}

/* For background and secondary sections, add some margin below summary table, so they will be
 at the same height as the foreground table (which has some additional buttons below the section)
 */
.CompactFileManager.LeftToRight .DispType.Background .SummaryTable, .CompactFileManager.LeftToRight .DispType.Secondary .SummaryTable {
  margin-bottom: 23px;
}

/* The "Scale Factor:" input for background and secondary - add a little space*/
.CompactFileManager .DispType .ScaleFactorRow > input {
  margin-left: 5px;
}

div.DispType .BottomRow {
  width: 100%;
  overflow-x: hidden;
  
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

div.DispType .BottomRow > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

div.DispType .BottomRow > div > button{
  margin-left: 10px;
}

div.DispType div.ScaleFactorRow{
  /* Make it so when the "Normalize" button disappears and reappears its doesnt cause this rows contents to move around a little. */
  height: 23px;
}

.SpecNormTxt {
  width: 5em;
}

.CompactFileManager .TitleRow {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  column-gap: 8px;
}

.CompactFileManager .SpecLeg {
  
}

.CompactFileManager .CompactFMLegBackground{
  fill: var(--d3spec-chart-area-color, rgba(0,0,0,0));
}

.CompactFileManager .CompactFMLegLine {
  stroke-width: 1px;
}

.CompactFileManager .CompactFMSpecLineForeground {
  stroke: var(--d3spec-fore-line-color, black);
}

.CompactFileManager .CompactFMSpecLineBackground {
  stroke: var(--d3spec-back-line-color, rgb(0,255,255) ); /* default cyan */
}

.CompactFileManager .CompactFMSpecLineSecondary {
  stroke: var(--d3spec-second-line-color, rgb(0,128,128) ); /* default dark green */
}
