.D3TimeChartParent {
  display: flex;
  flex-wrap: nowrap;
}

.D3TimeChart {
  flex-grow: 4;
  height: 100%;
  overflow: hidden;

  /* Prevent a finger swipe on the chart making the browser go back in browsing history. */
  touch-action: none;
  overscroll-behavior-x: none;
}


.D3TimeChartFilters {
  /* border: 1px solid blue; */
  width: 155px;
  padding: 1px 2px 2px 0px;
  overflow: hidden;
}

.D3TimeFiltersTab {
  height: 100%;
}

.D3TimeInteractMenu
{
  display: grid;
  align-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 7px;
  margin-right: 7px;
}

.D3TimeInteractModeMenu
{
  grid-template-columns: 1fr 1fr;
}

.D3TimeInteractSpecTypeMenu
{
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 7px;
  margin-right: 7px;
}


.D3TimeInteractMenu li
{
  padding-left: 2px;
  padding-right: 2px;
  margin: 2px;
  vertical-align: middle;
  text-align: center;
  border-radius: 3px;
}

.D3TimeInteractMenu a {
  cursor:pointer;
}

.D3TimeInteractModeText, .D3TimeInteractSpecTypeText {
  display: block;
  font-size: smaller;
  /* margin-left: 2px; */
}

.D3TimeInteractSpecTypeText {
  margin-top: 3px;
}


.D3TimeInteractInst
{
  font-size: smaller;
  margin-top: 3px;
}


.ShowD3TimeChartFilters {
  position: absolute;
  right: 5px;
  /* top: 5px; If we specify this, the filter icon goes to the top of parent div, so instead well use a margin. */
  margin-top: 5px;
  padding: 0px 0px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-image: url("../InterSpec_resources/images/filter.svg");
  background-position: 0px center;
  background-repeat: no-repeat;
    
  opacity: 0.8;
  cursor: pointer;
}

.ShowD3TimeChartFilters.HasNeutrons {
  right: 60px;
}

.ShowD3TimeChartFilters:hover {
  opacity: 1.0;
  background-color: rgba(255,255,255,0.75);
  border-radius: 12px;
}

.D3TimeChartFilters .closeicon-wtdefault {
  position: absolute;
  right: 5px;
  margin-top: 5px;
}


.D3TimeChartFilters > div > .Wt-stack {
  height: 100%;
  border-left: 1px solid rgba(136, 136, 136, 1);
}

.D3TimeInteractTab {
  overflow: hidden;
  padding-top: 3px;
  padding-left: 3px;
}

.D3TimeFilterTab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
}


.D3TimeFilterTab > input {
  margin-left: 40px;
  margin-bottom: 5px;
}

.D3TimeFilterClear {
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

.D3TimeDontRebin, .D3TimeHideNuetrons {
  margin-top: 5px;
}

.axis > path,
.axis line {
  fill: none;
}

.axis text {
  font-family: sans-serif;
  font-size: 0.9em;
}

.axis_label {
  fill: rgb(0, 0, 0);
}

.grid path {
  fill: none;
}

.interaction_area .selection {
  fill-opacity: 0.25;
  shape-rendering: crispEdges;
}

.occupancy_start_line_group line,
.occupancy_end_line_group line {
  stroke: #dedede;
  stroke-width: 1;
}

.occupancy_start_line_group text,
.occupancy_end_line_group text {
  fill: #dedede;
}
