.D3TimeChartParent {
  display: flex;
  flex-wrap: nowrap;
}

.D3TimeChartHolder {
  flex-grow: 4;
  height: 100%;
  overflow: hidden;

  /* Prevent a finger swipe on the chart making the browser go back in browsing history. */
  touch-action: none;
  overscroll-behavior-x: none;
}


.D3TimeChartFilters {
  /* border: 1px solid blue; */
  width: 155px;
  padding: 1px 2px 2px 0px;
  overflow: hidden;
}

.D3TimeFiltersTab {
  height: 100%;
}

.D3TimeInteractMenu
{
  display: grid;
  align-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 7px;
  margin-right: 7px;
}

.D3TimeInteractModeMenu
{
  grid-template-columns: 1fr 1fr;
}

.D3TimeInteractSpecTypeMenu
{
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 7px;
  margin-right: 7px;
}


.D3TimeInteractMenu li
{
  padding-left: 2px;
  padding-right: 2px;
  margin: 2px;
  vertical-align: middle;
  text-align: center;
  border-radius: 3px;
}


.D3TimeInteractMenu a {
  cursor:pointer;
}

.D3TimeInteractModeText, .D3TimeInteractSpecTypeText {
    display: block;
    font-size: 10px;
    /* font-size: smaller; */
    /* margin-left: 2px; */
}


.D3TimeInteractSpecTypeText {
  margin-top: 3px;
}


.D3TimeInteractInst
{
  font-size: smaller;
  margin-top: 3px;
}

/* Make the "Normal", "Zoom", "Pan", etc menus smaller to fit on the screen for phones
 Note: instead of using a media query, we could have used the CSS classes .LandscapeRight and .LandscapeLeft that should be defined on phones
 */
@media screen and (max-device-width: 640px) {
  .D3TimeInteractMenu li {
    font-size: xx-small;
    height: 11px;
  }
  
  .D3TimeInteractSpecTypeText, .D3TimeInteractInst, .D3TimeInteractModeText, .D3TimeInteractSpecTypeText {
    font-size: xx-small;
  }
  
  .D3TimeChartFilters .Wt-tabs ul, {
    height: 16px;
  }
  
  .D3TimeChartFilters .Wt-tabs li {
    font-size: x-small;
  }
  
  .D3TimeChartFilters .Wt-tabs a {
    padding: 2px 9px 0px;
  }
}


.ShowD3TimeChartFilters {
    position: absolute;
    right: 5px;
    /* top: 5px; If we specify this, the filter icon goes to the top of parent div, so instead well use a margin. */
    margin-top: 5px;
}

.ShowD3TimeChartFilters.HasNeutrons {
  right: 60px;
}


.D3TimeChartFilters .closeicon-wtdefault {
  position: absolute;
  right: 5px;
  margin-top: 5px;
}


.D3TimeChartFilters > div > .Wt-stack {
  height: 100%;
  border-left: 1px solid rgba(136, 136, 136, 1);
}

.D3TimeInteractTab {
    overflow: hidden;
    padding-top: 3px;
    padding-left: 3px;
    font-size: 12px;
}

.D3TimeOptTab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}

.D3TimeFilterTab {
    padding: 3px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.D3TimeFilterTab input {
  font-size: 10px;
}

    .D3TimeFilterTab .FilterTitle {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .D3TimeFilterTab .FilterRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
        margin-left: 5px
    }

    .D3TimeFilterTab .FilterEnergyLabel {
        /* margin-right: 6px; */
        /* margin-left: 10px; */
        /* margin-bottom: 40x; */
    }

    .D3TimeFilterTab .FiltRangeInput {
        width: 50px; /* The width will end up being adjusted by flex-layout, but we still need this here, or else the width will run-away to like 150px, not sure why. */
        flex: 1 1;
    }

    .D3TimeFilterTab label.DoNormCb {
        display: flex;
        align-items: center;
        margin-top: 5px;
    }


    .D3TimeFilterTab .NormRangeInput {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        /* border: 1px solid gray; 
        padding-top: 5px;
        padding-bottom: 5px; */
    }

    .D3TimeFilterTab .NormRangeSuggest {
        font-size: xx-small;
        margin-left: 5px;
    }

        .D3TimeFilterTab .Wt-disabled {
            display: none;
        }


    .D3TimeFilterTab button.D3TimeFilterClear[type="button"] {
        font-size: 10px;
        flex: 0 1;
        padding-top: 2.5px;
        padding-bottom: 2px;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
    }


.D3TimeDontRebin, .D3TimeHideNeutrons {
    margin-top: 5px;
}

.D3TimeYAxisRelScale {
  margin-top: 5px;
  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.D3TimeYAxisRelScale input {
  margin-left: 5px;
  flex: 1 1;
  width: 0px; /* appears to be needed so flex will adjust the width. */
}

.D3TimeChart {
    /* the actual <svg> element itself. */
}

.interaction_area .selection {
    fill-opacity: 0.25;
    shape-rendering: crispEdges;
}

.occupancy_start_line_group line,
.occupancy_end_line_group line {
  stroke: #dedede;
  stroke-width: 1;
}

.occupancy_start_line_group text,
.occupancy_end_line_group text {
  fill: #dedede;
}
