.SnapshotBrowser
{
  
}


.SnapshotTable
{
  padding: 2px;
  overflow-x: hidden;
}


.SnapshotIcon
{
 margin: 0;
 padding: 0;
 padding-top: 1px;
 padding-left: 2px;
 padding-right: 1px;
}

.SnapshotTime
{
  border-top: solid 1px #e1e1e1; 
}

.SnapshotDesc
{
  
}

.DelSnapshotBtn
{
  float: right;
  background: none;
  display: none;
  cursor: pointer;
  opacity: 0.4;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 2px
}

.DelSnapshotBtn:hover
{
  opacity: 1;
}

.Wt-selected .DelSnapshotBtn
{
  display: inline;
}


.DbSpecFileItem
{
  padding-left: 5px;
  padding-right: 3px;
  padding-top: 3px;
  margin-bottom: 7px;
  width: 95%;
  height: 1.8em;
  border:1px solid #e1e1e1;
}


.DbSpecFileItemTxt
{
  font-size:100%;
  font-family:"Times New Roman", Times, serif;
  position:absolute;
}


.DbSpecFileItemButton
{
  float: right;
}

.ResumeWorkTxt
{
  font-size:125%;
  font-weight:bold;
  font-family: "Times New Roman", Times, serif;
  margin: 5px 10px 5px 10px;
}

.AutosavedSpectrumBrowser
{
  overflow: hidden;
}

.AutosavedSpectrumBrowser .AutosavedSpectra
{
  overflow: auto;
}

.SnapshotBrowserFooter
{
  
}

.SnapshotBrowserFooter button, .SnapshotBrowserFooter button:hover
{
  margin-left: 5px;
  margin-top: 5px;
}
