.DecayChainChart
{
  
}

.DecayChainInstructions
{
  
}



.DecayChainChartIsotope
{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  -webkit-touch-callout: none;
}


/* .ParentDecaysContent{ border: 1px solid red; } */
/* .ParentDecayNuc{ border: 1px solid #73AD21; } */
/* .ParentDecayNuc.HasIso{ background: green; } */

/* .ParentDecayNuc.IsTargetNuc{ color: blue; } */

.DecayPartInfoHeader
{
  font-size: larger;
  font-weight: bold;
  margin-bottom: 3px;
}

.DecayChainChartTable td, .DecayChainChartTable th
{
  border: 1px solid black;
  padding: 4px;
}

/* Below here is the D3 based elements */
.DecayChartNuc
{
  cursor: pointer;
}

.DecayChartNucRect
{
  
}

txt.DecayChartNuc
{
  
}

rect.DecayChartNuc
{
  
}

.DecayChartNuc.primary
{
  
}

.DecayChartNuc.MultiIso
{
  
}

rect.DecayChartNuc.selected
{
  stroke-width: 2px;
}

line.DecayLine.selected
{
}

rect.DecayChartNuc.MousedOver
{
  stroke-width: 2px;
}

.DecayChartNucTxt.MousedOver
{
  font-weight: bold;
}

.NucInfoTxt
{
  
}

.ShowDecaysThroughTxt
{
  cursor: pointer;
}

.ShowDecaysThroughRect
{
  cursor: pointer;
}

.ShowDecayProductsTxt
{
  cursor: pointer;
}

.ShowDecayProductsRect
{
  cursor: pointer;
}

.DecayChainDnldBtn
{
  position: absolute;
  bottom: 0px;
  right: 5px;
}
