.DetectorLabel
{
  font-size: 12px;
  font-style: italic;
}

.DetEditContent
{
    overflow-y: auto;
}

.FormulaDrfTbl {
    width: 95%;
}

.FormulaDrfTbl td
{
  white-space: nowrap;
}


table.FormulaDrfTbl tr td:first-child
{
  width: 1%;
}


.DetectorEditFunctionalFormText 
{
  width: 100%;
}

.DetEditMenu
{
  width: 6em;
}

.DetEditMenu li
{
  height: 1.5em;
  padding-top: 3px;
  padding-bottom: 3px;
}

.DetectorDiamDiv
{

}

.DetectorDotDatDiv
{
  /*padding-top: 10px;*/
}

.RelEffFile
{
  border: 1px solid #A7A7A7;
  padding: 4px;
  margin-bottom: 3px;
}

.NoDrfBtn
{
  float: left;
}

.RelEffFileCredits
{
  margin: 4px;
}

.AddRelEffFile{
  filter: invert(100%);
}

.AddRelEffFile, .AddRelEffFile:hover
{
  opacity:0.5; 
  cursor:pointer;
  color: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  background-image: url('../InterSpec_resources/images/plus_min_white.svg');
  background-size: 16px 16px;
  background-position: 0px center;
  background-repeat: no-repeat;
}
  
.AddRelEffFile:hover
{
  opacity:1.0;
}
