
.DetectionLimitWindowContent
{
  display: flex;
  flex-direction: column;
}

.DetectionLimitTool
{
  display: flex;
  flex-direction: column;
  
  height: 100%;
  width: 100%;
  /*
  grid->setColumnStretch( 0, 1 );
  grid->setRowStretch( grid->rowCount() - 1, 10 );
  grid->setRowResizable( 0, true );
  grid->setContentsMargins( 0, 0, 0, 0 );
   */
}

.DetectionLimitTool .MdaCharts
{
  height: 200px;
  
  /* flex: 1 1 auto; */
  
  display: flex;
  flex-direction: row;
}


.DetectionLimitTool .Inputs
{
  display: grid;
}


.DetectionLimitTool .Inputs .FirstCol
{
  grid-column-start: 1;
  width: 3.5em;
}

.DetectionLimitTool .Inputs .SecondCol
{
  grid-column-start: 2;
}

.DetectionLimitTool .Inputs .ThirdCol
{
  grid-column-start: 3;
}

.DetectionLimitTool .Inputs .FourthCol
{
  grid-column-start: 4;
}

.DetectionLimitTool .Inputs .FifthCol
{
  grid-column-start: 5;
}

.DetectionLimitTool .Inputs .SixthCol
{
  grid-column-start: 6;
}

.DetectionLimitTool .Inputs .SeventhCol
{
  grid-column-start: 7;
}


.DetectionLimitTool .Inputs .FirstRow
{
  grid-row-start: 1;
}

.DetectionLimitTool .Inputs .SecondRow
{
  grid-row-start: 2;
}

.DetectionLimitTool .Inputs .ThirdRow
{
  grid-row-start: 3;
}

.DetectionLimitTool .Inputs .FourthRow
{
  grid-row-start: 4;
}

.DetectionLimitTool .Inputs .SpanTwoRows
{
  grid-row-end: span 2;
}

.DetectionLimitTool .Inputs .SpanTwoCol
{
  grid-column-end: span 2;
}

.DetectionLimitTool .MdaResults
{
  display: flex;
  flex-direction: column;
  
  overflow: hidden;
  /* flex: 1 3 auto; */
  width: 25%;
}

.MdaCharts .MdaChi2Chart
{
  overflow: hidden;
  flex: 1 1 auto;
}

.MdaCharts .SpectrumDisplayDiv
{
  flex: 1 1 auto;
  overflow: hidden;
}

.DetectionLimitTool .MdaResults .MdaResultTxt
{
  /* this is m_bestChi2Act text, and m_upperLimit text */
  display: block;
}


.DetectionLimitTool .MdaErrMsg
{
  /* grid->addWidget( m_errorMsg, 3, 0, 1, 2 ); */
}


.DetectionLimitTool .MdaPeaks
{
  flex: 2 1 auto;
  
  /* grid->addWidget( m_peaks, 4, 0, 1, 2 ); */
}


.DetectionLimitTool .UserInputTable td
{
  padding-top:5px;
  padding-bottom:5px;
  padding-right:10px;
}

.DetectionLimitTool .UserInputTable td:first-child
{
  padding-left:15px;
}

.MdaErrMsg
{
  color: red;
}


.MdaPeaks
{
  margin-top: 10px;
  border: 1px solid #d1d1d1;
  overflow-y: auto;
}

.MdaPeakRow
{
  padding: 3px;
  margin: 5px;
  border: 1px solid #d1d1d1;
}

.MdaPeakRow .FixedInfo
{
  display: inline-block;
  width: 300px;
}

.MdaPeakRow .Poisson
{
  margin-left: 10px;
}


.MdaResults
{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  padding-top: 0px;
  border: 1px solid #d1d1d1;
}

.MdaResultTxt
{
  white-space: nowrap;
}
