/* CSS styles for DirectorySelector widget */

.DirectorySelector {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: nowrap;
}


.DirectorySelectorPathTxt {
  border: 1px solid var(--interspec-border-color);
  border-radius: 3px;
  font-family: monospace;
  min-height: 20px;
  flex-grow: 1;
  flex-shrink: 1;
}

.DirectorySelectorPathTxt.DirectorySelectorValidPath {
  border-color: var(--interspec-success-color);
  background-color: var(--interspec-success-background);
}

.DirectorySelectorPathTxt.DirectorySelectorInvalidPath {
  border-color: var(--interspec-error-color);
  background-color: var(--interspec-error-background);
}

/* Text input styling */
.DirectorySelector input[type="text"] {
  
}