.DetectorLabel
{
  font-size: 12px;
  font-style: italic;
}

.DetEditContent
{
    overflow-y: auto;
}

.FormulaDrfTbl {
    width: 95%;
}

.FormulaDrfTbl td
{
  white-space: nowrap;
}


table.FormulaDrfTbl tr td:first-child
{
  width: 1%;
}


.DrfSelectFunctionalFormText 
{
  width: 100%;
}

.DetEditMenu
{
  width: 6em;
}

.DetEditMenu li
{
  height: 1.5em;
  padding-top: 3px;
  padding-bottom: 3px;
}

.DetectorDiamDiv
{

}

.DetectorDotDatDiv
{
  /*padding-top: 10px;*/
}

.DrfSelectArea
{
  height: 100%;
  overflow: visible;
  
  display: flex;
  flex-flow: column nowrap;
}

.DrfSelectAreaFiles
{
  flex: 2 1 auto;
  overflow-y: auto;
  overflow-x: visible;
}

.DrfSelectAreaFooter
{
  width: 100%;
  padding-top: 3px;
  border-top: 1px solid #e1e1e1;
  display: flex;
  flex-flow: row nowrap;
}

.DrfTypeDescrip
{
  font-size: 12px;
  font-style: italic;
  flex: 1 2 auto;
  margin-left: 5px;
}

.RelEffFile
{
  border: 1px solid #A7A7A7;
  padding: 4px;
  margin-bottom: 3px;
}

.NoDrfBtn
{
  float: left;
}

.RelEffFileCredits
{
  margin: 4px;
}

.DrfSelectAddFile, .DrfSelectAddFile:hover
{
  flex: 0 0 20px;
  opacity: 0.6;
  cursor:pointer;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  background-image: url('../InterSpec_resources/images/plus_min_black.svg');
  background-size: 16px 16px;
  background-position: 0px center;
  background-repeat: no-repeat;
}
  
.DrfSelectAddFile:hover
{
  opacity:1.0;
}

.DrfDefaultOptions
{
  margin-bottom: 5px;
}


.RelEffFixedPath
{
  /* DRF (TSV/CSV) filename for RelEffFile that cant be changed. */
  display: inline-block;
  max-width: 25px; /* Not checked yet if reasonable */
  text-overflow: ellipsis;
}

.DrfXmlDownload, .DrfXmlDownload:hover
{
  float: left;
  padding-right: 20px;
}
