.EccUncertOptions .EccUncertExampleTitle
{
  display: block;
  margin-top: 8px;
  font-weight: bold;
}

.EccUncertOptions .EccUncertExampleTable
{
  margin: 4px auto 0px auto;
  border-collapse: collapse;
  border: 1px solid #888;
}

.EccUncertOptions .EccUncertExampleTable th,
.EccUncertOptions .EccUncertExampleTable td
{
  border: 1px solid #888;
  padding: 2px 10px;
  text-align: center;
}
