
.EnergyCalTool
{
  /* margin-top: 5px; */
  /* margin-right: 4px; */
  /* margin-bottom: 3px; */
  /* padding-left: 5px; */
}

.EnergyCalTool.TallEnergyCal
{
  overflow: auto;
}


.EnergyCalTool.TallEnergyCal .ToolTabTitledColumn
{
  margin-bottom: 10px;
}




.EnergyCalTool .DetCol
{
  margin-top: 5px;
  padding-left: 5px;
  width: 8em;
}

/*
.EnergyCalTool .ColFooter
{
}
 */

.EnergyCalTool .MoreActionCol
{
  
}

.EnergyCalTool .ApplyToCol
{
  
}

.EnergyCalTool .DetCol
{
}

.EnergyCalTool .PeakTableCol
{
  
}

.EnergyCalTool .PeakTable
{
  border: 1px solid #e1e1e1;
}


.EnergyCalTool .NoCalContentTxt
{
  
}


.EnergyCalTool .MoreActionsMenuContent, .EnergyCalTool .ApplyToMenuContent
{
  overflow-x: hidden;
  overflow-y: auto;
}


.EnergyCalTool .ApplyToItem
{
  
}


.CalDisplay .CalType
{

}

.EnergyCalTool .CalDisplay .CoefCol
{
  
}

.EnergyCalTool .CoefContent
{
  
}

.EnergyCalTool .BtmBtnDiv
{
  /* Not used when IMP_COEF_FIT_AND_CALp_BTN_NEAR_COEFS */
  padding-right: 3px;
}

.EnergyCalTool .FitCoefBtn
{
  /* Not used when IMP_COEF_FIT_AND_CALp_BTN_NEAR_COEFS */
  float: right;
}

.CalCoefsBtnDiv
{
  /* Used when IMP_COEF_FIT_AND_CALp_BTN_NEAR_COEFS */
  display: flex;
  flex-flow: row nowrap;
}

.CalCoefFitBtn
{
}

.CalCoefsBtnDiv .Spacer
{
  flex: 1 1 auto;
}


.CalCoefsBtnDiv .DownloadBtn.CALp, .CalCoefsBtnDiv .UploadBtn.CALp
{
  float: none !important;
}

.DownloadBtn.CALp, .UploadBtn.CALp
{
  padding-left: 2px;
  flex-direction: row-reverse;
}

.UploadBtn.CALp img
{
}

a.DownloadLink.CALp > span
{
  padding-right: 24px;
  background-position: bottom 0px right 0px;
  margin-top: 7px;
}



/*
.EnergyCalTool .CalSpecMenu
{
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: none;
  border-bottom: 1px solid #e1e1e1;
  overflow: visible;
}

.EnergyCalTool .CalSpecMenu li
{
  float: left;
  vertical-align: middle;
}

.EnergyCalTool .CalSpecMenu li.item
{
}

.EnergyCalTool .CalSpecMenu li.itemselected > a
{
color: #E0F5FF;
}



.EnergyCalTool .CalSpecMenu li a
{
  display: block;
  cursor: pointer;
}
*/

.EnergyCalTool .CalSpecMenu
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  background: none;
  border-bottom: 1px solid #e1e1e1;
}

.EnergyCalTool .CalSpecMenu li {
  padding-top: 0;
  background: none;
  margin-right: 2px;
  display: list-item;
  cursor: pointer;
  cursor: hand;
  font-size: small;
  border: none;
}

.EnergyCalTool .CalSpecMenu li:first-child {
  margin-left: 2px;
}


.EnergyCalTool .CalSpecMenu .itemselected a, .EnergyCalTool .CalSpecMenu .itemselected a:hover {
  background-position: 0%;
  /* If the parent background isnt white, then the below will have a white line in it... TODO: fix */
  background-color: inherit;
  border-color: #e1e1e1 #e1e1e1 #EEEEEE #e1e1e1;
}

.EnergyCalTool .CalSpecMenu a {
  display: block;
  background: none;
  white-space: nowrap;
  padding: 3px 4px 2px 4px;
  color: black;
  border: 1px solid transparent;
  -moz-border-top-left-radius: .25rem;
  -webkit-border-top-left-radius: .25rem;
  border-top-left-radius: .25rem;
  -moz-border-top-right-radius: .25rem;
  -webkit-border-top-right-radius: .25rem;
  border-top-right-radius: .25rem;
  margin-bottom: -1px;
}

.EnergyCalTool .CalSpecMenu a:focus, .EnergyCalTool .CalSpecMenu a:hover {
  text-decoration: none;
  background: rgba(136, 136, 136, 0.08);
  border: 1px solid rgba(136, 136, 136, 0.15);
  /* If the parent background isnt white, then the below will have a white line in it... TODO: fix */
  /*border-bottom: 1px solid white;*/
  border-bottom: 1px solid rgba(136, 136, 136, 0.4);
}


.EnergyCalTool .CalSpecMenu .itemselected a:focus, .Wt-tabs .itemselected a:hover {
  /* Get rid of line on selected tab when you mouse over it */
  border-bottom: 1px solid white;
}



/***********************************************/
.EnergyCalTool .CalSpecStack
{
}

.EnergyCalTool .CalStack
{
  
}


.EnergyCalTool .DetMenuDiv
{
  overflow-x: hidden;
  overflow-y: auto;
}


.EnergyCalTool .MoreActionsMenuList, .EnergyCalTool .ApplyToMenuList
{
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 5px;
  padding-inline-end: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  
  font-size: 13px;
  
}


.DetCalMenu
{
  padding-left: 7px;
  padding-right: 7px;
  font-size: 13px;
  width: 7em;
  text-align: center;
  text-overflow: ellipsis;
}

.DetCalMenu li, .MoreActionsMenuList li, .ApplyToMenuList li
{
  /* font-weight: bold; */
  height: 1.5em;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  white-space: nowrap;
}

.DetCalMenu li
{
  
}

.MoreActionsMenuList li
{
  text-decoration: underline;
  cursor: pointer;
}

.DetCalMenu a
{
}



.EnergyCalTool .CoefColumn
{
  
}


.CoefContent .CoefDisplay
{
  white-space: nowrap;
  padding: 3px 2px 2px 2px;
}


.CoefDisplay .CoefLabel
{
  display: inline-block;
  width: 9.5ex;
}



.CoefFit
{
  
}


.ConvertToPolyMsg
{
  
}

.CalDisplay .DevPairDisplay
{
  width: 14em;
  margin-left: 5px;
  margin-right: 2px;
}

.DevPairDisplay
{
  border: 1px solid #e1e1e1;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


.DevPairsContainer
{
  padding: 3px;
  padding-top: 0px;
  
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}

.DevPair
{
  margin-top: 1px;
  margin-bottom: 4px;
  /* border: 1px solid #e1e1e1; */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background: rgba(245,245,245,0.5);
  border-radius: 5px;
}

/* .DevPair > div > input
{
  border: red;
}
*/

.DevPairsFooter
{
  border-top: 1px solid #e1e1e1;
  bottom: 0px;
  width: 100%;
  flex-shrink: 0;
}

/*
.DevPairMsg
{
  flex-shrink: 0;
  background: yellow;
}
 */


.DevPairTitle, .CalDisplay .CalType, .DetHdr
{
  font-weight:bold;
  background:#EEEEEE;
  white-space:nowrap;
  text-align: center;
  height: 20px;
  margin-bottom: 2px;
}


.DevPairHeader
{
  border-bottom: 1px solid #e1e1e1;
  flex-shrink: 0;
}


.DevPairEnergyHeader, .DevPairOffsetHeader
{
  /* font-weight:bold; */
  font-size: smaller;
  width: 45%;
  display: inline-block;
  padding-left: 5px;
}


.DevOffset, .DevEnergy
{
/*  width:60px;*/
  margin-left:5px;
  border-width: 0px;
}

.DevOffset
{
  margin-left:10px;
  margin-right:4px;
}

/*
.DevPairEnergyHeader
{
  border-right: 1px solid #e1e1e1;
}
*/

.DeleteDevPair
{
  background-image: url('../InterSpec_resources/images/minus_min_black.svg');
  background-position: 0px center;
  background-repeat: no-repeat;
  float: right;
  
  opacity: 0.6;
  cursor: pointer;
}

.DeleteDevPair:hover
{
  opacity: 1;
}


.AddDevPair
{
  margin-left: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-image: url('../InterSpec_resources/images/plus_min_black.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 18px;
  width: 19px;
  opacity: 0.6;
  cursor:pointer;
  padding: 0;
  display: block;
}

.AddDevPair:hover
{
  opacity: 1.0;
}

.InvalidDevPairs
{
  background: red;
}



