

.simple-dialog.export-spec-file
{
  font-size: 16px;
  max-width: 95vw;
  max-height: 95vh;
  width: min(95vw, 640px);
  height: min(95vh, 480px);
}

.simple-dialog.export-spec-file .body
{
  width: min(calc(95vw - 30px), 610px);
  height: min(calc(95vw - 90px), 370px);
  
  max-width: min(calc(95vw - 30px), 610px);
  max-height: min(calc(95vw - 90px), 370px);
  
  padding-bottom: 10px;
}


.ExportSpecFileTool
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ExportSpecFileTool .ExportSpecFileBody
{
  flex-grow: 2;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.ExportSpecFileTool .ExportSpecFileBody .ExportColTitle
{
  display: block;
  white-space: nowrap;
  font-size: 10pt;
  text-align: center;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 2px;
  border-bottom: 1px solid #e1e1e1;
}

.ExportSpecFileTool .ExportSpecSelect,
.ExportSpecFileTool .ExportSpecFormat,
.ExportSpecFileTool .ExportSpecSamples,
.ExportSpecFileTool .ExportSpecOptions
{
  border: 1px solid yellow;
  
  display: flex;
  flex-direction: column;
}


.ExportSpecFileTool .ExportSpecFileBody .ExportSpecSelect .ExportSpecInfo
{
  display: inline-block;
  overflow-y: auto;
}

.ExportSpecInfo .ExportSpecInfoTable
{
  margin: 5px;
}

.ExportSpecInfo .ExportSpecInfoTable th, .ExportSpecInfo .ExportSpecInfoTable td
{
  text-align: left;
  font-weight: normal;
  padding: 4px;
  padding-bottom: 1px;
}

.ExportSpecInfo .ExportSpecInfoTable td
{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
}


.ExportSpecFileTool div.ExportSpecFormat
{
  height: 100%;
}


.ExportSpecFileTool .ExportSpecFormat .ExportSpecFormatMenu.SideMenu
{
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.ExportSpecFileTool .ExportSpecFormat .ExportSpecFormatMenu.SideMenu li
{
  height: 1.25em;
}


.ExportSpecFileTool .ExportSpecFileFooter
{
  height: 40px;
  display: flex;
  border: 1px solid green;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
}
