.FluxToolWidget {
  height: 100%;
}

.FluxDistMsgDetTbl {
  width: 100%;
  margin-bottom: 10px;
}


.FluxDistMsgDetTbl td {
  padding-top: 5px;
  padding-left: 5px;
}


.FluxDistCell {
  vertical-align: middle;
}

.FluxDistLabel {
  margin-left: 10px;
}

.FluxDistanceEnter {
  
}

.FluxDet {
  display: inline-block;
}


.FluxMsgCell {
  text-align: center;
}

.FluxMsg {
  color: red;
}

.FluxTable {
  border: 1px solid black;
  border-radius: 2px;
}

.FluxMoreInfoCB {
  /* Keep text from doign line breaks... */
  display: inline-block;
  width: 15em;
}
