.GridFirstCol
{
  grid-column-start: 1;
}

.GridSecondCol
{
  grid-column-start: 2;
}

.GridStretchCol
{
  justify-self: stretch;
}

.GridJustifyCenter, .GridHorCenter
{
  justify-self: center;
}

.GridJustifyEnd
{
  justify-self: end;
}

.GridJustifyStart
{
  justify-self: start;
}

.GridThirdCol
{
  grid-column-start: 3;
}

.GridFourthCol
{
  grid-column-start: 4;
}

.GridFifthCol
{
  grid-column-start: 5;
}

.GridSixthCol
{
  grid-column-start: 6;
}

.GridSeventhCol
{
  grid-column-start: 7;
}

.GridEighthCol
{
  grid-column-start: 8; 
}

.GridNinthCol
{
  grid-column-start: 9;
}

.GridTenthCol
{
  grid-column-start: 10;
}

.GridEleventhCol
{
  grid-column-start: 11;
}


.GridFirstRow
{
  grid-row-start: 1;
}

.GridSecondRow
{
  grid-row-start: 2;
}

.GridThirdRow
{
  grid-row-start: 3;
}

.GridFourthRow
{
  grid-row-start: 4;
}

.GridFifthRow
{
  grid-row-start: 5;
}

.GridSixthRow
{
  grid-row-start: 6;
}

.GridSeventhRow
{
  grid-row-start: 7;
}

.GridEighthRow
{
  grid-row-start: 8;
}

.GridNinthRow
{
  grid-row-start: 9;
}

.GridTenthRow
{
  grid-row-start: 9;
}

.GridSpanTwoCol
{
  grid-column-end: span 2;
}

.GridSpanThreeCol
{
  grid-column-end: span 3;
}

.GridSpanFourCol
{
  grid-column-end: span 4;
}

.GridSpanFiveCol
{
  grid-column-end: span 5;
}

.GridSpanTwoRows
{
  grid-row-end: span 2;
}


.GridVertCenter
{
  align-self: center;
}
