.helpTree
{
  overflow: auto;
}

.searchBox {
  background: url(../InterSpec_resources/images/search-white.png) no-repeat 7px 2px #fcfcfc;
  border: 1px solid #d1d1d1;
  width: 150px;
  padding: 0px 15px 0px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}


/* Classes to use within the actual help content. */
.BorderedHelpTable {
  border-collapse: collapse;
}

.BorderedHelpTable td, .BorderedHelpTable th {
  border: 1px solid black;
  
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

