
body
{
  /* Get rid of the annoying callout on webkit touch devices */
  -webkit-user-select: none !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  -webkit-touch-callout: none !important;
}

.Wt-suggest
{
  padding-left: 5px;
  padding-right: 6px;
}


.specviewer
{
/*Make none of the elements selectable by default*/
-moz-user-select: none; 
-khtml-user-select: none; 
-webkit-user-select: none; 
-o-user-select: none; 
}

.SpectrumChart
{
}


#qtip-growl-container{
position: fixed;
top: 10px; right: 10px;
z-index: 2000000000; /*super large number, nothing should cover this */
}
#qtip-growl-container .qtip{
position: static;
min-height: 0;
overflow: hidden;
margin: 0 0 5px 0;
}

.searchBox {
background: url(../InterSpec_resources/images/search-white.png) no-repeat 7px 2px #fcfcfc;
border: 1px solid #d1d1d1;
width: 150px;
padding: 0px 15px 0px 35px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
-webkit-transition: all 0.7s ease 0s;
-moz-transition: all 0.7s ease 0s;
-o-transition: all 0.7s ease 0s;
transition: all 0.7s ease 0s;
}

.imageBorder {
padding:1px;
border:1px solid #021a40;
}

.FileUploadCover
{
  width: 100%;
  height: 100%;
  background: gray;
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 16777270;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.UpDiv
{
  position: absolute;
  width: 33.33%;
  height: 100%;
  top: 0%;
}


.UpCenterDiv
{
  height: 30%;
  width: 80%;
  position: absolute;
  top: 35%;
  left: 10%;
  vertical-align: middle;
  display:table;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 4px solid white;
}


.UpDivTxt
{
  display:table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: Helvetica, Arial;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.UpDivTxt.disabled
{
  color: #B8B8B8;
}

.UpCenterDiv.disabled
{
  border: 4px solid #B8B8B8;
}

.UpDiv.active
{  
background: #4A4A4A;
/*  border: 4px solid white; */
/*  -webkit-border-radius: 15px;*/
/*  -moz-border-radius: 15px; */
/*  border-radius: 15px; */
}

.UpDiv.active > .UpCenterDiv
{
    border: 4px solid #12DA12;
}

.UpFileContents 
{
  left: 33.33%;
}

.UpForeground
{
left: 0%;  
border-right: 1px dashed white;
}


.UpBackground
{
left: 33.33%;
border-right: 1px dashed white;
}

.Up2ndForeground
{
left: 66.667%;
}

.UpInstrInfoWrapper
{
position: absolute;
text-align: center;
top: 7.5%;
left:0;
width:100%;
}

.UpInstr
{
 display: inline-block;
 font-family: Helvetica, Arial;
 font-size: 18px;
 font-weight: bold;
 color: white;
}


.UpInfoWrapper
{
position: absolute;
text-align: center;
top: 80%;
left:0;
width:100%;
}

.UpInfo
{
 display: inline-block;
 padding: 5px;
 font-family: Helvetica, Arial;
 font-size: 25px;
 font-weight: bold;
 color: white;
/* border: 4px solid white; */
/*  -webkit-border-radius: 10px; */
/*  -moz-border-radius: 10px; */
/*  border-radius: 10px; */
}


.SpectrumDisplayDiv
{
  /* This is the <div> that holds the  WtTh1Chart. This <div> is managed by a */
  /* Wt::WBorderLayout layout inorder to maximize the chart to the <div>.     */
}

/* ------------------------- */
/* ----    ICON CLASS   ---- */
/* ------------------------- */

/* The IconClass style is required for the following icons to behave correctly */

.IconClass, .IconClass:hover {
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.IconClass:disabled, .IconClass:disabled:hover {

}

.CrossIcon,.CrossIcon:hover
{
  background-image: url('../InterSpec_resources/images/cross.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.AcceptIcon:disabled, .AcceptIcon:disabled:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  cursor: not-allowed;
  -webkit-filter: grayscale(100%);
}

.AcceptIcon, .AcceptIcon:hover {
  background-image: url('../InterSpec_resources/images/accept.png');

  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.AddIcon,.AddIcon:hover
{
  background-image: url('../InterSpec_resources/images/add.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.DeleteIcon,.DeleteIcon:hover
{
  background-image: url('../InterSpec_resources/images/delete.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.UndoIcon,.UndoIcon:hover
{
  background-image: url('../InterSpec_resources/images/arrow_undo.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.DiskIcon,.DiskIcon:hover
{
  background-image: url('../InterSpec_resources/images/disk.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.BulletIcon,.BulletIcon:hover
{
    background-image: url('../InterSpec_resources/images/bullet_green.png');
    background-position: 3px center;
    background-repeat: no-repeat;
    padding-left: 21px;  /* width of the image plus a little extra padding */
}

.TimeIcon,.TimeIcon:hover
{
    background-image: url('../InterSpec_resources/images/time.png');
    background-position: 3px center;
    background-repeat: no-repeat;
    padding-left: 21px;  /* width of the image plus a little extra padding */
}

.CurveAddIcon,.CurveAddIcon:hover
{
  background-image: url('../InterSpec_resources/images/chart_curve_add.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}


.CurveDeleteIcon,.CurveDeleteIcon:hover
{
  background-image: url('../InterSpec_resources/images/chart_curve_delete.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}


.PageWhiteGoIcon,.PageWhiteGoIcon:hover
{
  background-image: url('../InterSpec_resources/images/page_white_go.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}



.LibraryIcon,.LibraryIcon:hover
{
  background-image: url('../InterSpec_resources/images/book.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
  margin-bottom:5px;
}

.FolderExploreIcon,.FolderExploreIcon:hover
{
  background-image: url('../InterSpec_resources/images/folder_explore.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
  margin-bottom:5px;
}


.FolderPageIcon,.FolderPageIcon:hover
{
  background-image: url('../InterSpec_resources/images/folder_page.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
  margin-bottom:5px;
}

.PreviewIcon,.PreviewIcon:hover
{
  background-image: url('../InterSpec_resources/images/page_white_magnify.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
  margin-bottom:5px;
}

.ChartLineIcon,.ChartLineIcon:hover
{
  background-image: url('../InterSpec_resources/images/chart_line.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
    margin-bottom:5px;
      margin-left: 5px;
}

.DatabaseGoIcon,.DatabaseGoIcon:hover
{
  background-image: url('../InterSpec_resources/images/database_go.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
    margin-bottom:5px;
      margin-left: 5px;
}

.DownArrowIcon,.DownArrowIcon:hover
{
  background-image: url('../InterSpec_resources/images/bullet_arrow_down.png');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 21px;  /* width of the image plus a little extra padding */
}

.DownArrowAndDownloadIcon,.DownArrowAndDownloadIcon:hover
{
  background-image: url('../InterSpec_resources/images/disk.png'),url('../InterSpec_resources/images/bullet_arrow_down.png');
  background-position: 3px center, right center;
  background-repeat: no-repeat, no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
  padding-right: 21px;  /* width of the image plus a little extra padding */
}

.AddAndDownloadIcon,.AddAndDownloadIcon:hover
{
  background-image: url('../InterSpec_resources/images/add.png'),url('../InterSpec_resources/images/bullet_arrow_down.png');
  background-position: 3px center, right center;
  background-repeat: no-repeat, no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
  padding-right: 21px;  /* width of the image plus a little extra padding */
}

.CursorIcon,.CursorIcon:hover
{
  background-image: url('../InterSpec_resources/images/cursor.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.FindIcon,.FindIcon:hover
{
  background-image: url('../InterSpec_resources/images/magnifier.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.BinIcon,.BinIcon:hover
{
  background-image: url('../InterSpec_resources/images/bin.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.WandIcon,.WandIcon:hover
{
  background-image: url('../InterSpec_resources/images/wand.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.JoinIcon,.JoinIcon:hover
{
  background-image: url('../InterSpec_resources/images/arrow_join.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}


.CameraIcon,.CameraIcon:hover
{
  background-image: url('../InterSpec_resources/images/camera.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.GearIcon,.GearIcon:hover
{
  background-image: url('../InterSpec_resources/images/cog.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.ShieldAddIcon,.ShieldAddIcon:hover
{
  background-image: url('../InterSpec_resources/images/shield_add.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.ShieldIcon,.ShieldIcon:hover
{
  background-image: url('../InterSpec_resources/images/shield.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.ShieldAddIcon,.ShieldAddIcon:hover
{
    background-image: url('../InterSpec_resources/images/shield_add.png');
    background-position: 3px center;
    background-repeat: no-repeat;
    padding-left: 21px;  /* width of the image plus a little extra padding */
}

.ShapeSquareIcon,.ShapeSquareIcon:hover
{
  background-image: url('../InterSpec_resources/images/shape_square.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}


.ShapeSquareAddIcon,.ShapeSquareAddIcon:hover
{
  background-image: url('../InterSpec_resources/images/shape_square_add.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.BulletGoIcon,.BulletGoIcon:hover
{
  background-image: url('../InterSpec_resources/images/bullet_go.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}




.CurveIcon,.CurveIcon:hover
{
  background-image: url('../InterSpec_resources/images/chart_curve.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.RefreshIcon,.RefreshIcon:hover
{
  background-image: url('../InterSpec_resources/images/arrow_refresh.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.PageStackIcon,.PageStackIcon:hover
{
  background-image: url('../InterSpec_resources/images/page_white_stack.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.helpButton
{
  padding-top: 2px;
  float: left;
  width: 20px;
  height: 20px;
  cursor:pointer;
}

.filemanageroverflow
{
  overflow: visible;
}

.helpTree
{
  overflow: auto;
}

.line-below
{

    /*  border: 2px solid green;*/
    /*  background-color: #f5f5f5; */
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
    margin-bottom: 5px;
}


.line-above
{
    
    /*  border: 2px solid green;*/
    /*  background-color: #f5f5f5; */
    border-top: 1px solid #ddd;
    padding-top: 7px;
    margin-top: 5px;
}

.modal-footer 
{
  padding: 10px 10px 10px;
  margin-bottom: 5px;
  text-align: right;
  white-space:nowrap;
  height: 50px;
/*  border: 2px solid green;*/
/*  background-color: #f5f5f5; */
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 0px 0px;
     -moz-border-radius: 0 0 0px 0px;
          border-radius: 0 0 0px 0px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer button,.modal-footer button:hover{
  margin-right:2px;
  margin-left:2px;
}

.secondary{
  -webkit-filter: grayscale(40%);
}

.secondary:hover{
  -webkit-filter: grayscale(0%);
}


.CanvasForDragging
{
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none;
  user-select: none;
}


/*Fix an undesired display isue with WTabWidget*/
br.Wt-tabs-clear
{
    display: none;
}



.PopupDivMenu
{
  background-color: #FAFAFA;
  border: solid 1px #e1e1e1;
  max-height: 90%;
  overflow-y: auto;
}


.PopupDivMenuItem-disabled
{
background: none;
color: #D2D2D2;
}

.NeutDetCbItem
{
  color: blue;
}

.PopupDivMenuPhone
{
  border: solid 1px #e1e1e1;
  background-color: #FAFAFA;
  height: 100%;
  width: 220px;
  overflow-y: auto;
}

.PopupDivMenuPhone.Root
{
box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
}

.PopupDivMenuPhone > li > a
{
  height: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


.PhoneMenuBack, .PhoneMenuClose
{
  background: #E6E6E6;
}

.DialogClose
{
  float: right;
}


.PhoneDialogClose, .PhoneDialogClose:hover
{
  float: right;
  background: transparent url(images/menuclose.png) no-repeat scroll left top;
  background-position: 5 5;
  
  height: 26px;
  width: 26px;
  border: 0px;
  padding: 0px;
  cursor: default;
  margin-right: 9px;
  margin-top: 5px;
}


/*.PhoneMenuClose > li > a : after*/
/*{*/
/*  content: url(images/menuclose.png)*/
/*}*/

.ShiledingSourceOptionsBtn
{
/*  background: grey url(images/hamburger.png); */
/*  margin:0;*/
/*  padding:0;*/
/*  width: 32px;*/
/*  height: 34px;*/
/*  opacity: .55; */
/*  cursor:pointer; */
}

.ShiledingSourceOptionsBtn.active
{
  opacity: 1.0;
}

.MobileMenuButton
{
  background: grey url(images/hamburger.png);
  margin:0;
  padding:0;
  position:fixed; 
  top:5px;
  left:5px;
  width: 32px;
  height: 34px;
  opacity: .55;
  /* The z-index is set with inline styling to 8388635 */
  /* z-index: 8388635; */ /*could use max val of 2147483638*/
}


.MobileBackButton
{
    background: grey url(images/resultset_first.png);
    background-repeat:no-repeat;
    background-position: left;
    background-size: 32px 32px;
    margin:0;
    position:fixed;
    bottom:5px;
    left:5px;
   /* width: 150px;*/
    height: 34px;
    opacity: .75;
    padding: 0px 15px 0px 35px  !important;
    text-align: right;
    filter:gray; /* IE6-9 */
    -webkit-filter:grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);

    /* The z-index is set with inline styling to 8388635 */
    /* z-index: 8388635; */ /*could use max val of 2147483638*/
}

.MobileForwardButton
{
    background: grey url(images/resultset_last.png);
    background-repeat:no-repeat;
    background-position: right;
    background-size:32px 32px;
    text-align: left;
    margin:0;
    position:fixed;
    bottom:5px;
    right:5px;
    /*width: 150px;*/
    height: 34px;
    opacity: .75;
    padding: 0px 35px 0px 15px !important;
    filter:gray; /* IE6-9 */
    -webkit-filter:grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    /* The z-index is set with inline styling to 8388635 */
    /* z-index: 8388635; */ /*could use max val of 2147483638*/
}


.ExclusiveUser
{
  float: right;
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
}

.MobileMenuButton.active
{
/*  background: white url(images/hamburger.png);*/
  opacity: 1.0;
}

.helpPopupMainContainer {
  opacity:1.0;
  border: 0px solid black;

}

.helpPopupMainContainer2 {
  position:relative;
  opacity:1.0;
  border: 0px solid black;
  left:15px;
  top:-8px;
}



.toolTip {
font-size: 80%;
opacity:1.0;
top:-8px;
left:15px;
background-color: rgb(253, 255, 218);
border: 1px solid #73a7f0;
width: 200px;
height: 100px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
box-shadow: 0px 0px 8px -1px black;
-moz-box-shadow: 0px 0px 8px -1px black;
-webkit-box-shadow: 0px 0px 8px -1px black;
}

.toolTip p {
padding-left:10px;
}

.tailShadow {
background-color: transparent;
width: 4px;
height: 4px;
position: absolute;
top: 16px;
left: -8px;
z-index: -10;
box-shadow: 0px 0px 8px 1px black;
-moz-box-shadow: 0px 0px 8px 1px black;
-webkit-box-shadow: 0px 0px 8px 1px black;
}

.tail1 {
width: 0px;
height: 0px;
border: 10px solid;
border-color: transparent #73a7f0 transparent transparent;
position:absolute;
top: 8px;
left: -20px;
}

.tail2 {
width: 0px;
height: 0px;
border: 10px solid;
border-color: transparent rgb(253, 255, 218) transparent transparent;
position:absolute;
left: -18px;
top: 8px;
}


/*@media (-webkit-min-device-pixel-ratio: 2), and (min-device-width : 320px) and (max-device-width : 640px){ */
/*.MobileMenuButton{width: 50px; height: 51px; background-size:48px 48px; background: red url(images/hamburger.png); } */
/*}*/


.UseInfoStack
{
  border-left: solid 1px #e1e1e1;

  margin-left: 5px;
  padding-left: 10px;
}

.UseInfoItem
{
  margin-left: 10px;
  margin-right: 5px;
  overflow-y: auto;
}


.SideMenu
{
  margin: 0px;
  padding-left: 10px;
  padding-right:10px;
  list-style-type: none;
  overflow: auto;
  font-size: 13px;
  width: 12.5em;
}

.SideMenuPhone
{
    
    margin: 0px;
    padding-top:30px;
    padding-left: 5px;
    padding-right:5px;
    list-style-type: none;
    overflow: auto;
    font-size: 13px;
    width: 30px;
}



.SideMenuPhone li
{
    vertical-align:middle;
    /*  font-size: small;*/
    font-weight: bold;

    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.SideMenu > li 
{
}

.SideMenu li
{
  vertical-align:middle;
/*  font-size: small;*/
  font-weight: bold;
  height: 2.5em;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.SideMenu a
{
  padding-left: 10px;
  padding-right: 5px;
  cursor:pointer;
}


/*fix the menu item links that the SRB CSS messes up*/
ul.Wt-popupmenu > li > a > span > span
{ 
  font-weight: normal;
  color: black;
}

ul.Wt-popupmenu > li.active > a > span > span
{
 color: #E0F5FF;
}

ul.Wt-popupmenu > li > a > span > span:hover
{
 color: white;
}


.SideMenu li.item > a
{
color: white;
}

.SideMenu li.itemselected > a
{
color: #E0F5FF;
}

.SideMenu li :hover
{
  border-color: #eeeeee #eeeeee #dddddd;
}

.SideMenu li.itemselected
{
background: #C6C6C6;
}
  
.SideMenu li.itemselected:hover
{
}

.SideMenu li.item
{
background: #888888;
}

.SideMenu li.item:hover
{
background: #9B9B9B;
}




   

.m_peakTabs
{
}

.PeakTabOldWt
{
}


.PeakInfoDisplay
{
}

.PeakEdit
{
overflow-y: auto;
}

.PeakEditTable
{
}

.PeakEditWindow
{
}

.PeakEditOtherPeaks
{
  text-align: center;
  padding-top: 0.5em;
}

.PeakEditPreviousPeak, .PeakEditNextPeak
{
  position:absolute;
  bottom: 0;
  height: 22px;
  width: 22px;
  border: 0px;
  padding: 0px;
  cursor: default;
}

.PeakEditPreviousPeak
{
  background: transparent url(previous_arrow.png) no-repeat scroll right top;
  left: 10px;
}

.PeakEditNextPeak
{
  background: transparent url(next_arrow.png) no-repeat scroll right top;
  right: 10px;
}




.PeakEditHint
{
color: gray;
margin-left: 2em;
font-size:66%
}

.WarningWidget
{
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

.WarningMsg
{
  padding: 2px;
  overflow-x: hidden;
}


.RecalibratorWide
{
  margin-top: 2px;
}

.RecalibratorTall
{
}


.DeviationPairDisplay
{
  margin-left: 5px;
  border: 2px solid #e1e1e1;
  width: 20em;
}


.DeviationPairDisplayWide
{
  width: 220px;
  border: 2px solid #e1e1e1;
  overflow-y: auto;
}

.DeviationPairDisplayTall
{
  width: auto;
  height: 11.65em;
  border: 1px solid #e1e1e1;
  overflow-y: auto;
}

.DevPairTitle
{
  font-weight:bold;
  background:#EEEEEE; 
  white-space:nowrap;
  text-align: center;
}


.DevPairHeader
{
  border-bottom: 2px solid #e1e1e1;   
}

.DevPairEnergyHeader, .DevPairOffsetHeader
{
  font-weight:bold;
  width: 45%;
  display: inline-block;
  padding-left: 3px;
}

.AddDevPair
{
}

.DevOffset, .DevEnergy
{
/*  width:60px;*/
  margin-left:5px;
}

.DevOffset
{
  margin-left:10px;
  margin-right:4px;
}

.DevPairEnergyHeader
{
  border-right: 1px solid #e1e1e1;
}


.DevPairsContainer
{
/*  border: 1px solid #e1e1e1;*/
  padding: 3px;
  overflow-y: auto;
}

.DevPair
{
  margin-top: 2px;
  border: 1px solid #e1e1e1;
}



.RecalRow
{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}



.RecalTermsDiv
{
  /*display: inline-block;*/
  float: left;
}



.RecalLabel
{
  /*display:block;*/
  display: inline-block;
/*  width:5.75em;*/
  white-space:nowrap;
}

.RecalFit
{
  /*display:block;*/
  display: inline-block;
  margin-left: 0.85em;
}

.RecalInput
{
  /*display:block;*/
  display: inline-block;
/*  width:6em;*/
}

.RecalExp
{
  /*display:block;*/
  display: inline-block;
/*  width:6.25em;*/
  white-space:nowrap;
  margin-left: 0.25em;
}

.RecalIsotopeView
{  
  border: 2px solid #e1e1e1;
/*  float: left;*/
/*  width:28em;*/
/*  height: 15.5em;*/
}


.RecalApplyToCbL
{
  /*display:block;*/
  display: inline-block;
/*  margin-left: 4em;*/
/*  width: 8em;*/
}

.RecalApplyToCbR
{
  /*display:block;*/
  display: inline-block;
/*  margin-left: 4em;*/
}

.RecalFitBtn, .RecalFitBtn:hover
{
  /*display:block;*/
/*  margin-left: 17em;*/
float:right;
}

.RecalCancelbtn, .RecalCancelbtn:hover
{
/* margin-left: 0.5em;*/
float:right;
}

.RecalPreviewbtn, .RecalPreviewbtn:hover
{
  float:right;
}

.FloatLeft, .FloatLeft:hover
{
  float:left;
}

.PreserveLastCalCb
{
  margin-left: 1.0em;
}


.IsotopeSearchByEnergy
{
  /*width: 54em;*/
  width: 98%;
  /*display:table;*/
  margin-left: 0px;
}

.SearchEnergiesLeftDiv
{
  /*display: inline-block;*/
  /*display: table-cell;*/
  /*float: left;*/
  /*margin-left: 5px;*/
  border: 2px solid #e1e1e1;   
  /*height: 95%;*/
  /*height: 10em;*/
  width: 25.7em;
  height: 100%;
}

.IsoSearchSrcCB
{
  padding-right: 5px;
  padding-top: 2px;
}

.IsoSearchSrcDiv
{
/*  width: 23.2em;*/
}


.SearchEnergies
{
  border: 1px solid #e1e1e1;   
  margin: 2px;
/*  min-height: 8em;*/
  overflow-y: auto;
  width: 25.2em;
  top: 5px;
  right: 0;
  left: 0;
}

.SearchEnergiesButtonDiv
{
 position:absolute;
 bottom: 0; 
 right: 0;
 left: 0;
 width: 25em;
 padding-bottom: 5px;
}

.SearchingEnergiesTxt
{
  background: red;
  color: white;
  vertical-align: middle;
}


.MinBrLabel
{
  margin-left: 0.5em;
  margin-right: 0.1em;
}

.MinHlLabel
{
  margin-left: 0.75em;
  margin-right: 0.1em;
}

.IsotopeSearchResults
{
  /*display: inline-block;*/
  /*float: right;*/
  /*display: table-cell;*/
  height: 95%;
  /*width: auto;*/
}

.IsotopeSearchResultTable
{
  border: 2px solid #e1e1e1;
}


.SearchEnergy
{
  border: 1px solid #e1e1e1;   
  margin: 2px;
  padding: 2px;
/*  width: 22em;*/
}

.ActiveSearchEnergy
{
background: blue; /*for IEs sake*/
background: rgba(36, 169, 211, 0.25);
}

.searchEnergiesDiv
{
  border-top: thin #B2B2B2;
  border-style: solid;
}

.energyAddDelete,
{
  vertical-align: sub;
  cursor:pointer;
}

.ShieldingDelete, .ShieldingAdd, .ShieldingDelete:hover, .ShieldingAdd:hover
{
  opacity:0.5;
  cursor:pointer;
  color: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
/*  padding-left: 16px; */
/*  padding-top: 16px; */
  
}

.ShieldingDelete, .ShieldingDelete:hover
{
  background-image: url('../InterSpec_resources/images/delete.png');
  background-position: 0px center;
  background-repeat: no-repeat;
}

.ShieldingAdd, .ShieldingAdd:hover
{
  background-image: url('../InterSpec_resources/images/add.png');
  background-position: 0px center;
  background-repeat: no-repeat;
}

.ShieldingDelete:hover, .ShieldingAdd:hover
{
  opacity:1.0;
}

.SearchEnergyLabel
{
}

.SearchEnergyWindowLabel
{
 margin-left: 0px;
}

.SpecMeasManager
{
/*  border: 1px solid #e1e1e1;*/
/*  background: #f9f9f9;*/
/*  min-width: 175px;*/
/*  min-height: 15em;*/
}

.SpectraFileManagerHeader
{
  cursor: crosshair;
  text-align: left;
  margin: 0;
  background-color: #e1e1e1;
  padding-top: 0.4em;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}


.treeDiv
{
  border: 1px solid #e1e1e1;
  margin-bottom: 8px;
/*  border: 2px solid blue;*/
}


.AuxWindow-content, .AuxWindow-footer
{
padding: 0px;
/*border: 2px solid red;*/

overflow: auto;

-moz-user-select: none; 
-khtml-user-select: none; 
-webkit-user-select: none; 
-o-user-select: none;
}

.titleVertMiddle
{
/*    position:relative; */
    top:50%;
    vertical-align:middle;
/*    transform: translateY(-50%); */
}

.helptitlebar,.helptitlebar:hover
{
  width:auto;
  padding: 0px;
  height: 25px;
  background-color: #5492EE;
}

.helpIconTitleBar
{
vertical-align: middle;
margin: 4px;
}

.titlebar
{
/*border: 2px solid blue;*/
/*border: 0px;*/
width:auto;
padding: 0px;
height: 25px;

}

.titlebar:hover
{
background-color: #909090;
}

.DbSpecFileSelectTable
{
border: 1px solid #e1e1e1;
}

table.RecalibCoefTable
{
border-collapse:collapse;
margin-left:auto;
margin-right:auto;
margin-top: 10px;
}

table.RecalibCoefTable td, table.RecalibCoefTable th
{
border:1px solid black;
padding: 2px;
}


.CollaseIcon
{
}

.ExpandIcon
{
}

.ExpandedDialogfooter
{
  height: 0px; padding: 0; margin: 0;
}

.CollapsedDialogFooter
{
  height: 10px; padding: 0; margin: 0;
  background-color: #EEEEEE;
}


.plusimg
{
padding: 0;
margin-left: 0;
}

.minusimg, .minusimg-disable
{
padding: 0;
margin-left: -7px;
}


.minusimg-disable
{
opacity:0.4;
}


.peakinfo
{
  display: inline-block;
  position:absolute;
  background: #FFFFCC;
  border:2px solid #444422;
  padding-left: 5px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.85;
}


.ShieldingSelect
{
/*  border:2px solid #444422;*/
  margin-left:   5px;
  margin-right:  5px;
  margin-top:    3px;
  margin-bottom: 3px;
}

.ShieldingSelectContainer
{
   min-width: 19em;
   min-height: 10em;
   overflow-y: auto;
}

.MassFracNoFit
{
  background: Silver;
  margin-left: 3ex;
}

.CalculationLog
{
  white-space: pre;
  font-family: monospace;
  display: block;
  overflow: auto;
}

.CalcLogLink, .InfoLink
{
  color:grey;
}


.CalcLogLink:hover, .InfoLink:hover
{
  color:blue;
}

.InfoLink
{
  color:grey;
  text-decoration:underline;
  cursor:pointer;
}


.ShieldingSourceDisplay_m_peakView
{
   height: 100%;
   border:2px solid #e1e1e1; 
}

.ShieldingSourceDisplay_m_sourceView
{
   height: 100%;
   border:2px solid #e1e1e1; 
}

.GenericMaterialCB
{
white-space:nowrap;
margin-right: 0.7em;
}

.ShieldingSourceFitDistance
{
/*white-space:nowrap;*/
/*margin-right: 0.7em;*/
/*float:right;*/
}


/*Fix some stuff that SRB common CSS messes up*/
button
{
  padding:4px 4px;
  margin:0 0px;
  font-weight:bold;
  background: #888888; color: #FFFFFF;
  border-color: #E1E1E1;
  border-style: solid;
  border:1px solid #e1e1e1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

button:hover,
.button:hover,
.submit:hover {
padding:4px 4px;
margin:0 0px;
font-weight:bold;
border-color: #E1E1E1;
border-style: solid;
border:1px solid #e1e1e1;
cursor: pointer;
}

button[disabled]
{
  background-color: #999999;
  color: #aaaaaa;
  
  opacity: 0.8;
  filter: alpha(opacity=80);
  cursor: not-allowed;
  -webkit-filter: grayscale(100%);
}

li{ padding-top: 0; }
table { margin-bottom:0; }
a:hover { color:#E88400; border-bottom:none; }
th, td { border: none; padding: 0; vertical-align: none; text-align: none; }


.Wt-tabs > li
{
padding-top: 0;
}

body
{
/*  color: #303030;*/
/*  background-color: #f9f9f9;*/
  background: none;
  color: none;
  background-color: none;
/*   font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;*/
/*   font-weight: 300;*/
/*  font-family: Times; */
  font-size: 14px;
/*  line-height: 1.428;*/
 font-family:Helvetica, Arial, Verdana, sans-serif;
        padding:5px;

}

h1 
{ 
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin-bottom:0;
  font-family: Times;
  margin-before: 0.15em;
  margin-after: 0.25em;
-webkit-margin-before: 0.15em;
-webkit-margin-after: 0.25em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

/*table*/
/*{*/
/*  border-spacing: 0;*/
/*}*/

.clearsession
{
  padding-top: 7px;
  text-align: center;
}

.clearsessiontxt
{
  padding: 3px;
  padding-top: 4px;
  border: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #EEEEEE;
}


div.m_menuDiv
{
/*  padding-bottom: 0.2em;*/
  border-bottom: 1px solid grey;
  padding-top: 0px;
}


span.MenuLabel
{
/*  border: 1px solid blue; */
padding-left: 1.0ex;
padding-right: 1.0ex;
}

span.MenuLabelSelected
{
  color: white;
  background: grey;
}

.Wt-tableview .Wt-spacer 
{
/* background: white;*/
}

/*.PopupMenuParentButtonMobile
{
  padding: 7px 8px 6px 8px; !important;
}*/

.URLogo
{
    padding-top: 3px;
    padding-right: 8px;
}


.PopupMenuParentButton, .PopupMenuParentButton:hover
{
  height: 23px; /*leave 1 px for UpperMenuDivWithLogos lower border */
  padding: 4px 8px 3px 8px;
  margin:0px 0px;
  font-weight:normal;
  background: #FFFFFF; color: black;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;

}

.UpperMenuDivWithLogos
{
  height: 24px;  /*pics are 18px with 3px top padding*/
  font-size: 15px;
  padding-top: 0px;
  border-bottom: 1px solid grey;
  background: #FFF;
}


/*.PopupMenuParentButton:hover{background: #E6E6E6;}*/

.PopupMenuParentButton.active
{
  background: grey;
  
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}


.PopupDivMenuWidget.active
{
  background-color: #FAFAFA;
  color: black;
}



button.PopupMenuItemButton
{
  /*This is a button appearing somewhere inside of a PopupDiv*/
  list-style:none;
  border:2px solid #FAFAFA;
  background: silver;
  width: auto;
  text-align: left;
}

button.PopupMenuItemButtonNoFullWidth
{
  /*This is a button appearing somewhere inside of a PopupDiv*/
  list-style:none;
  border:2px solid #FAFAFA;
  background: silver;
  text-align: left;
}


.NumPeakSelect
{
  border:2px solid blue;
}

.searchMethodDiv
{
  border-color: #888;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.PhotopeakLineDisplay
{
  margin-top: 3px;
  margin-left: 0.5em;
}

.PhotopeakLineDisplayMobile
{
  padding-top: 0px;
}


.ParticleViewTable, .FilesInZipTable
{
/*  width:37.5em; */
/*  height: 15.2em; */
  border: 2px solid #e1e1e1;
}


.IsotopePeaksMobileTabs
{
}

.IsotopePeaksMobileWindowContents
{
}

.legend
{
border: none;
background: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}


.legend-body
{
/*  background: #EEEEEE;*/
/*background: #FAFAFA;*/
background: rgba(245,245,245,0.5);
padding: 4px 6px 4px;
border: solid 1px rgba(185,185,185,0.80); /*#909090;*/
border-top:none;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
color:#000000;
}

.legend-body
{
  white-space:nowrap;
}

.legend-title
{
 min-width: 7em;
 background-color: rgba(185,185,185,0.80) !important;
 height: 20px;
border: solid 1px rgba(185,185,185,0.80); /*#909090;*/
border-bottom:none;
-webkit-border-top-right-radius: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-topleft: 5px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

.legend-title .closeicon
{
top: 3px;
}

.legend-title:hover
{
background-color: #909090 !important;
border: solid 1px #909090;
}

.closeicon-wtdefault
{
background: transparent url(../resources/themes/default/closeicons-tab.png) no-repeat scroll right top;
margin: 2px 4px 0px 0px;
height: 13px;
width: 13px;
border: 0px;
padding: 0px;
/*margin-top: 2px;*/
cursor: default;
}

.closeicon-wtdefault:hover
{
background-position: right -13px;
margin: 2px 4px 0px 0px;
height: 13px;
width: 13px;
border: 0px;
padding: 0px;
cursor: default;
}


.loading
{
  cursor: wait !important;
}


#SrbHeader
{
  /* Used in WtTh1Application.cpp */
  padding-top:15px;
  width:99.9%;
  margin-bottom:  0;
  padding-bottom: 0;
  height: 40px;
  /* position: fixed;  */
  /* right: 0px; */
  /* top: 0px; */
  /* clear:both; */
  /*apparently only IE6 reads css properties starting with an underscore (a bug in IE6)*/
  /* _min-height: 600px; */
  /* _margin-bottom: 300px; */
  /* _position: absolute; */
  _z-index: 5;
}


#SrbFooter
{
  /* Used in WtTh1Application.cpp */

  background:#ffffff top left url('../../../srb_common/assets/images/footer.png') repeat-x;
  clear:left;
  margin:0 0 0 0;
  padding:0;
  padding-left:2.0em;
  width:99.9%;
  /* position: relative; */
  /* left: 0px;  */
  /* top: 200px; */
  left: 0px;
  /* top: 0px; */
  float: bottom;
  height: 80px;  /*put in for the sake of IE */
}

@media screen and (max-height: 768px) 
{ 
#SrbHeader 
{
  height: 30px;
}
}

#footer
{
  margin: 0px 0px 0px 0px;
  padding: 0em;
  padding-top: 10px;
}

#sponsors
{
  padding-bottom: 0.25em;
  padding-top: 0.5em;
  margin-bottom: 0px;
}

#sponsors img
{
  margin-bottom: 0px;
  vertical-align: middle
}

#sponsors_local {
  /* Used in SrbApplication.cpp, for the layout of the two logos in the footer*/
  /* The 'sponsors_local' naming does not coorespond to a c++ object. */
        float:left;
        width:240px;
}

/*Overide some SRB default css */
th, td
{
  padding:0px;
  border: none;
}


.CompactFileManager
{
  padding: 0px;
/*  border: solid 2px #e1e1e1; */
  width: 250px;
  overflow-y: hidden;
}


div.CompactSampleWrapper
{

  border-color: grey;
  border-style: ridge;
  border-width: 1px;

}

.img-centered
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: centered;
}

div.displaySampleDiv  
{
  /*Used in the CompactFileManager class*/
  text-align: center;
  padding-top: 5px;
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

.displaySampleSelect
{
  width: 95%;
}

.displayPrevSample
{
  position: relative;
  top: 6px;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.displayNextSample
{
  position: relative;
  top: 6px;
  width: 22px;
  height: 22px;
  margin-left: 10px;
}

.displaySampleInput
{
}


.CompactInfoTxt
{
  color: gray;
  /*vertical-align: text-bottom;*/
  /*position: absolute;*/
  /*bottom: 5px;*/
}

.CompactSpecTitle
{
}

.SpecNormSlider
{
  margin-left: 15px;
  margin-right: 15px;
}

.SpecNormTxt
{
  width: 5em;
}

.FileParseErrorText
{
}

button.FileParseErrorButton
{
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}

/*
 This allows buttons and links to work
 */
.TransparentFooter > button, .TransparentFooter > a, .TransparentFooter > img, .TransparentFooter > input
{
    pointer-events:auto;

}


.PhoneAuxWindowHeader
{
  white-space:nowrap;
  margin-top: 0;
  text-align: right;
  background-color: #FAFAFA;
}

.PhoneAuxWindowFooter
{
  margin-top: 3px;
  height: 25px;
}

.TransparentFooter
{
/*    padding: 2px 2px 10px; */
    margin-bottom: 0;
    text-align: right;
    white-space:nowrap;
    height: 20px;
    border-top: 1px solid #ddd;
    
    pointer-events:none;
    background:rgba(0,0,0,0.2);
    
/*    width:100%;
    height:50px;
    position:absolute;
    bottom:0;
    left:0; */

}

.SpectraFileManagerButtonDiv
{
/*  height: 5.0em;*/
  /*border: 1px solid #e1e1e1;*/
}
.LoadSpectrumText
{
}

button.LoadSpectrumButton
{
/*border:1px solid #ECECEC;*/
border:1px solid #5A5A5A;
background: none;
/*color: #454545;*/
color: #5A5A5A;
}

button.LoadSpectrumButton[disabled]
{
border:1px solid #D2D2D2;
background: none;
color: #D2D2D2;
}

button.LoadSpectrumButton:hover
{
/*color: red;*/
}

button.UnDisplayButton
{
border: none;
background: none;
color: #454545;
}

button.UnDisplayButton[disabled]
{
border: none;
background: none;
color: #ECECEC;
}


button.UnLoadSpectrumPopupButton
{
border: none;
background: none;
}

.SpecFileSummary
{
}

.SpecFileInfo, .MeasInfo, .SpecSummChoose, .SpecSummAllowEdit
{
  border: 1px solid black;
}

.SpectrumFileSummaryLabel
{
  font-weight:bold;
}


.PointInfo
{
  position: absolute;
  display: inline-block;
  top: 2px;
  right: 11px;
  border: 1px solid black;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.9);
}

.PointInfo > sub
{
  font-size:50%;
}


.LoadSpectrumUploadLabel
{
user-select: none;
-o-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
}

.LoadSpectrumLoadDiv, .LoadSpectrumUploadDiv
{
  -moz-border-radius: 2px;
  border-radius: 2px;
  border:0px solid #e1e1e1;
  padding: 2px;
  margin-bottom:3px;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.LoadingIndicator
{
    /* Set the index really high */
    z-index:2000000000 !important;
}
.HeaderIcon
{
/*  position: 3px center;*/
  padding: 4px;
  padding-right: 6px;
/*  padding-top: 5px;*/
}


.LoadSpectrumUnDisplayLabel
{
  padding-right: 4px;
}


.LoadSpectrumDeleteSaveDiv
{
float: right;
}


.LoadSpectrumUnDisplayDiv, .LoadSpectrumSaveAsPopup
{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
/*  color: #454545; */
}

a.LoadSpectrumSaveAsLink
{
color: #454545;
}
a.LoadSpectrumSaveAsLink:hover
{
color: blue;
}



.startQuickUploadMsg
{
  padding-top: 10px;
  width: auto;
  text-align: center;
}


.QuickFileUploadWarningDialog
{
  text-align: center;
}

.QuickSaveAsDialog
{
}


.PreviousDbDialogContents
{
}


.PreviousDbEntry
{
  padding-left: 5px;
  padding-right: 3px;
  padding-top: 3px;
  margin-top: 10px;
  width: 95%;
  height: 1.8em;
  border:1px solid #e1e1e1;
}

.PreviousDbEntryTxt
{
  font-size:100%;
  font-family:"Times New Roman", Times, serif;
  position:absolute; 
}

.PreviousDbEntryButton
{
float: right;
}

.DetectorDisplay
{
  padding-left: 5px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin:0 0px;
  font-weight:bold;
  background: #888888; color: #FFFFFF;
  border-color: #E1E1E1;
  border-style: solid;
  border:1px solid #e1e1e1;
  cursor:pointer;
}

.DetectorGammaDialogLabel
{

  font-weight: bold;
}

.DetectorLabel
{
  font-size: 12px;
  font-style: italic;
}

.DetectorEditFunctionalFormText 
{
  resize: none;
}

.ManualDetectorRadio
{
  border-right: 1px solid #A7A7A7;
}

.DetectorDiamDiv
{

}

.DetectorDotDatDiv
{
  /*padding-top: 10px;*/
}

.RelEffFile
{
  border: 1px solid #A7A7A7;
  padding: 4px;
  margin-bottom: 3px;
}

.RelEffFileCredits
{
  margin: 4px;
}

.AddRelEffFile, .AddRelEffFile:hover
{
  opacity:0.5; 
  cursor:pointer;
  color: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  background-image: url('../InterSpec_resources/images/add.png');
  background-position: 0px center;
  background-repeat: no-repeat;
}
  
.AddRelEffFile:hover
{
  opacity:1.0;
}

  
}

.ShieldingAsSourceCBDiv
{
/*background: #888888; color: #FFFFFF;*/
  border-color: #E1E1E1;
  border-style: solid;
  border:2px solid #e1e1e1;
}

.OneOverR2Calc
{
}

.OneOverR2CalcContents
{
  overflow: auto;
}


.OneOverR2CalcInput
{
  position:absolute;
  left:16em;
}

.OneOverR2CalcRow
{
/*  margin-top: 5px;*/
  margin-bottom: 12px;
  
}

.UseInstructionHeader
{
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
  text-align :center;
}

.UseInstructionSection
{
  border: solid 1px grey;
  margin-bottom:10px;
}


.GoogleMapDiv
{
}

.MapMeasPoint
{
}

.GpsCoordsTxt
{
}

.GpsTimeTxt
{
}

.GpsCoordClickText
{
  height: 1.5em;
}


.SearchMode3DChart
{
}


.SimpleNuclideAssistPopup
{
  -webkit-border-radius: 2 2 5px 5px;
  -moz-border-radius: 2 2 5px 5px;
  border-radius: 2 2 5px 5px;
  padding: 0px;
  margin: 0px;
  background: rgba(255, 255, 255, 0.2);
}

.SimpleNuclideAssistPopupTitle
{
  text-align: center;
  color: rgb(255,255,255);
  background: rgba(102, 102, 102, 0.9);
  margin-left: 10px;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.SimpleNuclideAssistItem
{
  padding: 0px;
  margin: 0px;
  background: rgba(255, 255, 255, 0);
}

.SimpleNuclideAssist
{
  width: 175px;
}

.SimpleNuclideAssistLegend
{
  color: rgb(182, 182, 182);
  background: rgba(255, 255, 255, 0.96);
  margin: 2px;
  border-radius: 5px;
  border: 2px solid rgba(182, 182, 182, 0.7);
  font-size: 12px;
}

.SimpleNuclideAssistLegendROI
{
  width: 15px;
  border: 2px solid rgba(182, 182, 182, 0.7);
}


.SimpleNuclide
{
  color: rgb(255, 255, 255);
  background: rgba(182, 182, 182, 0.7);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 2px;
  border-radius: 5px;
  border: 2px solid rgba(182, 182, 182, 0.7);
}

.ActiveSimpleNuclide
{
  color: rgb(182, 182, 182);
  background: rgba(255, 255, 255, 0.96);
}

.SimpleNuclideNucName
{
  font-weight: 900;
  font-size: 16px;
}

.SimpleNuclideMsg
{
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.96);
  border: 2px solid rgba(182, 182, 182, 0.96);
  text-align: center;
}

.SimpleNuclideMoreInfoButton
{
  height: 13px;
  font-weight: 800;
  width: 75%;
  text-align: center;
  
  padding-top: 1px;
  padding-bottom: 2px;
  
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 3px;
  border: 1px solid rgba(182, 182, 182, 0.7);
}

.SimpleNuclideMoreInfoButton:hover
{
  color: rgb(102, 102, 102);
  border: 1px solid rgb(102, 102, 102);
}


.qtip-grey
{
  background-color: rgba(255, 255, 255, 0.96);
  border-color: rgba(182, 182, 182, 0.7);
  color: rgb(187, 187, 187)
}.qtip-grey

.qtip-titlebar
{
  background-color:#B0DE78
}.qtip-grey


.SimpleNuclideMoreInfo
{
}

.SimpleNuclideEquivs
{
  font-size: 8px;
}

.SimpleNuclideShieldTxt
{
  
}

.SimpleNuclideShieldButHold
{
  padding-left: 10px;
  margin-top: 2px;
}

.SimpleNuclideShieldBut
{
  color: rgb(187, 187, 187);
  margin-left: 4px;
  
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 3px;
  border: 1px solid rgba(182, 182, 182, 0.7);
}

.SimpleNuclideShieldBut:hover
{
  color: rgb(140, 140, 140);
  border: 1px solid rgba(140, 140, 140, 0.7);
}

.SimpleNuclideShieldButActive
{
  color: rgb(102, 102, 102);
  margin-left: 4px;
  font-weight: 700;
  
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 3px;
  border: 1px solid rgb(102, 102, 102);
}

.SimpleNuclideShieldDesc
{
  font-size: 12px;
  margin-left: 3px;
}

.SimpleNuclideContam
{
  margin-top: 5px;
}

.SimpleNuclideComment
{
  margin-top: 5px;
  font-size: 11px;
}

.button,.button:hover {

    margin:0 0px;
    font-weight:bold;
    border-color: #E1E1E1;
    border-style: solid;
    border:1px solid #e1e1e1;
    cursor: pointer;
cursor:pointer;
display : block;
position:absolute;
z-index : 0;
/*left:50px;
top:50px;*/
height:30px;
width:auto;
padding: 0 10px 0 6px;
background-repeat:repeat-x;
background-size : 100% 30px;
background-position :0;
background-image : -webkit-linear-gradient(
bottom,
rgba(0,0,0,0) 0%,
rgba(0,0,0,0) 50%,
rgba(255,255,255,0.1) 50%,
rgba(255,255,255,0.3) 100%
);
border-radius: 5px;
border-bottom: 1px solid rgba(255,255,255,0.4);
box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
0 1px 2px rgba(0,0,0,0.8)inset;
/*font-family : HelveticaNeue;
font-weight: 400;
font-size : 12px;*/
line-height : 30px;
text-align:center;
color:#FFF;
text-shadow : 0px -1px 0px rgba(100,100,100,0.8);
}
.button:before{
position:absolute;
content : ' ';
left:-8px;
top:2.5px;
height : 22px;
width: 22px;
z-index : 1;
background-repeat:repeat-x;
background-size : 20px 20px;
background-position :-1px -0.5px;
background-image :
-webkit-gradient(linear, left bottom, right top,
from(rgba(0,0,0,0)),
color-stop(0.5, rgba(0,0,0,0)),
color-stop(0.5, rgba(255,255,255,0.1)),
to(rgba(255,255,255,0.3)));
-webkit-transform : rotate(-45deg) skew(-10deg, -10deg);
border-top-right-radius : 10px;
border-top-left-radius :0px;
border-bottom-right-radius : 0px;
border-bottom-left-radius : 10px;
border-left : 1.5px solid rgba(255,255,255,0.4);
box-shadow :  1px 1px 1px rgba(0,0,0,0.4) inset,
-1px 1px 1px rgba(0,0,0,0.5) inset;
-webkit-mask-image :
-webkit-gradient(linear, left top, right bottom,
from(#000000),
color-stop(0.4,#000000),
color-stop(0.6, transparent),
to(transparent));
}

.button,
.button:before {
background-color: rgba(136,136,136,1);/*normalcolor*/
}
/*
.button:hover,
.button:hover:before {
background-color: rgba(70,70,70,1);/ *hovercolor* /
} */

.mobilePopupMenuOverlay {
position:fixed;
top:0;
left:0;
background:rgba(200,200,200,0.3);
/*z-index:5;*/
width:100%;
height:100%;
/*display:none;*/
}


.DoseCalcWidget {
}

.DoseButtonDiv {
  border: 1px solid #d1d1d1;
  min-height: 255px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.DoseButton, .DoseButton:hover {
  background-color: #B8B8B8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  margin-top: 8px;
  margin-left: 6px;
  margin-right: 6px;
  width: 5.5em;
}

.DoseButtonActive, .DoseButtonActive:hover {
  background: #888888;
  color: #FFFFFF;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.DoseButton:hover, .DoseButtonActive:hover {
  color: #e6e6e6;
}



.DoseEnterDiv {
  border: 1px solid #d1d1d1;
  min-height: 255px;
}

.DoseEnterEl {
  /* border: 1px solid #d1d1d1; */
  width: 250px;
}

.DoseEnterInd {
  font-size: 80%;
}

.DoseDistanceAnswer {
  
}

.DoseAnswerDiv {
  border: 1px solid #d1d1d1;
  overflow-y: auto;
}

.DoseEnterTxt {
  margin-top: 3px;
  margin-left: 10px;
}

.GammaSourceEnter {
  margin-top: 3px;
}

.DoseFieldLabel {
  margin-left: 10px;
}

.DoseAnswerCombo {
  margin-top: 4px;
  margin-left: 10px;
}


.DoseAnswerEl {
  /* border: 1px solid #d1d1d1; */
  width: 250px;
}

.DoseIntroDiv {
}

.DoseIntroTxtMain {
  font-size: 120%
}

.DoseIntroTxtDetail {
  color: gray;
  font-size:75%
}

.DoseAnswerTxt {
  margin: 10px;
  padding-top: 11px;
  height: 41px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.DoseIssueTxt {
  color: red;
  text-align: center;
}

.DoseHLTxt {
  font-size: 75%;
  width: 5em;
  overflow: hidden;
  margin-left: 2px;
}

.DoseColLabel {
  text-align: center;
  font-size: 100%;
  color: dark-grey;
  border-bottom: 1px solid #d1d1d1;
}


.DoseStayTime {
}

.DoseStayTimeHeader {
  text-align: center;
  border: 1px solid black;
}

.DoseStayLabelDiv {
  border: 1px solid black;
  border-top: none;
}

.DoseStayDose {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.DoseStayDesc {
  text-align: center;
  font-size: 8px;
}

.DoseStayTimeAnsw {
  text-align: center;
  border: 1px solid black;
  border-top: none;
  border-left: none;
}


.SpecFileQueryCond {
  border: 1px solid grey;
  margin: 2px;
  border-radius: 5px 5px 5px 5px;
}

.SpecFileQueryConditions {
  border: 1px solid black;
  border-radius: 2px;
  overflow-y: auto;
  overflow-x: hidden;
}

.SpecFileQueryResults {
  border: 1px solid black;
  border-radius: 2px;
}

.FileQueryTextSearch {
  
}

.FileQueryOr, .FileQueryAnd, .FileQueryNot, .FileQueryOpenParan, .FileQueryCloseParan {
  
}

.SpecFileQueryErrorTxt {
  font-weight: bold;
  color: red;
}

