
body
{
  /* Get rid of the annoying callout on webkit touch devices */
  -webkit-user-select: none !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  -webkit-touch-callout: none !important;
}

input
{
  /* border-width: 1px; */
}

.Wt-suggest
{
  padding-left: 5px;
  padding-right: 6px;
}


.specviewer
{
/*Make none of the elements selectable by default*/
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
}

.SpectrumChart
{
}


#qtip-growl-container{
position: fixed;
top: 10px; right: 10px;
z-index: 2000000000; /*super large number, nothing should cover this */
}
#qtip-growl-container .qtip{
position: static;
min-height: 0;
overflow: hidden;
margin: 0 0 5px 0;
}



.imageBorder {
padding:1px;
border:1px solid #021a40;
}

.FileUploadCover
{
  width: 100%;
  height: 100%;
  background: gray;
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 16777270;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.UpDiv
{
  position: absolute;
  width: 33.33%;
  height: 100%;
  top: 0%;
}


.UpCenterDiv
{
  height: 30%;
  width: 80%;
  position: absolute;
  top: 35%;
  left: 10%;
  vertical-align: middle;
  display:table;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 4px solid white;
}


.UpDivTxt
{
  display:table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: Helvetica, Arial;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.UpDivTxt.disabled
{
  color: #B8B8B8;
}

.UpCenterDiv.disabled
{
  border: 4px solid #B8B8B8;
}

.UpDiv.active
{  
  background: #4A4A4A;
}

.UpDiv.active > .UpCenterDiv
{
    border: 4px solid #12DA12;
}

.UpFileContents 
{
  left: 33.33%;
}

.UpForeground
{
left: 0%;  
border-right: 1px dashed white;
}


.UpBackground
{
left: 33.33%;
border-right: 1px dashed white;
}

.Up2ndForeground
{
left: 66.667%;
}

.UpInstrInfoWrapper
{
position: absolute;
text-align: center;
top: 7.5%;
left:0;
width:100%;
}

.UpInstr
{
 display: inline-block;
 font-family: Helvetica, Arial;
 font-size: 18px;
 font-weight: bold;
 color: white;
}


.UpInfoWrapper
{
position: absolute;
text-align: center;
top: 80%;
left:0;
width:100%;
}

.UpInfo
{
 display: inline-block;
 padding: 5px;
 font-family: Helvetica, Arial;
 font-size: 25px;
 font-weight: bold;
 color: white;
}


.SpectrumDisplayDiv
{
}

.Wt-btn .with-label {
  font-size: 0.9em;
  font-weight: bold;
  vertical-align: middle;
  border: 1px solid #e1e1e1;
  color: #FFFFFF;
  background-color: #888888;
  border-radius: 5px;
  height: 23px;
  white-space: nowrap;
}


.Wt-icon {
  display: inline-block;
  padding: 0px 8px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center left;
  height: 16px;
}

/* ------------------------- */
/* ----    ICON CLASS   ---- */
/* ------------------------- */

/* The IconClass style is required for the following icons to behave correctly */

.IconClass, .IconClass:hover {
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.IconClass:disabled, .IconClass:disabled:hover {

}


/*
.UndoIcon,.UndoIcon:hover
{
  background-image: url('../InterSpec_resources/images/arrow_undo.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;
}
*/

.RefreshIcon,.RefreshIcon:hover
{
  background-image: url('../InterSpec_resources/images/arrow_refresh.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}


.FooterHelpBtn
{
  margin-top: 2px;
  background: white;
  float: left;
  width: 20px;
  height: 20px;
  cursor:pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.FooterHelpBtn:hover
{
  background: none;
}

/* A question mark help button suitable for displaying in the content of a tool (e.g., in the tools tabs).
 When making a content help button, you should also add the .Wt-icon styleclass to help handle color-themeing.
 */
.ContentHelpBtn
{
  background-image: url('images/help_minimal.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  
  cursor:pointer;
  opacity: 0.6;
  padding: 0;
}

.ContentHelpBtn:hover
{
  opacity: 1;
}

/* Make so .ContentHelpBtn buttons are not shown when in a Wt-dialog since we put a .FooterHelpBtn in the footer of dialog */
.Wt-dialog .ContentHelpBtn
{
  display: none;
}

.modal-footer 
{
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  
  margin-bottom: 5px;
  text-align: right;
  white-space:nowrap;
  /* height: 50px; */
/*  border: 2px solid green;*/
/*  background-color: #f5f5f5; */
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 0px 0px;
     -moz-border-radius: 0 0 0px 0px;
          border-radius: 0 0 0px 0px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer button,.modal-footer button:hover{
  margin-right:2px;
  margin-left:2px;
}


.CanvasForDragging
{
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none;
  user-select: none;
}


.NeutDetCbItem
{
  color: blue;
}


.DialogClose
{
  float: right;
}


.helpPopupMainContainer {
  opacity:1.0;
  border: 0px solid black;

}

.helpPopupMainContainer2 {
  position:relative;
  opacity:1.0;
  border: 0px solid black;
  left:15px;
  top:-8px;
}



.toolTip {
font-size: 80%;
opacity:1.0;
top:-8px;
left:15px;
background-color: rgb(253, 255, 218);
border: 1px solid #73a7f0;
width: 200px;
height: 100px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
box-shadow: 0px 0px 8px -1px black;
-moz-box-shadow: 0px 0px 8px -1px black;
-webkit-box-shadow: 0px 0px 8px -1px black;
}

.toolTip p {
padding-left:10px;
}



.UseInfoStack
{
  border-left: solid 1px #e1e1e1;
  margin-left: 5px;
  padding-left: 10px;
}

.UseInfoItem
{
  margin-left: 10px;
  margin-right: 5px;
  overflow-y: auto;
}

.UseInfoTabsWidget
{
}


.UseInfoTabsStack
{
  border: 1px solid gray;
  border-top: none;
}

/* .SideMenu holds all the size information for the elements, while .VerticalMenu holds the styling
 (color, hover, etc).
*/
.SideMenu
{
  padding-left: 10px;
  padding-right:10px;
  font-size: 13px;
  width: 12.5em;
}

.SideMenu li
{
  font-weight: bold;
  height: 2.5em;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.SideMenu a
{
  padding-left: 10px;
  padding-right: 5px;
}


.VerticalMenu
{
  margin: 0px;
  list-style-type: none;
  overflow: auto;
}

.VerticalMenu > li
{
}

.VerticalMenu li
{
  vertical-align:middle;
  color: #ffffff;
}

.VerticalMenu > .Wt-separator {
    height: 0.25em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

.VerticalMenu a
{
  cursor:pointer;
}


/*fix the menu item links that the SRB CSS messes up*/
ul.Wt-popupmenu > li > a > span > span
{ 
  font-weight: normal;
  color: black;
}

ul.Wt-popupmenu > li.active > a > span > span
{
 color: #E0F5FF;
}

ul.Wt-popupmenu > li > a > span > span:hover
{
 color: white;
}


.VerticalMenu li.item > a
{
color: white;
}

.VerticalMenu li.itemselected > a
{
color: #E0F5FF;
}

.VerticalMenu li :hover
{
  border-color: #eeeeee #eeeeee #dddddd;
}

.VerticalMenu li.itemselected
{
background: #C6C6C6;
}
  
.VerticalMenu li.itemselected:hover
{
}

.VerticalMenu li.item
{
background: #888888;
}

.VerticalMenu li.item:hover
{
background: #9B9B9B;
}


.SampleSpecRow
{
  overflow: hidden;
}

.SampleSpecText
{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}

.SampleSpecLoadBtn
{
  display: none;
}

.Wt-selected > .SampleSpecRow > .SampleSpecLoadBtn
{
  /* display: inline-block;
  margin: 0px auto; */
  display: inline;
  float: right;
  margin-right: 5px;
  margin-top: 4px;  /* centers vertically; not a great solution since only works for 30px height rows, but works for now */
}



.PeakInfoDisplay
{
  margin-top: 5px;
  margin-bottom: 3px;
  margin-right: 4px;
  margin-left: 4px;
  overflow-y: hidden;
}


.PeakInfoDisplayButtonDiv {
  padding-left: 3px;
}

.PeakInfoHlpBtn {
  margin-right: 5px;
  position: absolute;
  left: 1px;
  bottom: 0px;
}

.PeakSearchBtn {
  margin-left: 25px;
}

.PeakInfoDisplayButtonDiv > button {
  margin-right: 5px;
}


/* A button that shows up as a link. */
.LinkBtn, .LinkBtn:hover {
  float: right;
  background: none !important;
  border: none !important;
  color: blue;
}

.WarningWidget
{
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

.WarningMsg
{
  padding: 2px;
  overflow-x: hidden;
}



.FloatLeft, .FloatLeft:hover
{
  float:left;
}

.PreserveLastCalCb
{
  margin-left: 1.0em;
}



.AuxWindow-content, .AuxWindow-footer
{
padding: 0px;
/*border: 2px solid red;*/

overflow: auto;

-moz-user-select: none; 
-khtml-user-select: none; 
-webkit-user-select: none; 
-o-user-select: none;
}

.titleVertMiddle
{
    display: inline-block;
    padding-top:4px;
    padding-left: 8px;
    vertical-align: middle;
}

.helptitlebar,.helptitlebar:hover
{
  width:auto;
  padding: 0px;
  height: 25px;
  background-color: #5492EE;
}

.helpIconTitleBar
{
vertical-align: middle;
margin: 4px;
}

.titlebar
{
width:auto;
padding: 0px;
height: 25px;
}

.titlebar:hover
{
background-color: #909090;
}


.CollaseIcon
{
}

.ExpandIcon
{
}

.ExpandedDialogfooter
{
  height: 0px; padding: 0; margin: 0;
}

.CollapsedDialogFooter
{
  height: 10px; padding: 0; margin: 0;
  background-color: #EEEEEE;
}


.plusimg
{
padding: 0;
margin-left: 0;
}

.minusimg, .minusimg-disable
{
padding: 0;
margin-left: -7px;
}


.minusimg-disable
{
opacity:0.4;
}


.peakinfo
{
  display: inline-block;
  position:absolute;
  background: #FFFFCC;
  border:2px solid #444422;
  padding-left: 5px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.85;
}


.InfoLink
{
  color:grey;
  text-decoration:underline;
  cursor:pointer;
  border:1px solid #e1e1e1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


button, button:hover {
  font-weight:bold;
  vertical-align: middle;
  border:1px solid #e1e1e1;
  color: #FFFFFF;
  background-color: #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 23px;
}

button:hover, .submit:hover {
  color: #f2f2f2;
  border-style: solid;
  border:1px solid #e6e6e6;
  cursor: pointer;
  background-color: #737373;
}

button[disabled]
{
  background-color: #999999;
  color: #aaaaaa;
  opacity: 0.8;
  cursor: not-allowed;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


li{ padding-top: 0; }
table { margin-bottom:0; }
a:hover { color:#E88400; border-bottom:none; }
th, td { border: none; padding: 0; vertical-align: none; text-align: none; }



body
{
  background: none;
  color: none;
  background-color: none;
  font-size: 14px;
  font-family:Helvetica, Arial, Verdana, sans-serif;
  padding:5px;
}

h1 
{ 
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin-bottom:0;
  font-family: Times;
  margin-before: 0.15em;
  margin-after: 0.25em;
-webkit-margin-before: 0.15em;
-webkit-margin-after: 0.25em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.Wt-tableview .Wt-spacer
{
  /* background: white;*/
}


.HideSpinners .HideSpinners
{
  width: 8em;
  /* remove the up/down spinbox for Firefox - if you re-enable this, also re-enable the c++ code to set step size */
  -moz-appearance: textfield;
}

input.HideSpinners::-webkit-outer-spin-button, input.HideSpinners::-webkit-inner-spin-button
{
  /* Remove the up/down arrow on spin box for Chrome, Safari, Edge, Opera - if you re-enable this, also re-enable the c++ code to set step size */
  -webkit-appearance: none;
  margin: 0;
}


.clearsession
{
  padding-top: 7px;
  text-align: center;
}

.clearsessiontxt
{
  padding: 3px;
  padding-top: 4px;
  border: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #EEEEEE;
}


/* The WebMenuBar CSS class is added to the title bar, for browser-based desktop app sessions (e.g.,
 not added for electron builds that use HTML menus)
 */
.WebMenuBar
{
  padding-left: 8px;
  height: 24px;  /*pics are 18px with 3px top padding*/
  font-size: 15px;
  padding-top: 0px;
  border-bottom: 1px solid grey;
  background: #FFF;
}

/* This is the SNL logo that is placed on the right-hand side of the title bar on desktop browser-based sessions. */
.SnlWebMenuBarLogo
{
  padding-top: 3px;
  padding-right: 8px;
  float: right;
}



/* The PopupDivMenu or PopupDivMenuPhone CSS class is added to the actual popup div that holds the
   menu items for all instances of the C++ PopupDivMenu class.  
 
 AppMenu CSS class is added to the same popup divs, but only for the app-level menus (i.e. "InterSpec",
 "View", "Tools", and "Help") on non-mobile.
 */
.PopupDivMenu
{
  background-color: #FAFAFA;
  border: solid 1px #e1e1e1;
  max-height: 90%;
  overflow-y: auto;
}

/* Add a drop-shadow for the app-level menus. */
.PopupDivMenu.AppMenu
{
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

/* Add a slightly more petite drop shadow for sub-menus.
 TODO: it would be nice to move the sub-menu to the right by a couple pixels, but I dont see how to hack the CSS so the Wt.fitToWindow JS function wont clober the efforts
 */
.PopupDivMenu.AppSubMenu
{
  box-shadow: 0 5px 3px -3px rgba(0,0,0,.12), 4px 8px 6px 1px rgba(0,0,0,.08), 5px 3px 6px 1px rgba(0,0,0,.06);
}

/*
 TODO: it would be nice to hide separators that are at the bottom and top of menus; this happens when all the menu items above or below the separator is hidden.  For some reason selectors like the next dont actually function (but they will aw part of a jQuery selector).
.PopupDivMenu > li.Wt-separator:visible:last
{
  border-top: 0px;
  border-bottom: 0px;
  margin: 0px 0px;
}
 */

.PopupDivMenuItem-disabled
{
  background: none;
  color: #D2D2D2;
}

.PopupDivMenu li
{
  padding-top: 4px;
  padding-bottom: 4px;
}

.PopupDivMenu li.Wt-separator
{
  padding-top: 0px;
  padding-bottom: 0px;
}


.PopupMenuParentButton, .PopupMenuParentButton:hover
{
  height: 23px; /*leave 1 px for WebMenuBar lower border */
  padding: 4px 8px 3px 8px;
  margin:0px 0px;
  font-weight:normal;
  background: #FFFFFF;
  color: black;
  border: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}


.PopupMenuParentButton:hover:not(.active)
{
  background: rgba(128, 128, 128, 0.25);
}

.PopupMenuParentButton.active
{
  background: rgba(128, 128, 128, 1.0);
  
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}


.PopupDivMenuWidget.active
{
  background-color: #FAFAFA;
  color: black;
}


.NumPeakSelect
{
  border:2px solid blue;
}


.ReferencePhotopeakDisplay
{
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 4px;
  margin-bottom: 3px;
}

.ParticleViewTable, .FilesInZipTable
{
/*  width:37.5em; */
/*  height: 15.2em; */
  border: 2px solid #e1e1e1;
}



.legend
{
border: none;
background: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}


.legend-body
{
/*  background: #EEEEEE;*/
/*background: #FAFAFA;*/
background: rgba(245,245,245,0.5);
padding: 4px 6px 4px;
border: solid 1px rgba(185,185,185,0.80); /*#909090;*/
border-top:none;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
color:#000000;
}

.legend-body
{
  white-space:nowrap;
}

.legend-title
{
 min-width: 7em;
 background-color: rgba(185,185,185,0.80) !important;
 height: 20px;
border: solid 1px rgba(185,185,185,0.80); /*#909090;*/
border-bottom:none;
-webkit-border-top-right-radius: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-topleft: 5px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

.legend-title .closeicon
{
top: 3px;
}

.legend-title:hover
{
background-color: #909090 !important;
border: solid 1px #909090;
}

.closeicon-wtdefault
{
background: transparent url(../resources/themes/default/closeicons-tab.png) no-repeat scroll right top;
margin: 2px 4px 0px 0px;
height: 13px;
width: 13px;
border: 0px;
padding: 0px;
/*margin-top: 2px;*/
cursor: default;
}

.closeicon-wtdefault:hover
{
background-position: right -13px;
margin: 2px 4px 0px 0px;
height: 13px;
width: 13px;
border: 0px;
padding: 0px;
cursor: default;
}


.loading
{
  cursor: wait !important;
}


.img-centered
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: centered;
}


/*
 This allows buttons and links to work
 */
.TransparentFooter > button, .TransparentFooter > a, .TransparentFooter > img, .TransparentFooter > input
{
    pointer-events:auto;

}

.TransparentFooter
{
/*    padding: 2px 2px 10px; */
    margin-bottom: 0;
    text-align: right;
    white-space:nowrap;
    height: 20px;
    border-top: 1px solid #ddd;
    
    pointer-events:none;
    background:rgba(0,0,0,0.2);
}


.LoadingIndicator
{
    /* Set the index really high */
    z-index:2000000000 !important;
}
.HeaderIcon
{
/*  position: 3px center;*/
  padding: 4px;
  padding-right: 6px;
/*  padding-top: 5px;*/
}


a.LoadSpectrumSaveAsLink
{
color: #454545;
}
a.LoadSpectrumSaveAsLink:hover
{
color: blue;
}



.DetectorDisplay
{
  padding: 0px;
  margin: 0px;
  padding-right: 3px;
  font-weight: bold;
  background: #888888; color: #FFFFFF;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  height: 24px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 275px;
}

.DetectorDisplay > span
{
  display: inline-block;
  vertical-align: middle;
  height: 24px;
}

.DetectorDisplay > img
{
  /* Imge is 16px high, so 3px top margin will center image*/
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
}


.UseInstructionHeader
{
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
  text-align :center;
}

.UseInstructionSection
{
  border: solid 1px grey;
  margin-bottom:10px;
}


.qtip-grey
{
  background-color: rgba(255, 255, 255, 0.96);
  border-color: rgba(182, 182, 182, 0.7);
  color: rgb(187, 187, 187)
}

.qtip-titlebar
{
  background-color:#B0DE78
}


/* Customize WTabWidget to look a little more modern/flat */
br.Wt-tabs-clear
{
  /*Fix an undesired display isue with WTabWidget (at least Wt pre 3.3.4)*/
  display: none;
}

.Wt-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  zoom: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  background: none;
  border-bottom: 1px solid rgba(136, 136, 136, 1);
  overflow: visible; /* necassary - took a few hours to figure this out. */
}

.Wt-tabs li {
  padding-top: 0;
  background: none;
  margin-right: 2px;
  /*float:left; display:block;*/
  display: list-item;
  cursor:pointer;
  cursor:hand;
  font-size: small; font-weight: bold;
  border: none;
}

.Wt-tabs li:first-child {
  margin-left: 5px;
}

.Wt-tabs li:after, .Wt-tabs li:before {
  box-sizing: border-box;
}

body.Wt-rtl .Wt-tabs a {
  float: right;
}

.Wt-tabs .itemselected a, .Wt-tabs .itemselected a:hover {
  background-position: 0%;
  /* If the parent background isnt white, then the below will have a white line in it... TODO: fix */
  border-color: grey grey white grey;
  background-color: inherit;
}


.Wt-popup .Wt-tabs .itemselected a, .Wt-tabs .itemselected a:hover {
  /* Fix for the white-line when in a AuxWindow */
  border-color: grey grey #EEEEEE grey;
}

.Wt-tabs a {
  display: block;
  background: none;
  white-space: nowrap;
  padding: 6px 9px 4px;
  color: black;
  border: 1px solid transparent;
  -moz-border-top-left-radius: .25rem;
  -webkit-border-top-left-radius: .25rem;
  border-top-left-radius: .25rem;
  -moz-border-top-right-radius: .25rem;
  -webkit-border-top-right-radius: .25rem;
  border-top-right-radius: .25rem;
  margin-bottom: -1px;
}

.Wt-tabs a:focus, .Wt-tabs a:hover {
  text-decoration: none;
  background: rgba(136, 136, 136, 0.08);
  border: 1px solid rgba(136, 136, 136, 0.15);
  /* If the parent background isnt white, then the below will have a white line in it... TODO: fix */
  /*border-bottom: 1px solid white;*/
  border-bottom: 1px solid rgba(136, 136, 136, 0.4);
}


.Wt-tabs .itemselected a:focus, .Wt-tabs .itemselected a:hover {
  /* Get rid of line on selected tab when you mouse over it */
  border-bottom: 1px solid white;
}

.Wt-popup .Wt-tabs .itemselected a:focus, .Wt-popup .Wt-tabs .itemselected a:hover {
  /* For AuxWindow, get rid of line on selected tab when you mouse over it */
  border-bottom: 1px solid #EEEEEE;
}

.Wt-tabs .Wt-closable a {
  padding-right: 17px;
}

.Wt-tabs .closeicon {
  background: transparent url(../resources/themes/default/closeicons-tab.png) no-repeat scroll right top;
  margin: 6px 4px 0px 0px;
  height: 13px;
  width: 13px;
  border: 0px;
  padding: 0px;
  cursor: default;
  float: right;
  margin-right: 15px;
}

.Wt-tabs .closeicon:hover {
  background-position: right -13px;
}

.Wt-tabs:after { content: ""; display: block; height: 0; clear: both; }
.Wt-tabs { clear-after: both; }

