button, button:hover,
  .btn-group /* WSplitButton spans */
{
  font-weight:bold;
  vertical-align: middle;
  border:1px solid rgb(0,122,255);
  color: rgb(0,122,255) !important;
  background: none;
  border-radius: 5px;
  height: 23px;
}

/*
button:hover, .submit:hover {
  color: rgba(0,0,0,0);
  border-style: solid;
  border:1px solid #e6e6e6;
  cursor: pointer;
  background-color: rgb(0,122,255);
}
*/

button[disabled]
{
  color: #aaaaaa;
  opacity: 0.8;
  cursor: not-allowed;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


.Wt-btn > img, .WhiteIcon
{
  /* Turn [any color] icons to iOS blue (rgb(0,122,255) or #007AFF)
     See: https://codepen.io/sosuke/pen/Pjoqqp to calculate filter
   */
  filter: brightness(0) saturate(100%) invert(30%) sepia(56%) saturate(3200%) hue-rotate(200deg) brightness(102%) contrast(107%);
}


.itemselected img.WhiteIcon
{
  /* Turn [any color] icons to white when they are a selected item in a side menu,
     and you add added the icon as a WImage explicitly to the anchor.  Ex.
     WMenuItem *item = ...
     WImage *image = new WImage( "path/to/icon" );
     image->addStyleClass( "WhiteIcon" );
     item->anchor()->addWidget( image );
   */
  filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(187deg) brightness(100%) contrast(104%);  
}

img.WhiteIcon[disabled]
{
  /* Try to make disabled Icon imafes to #797f8e */
  filter: brightness(0) saturate(100%) invert(52%) sepia(5%) saturate(902%) hue-rotate(185deg) brightness(95%) contrast(89%);
}

.PhoneAuxWindowFooter
{
  padding-top: 6px;
  height: 25px;
  padding-right: 2px;
}


.PhoneAuxWindowFooter > button, .PhoneAuxWindowFooter > button:hover
{
  background: none;
  color: rgb(0,122,255) !important;
  text-decoration: underline;
  border: none;
}

.PhoneAuxWindowFooter > button[disabled]
{
  background: none;
  /* color: #aaaaaa !important; */
  color: rgba(0,0,0,0) !important;
  text-decoration: underline;
  border: none;
}

.MobileBackBtn, .MobileBackBtn:hover
{
  vertical-align: middle;
  background: none;
  background: url(images/mobile_back_2.svg) !important;
  background-repeat: no-repeat !important;
  background-position: 2px 3.5px  !important;
  background-size: 10px 16px  !important;
  color: rgb(0,122,255) !important;
  text-decoration: underline;
  
  padding-left: 15px;
  border: none;
  float: left;
  margin-right: 5px;
}

.CenterBtnInMblAuxWindowHeader
{
  border: 1px solid rgb(0,122,255) !important;
}

ul.HeavyNavMenu > li.item, ul.HeavyNavMenuPhone > li.item
{
  background: none;
  border: 1px solid rgb(0,122,255);
}

ul.HeavyNavMenu > li.item > a, ul.HeavyNavMenuPhone > li.item > a
{
  color: rgb(0,122,255) !important;
}

ul.HeavyNavMenu > li.itemselected, ul.HeavyNavMenuPhone > li.itemselected
{
  color: white !important;
  background: rgb(0,122,255);
  border: 1px solid white;
}
