.IsotopeSearchByEnergy
{
  /* This is the parent div of the whole tool. It hold .IsotopeSearchConditions and .IsotopeSearchResultTable */
  display: flex;
  flex-flow: row nowrap;
  
  margin-top: 5px;
  margin-bottom: 3px;
  margin-right: 4px;
  margin-left: 4px;
}

.IsotopeSearchConditions
{
  /* This is the div that holds the energies, source types, and BR/HL options. */
  display: flex;
  flex-flow: column nowrap;
  
  width: 325px;
}


.IsotopeSearchEnergies
{
  /* This div holds all the search energies. */
  flex: 1 1 auto;
  overflow-y: auto;
}

.AssignToSelectedRow
{
  height: 18px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.AssignToSelectedRow .LightButton
{
  height: 18px;
  font-size: 10px;
}

.AssignToSelectedRow > .LightButton
{
  margin-left: 2px;
  margin-right: 2px;
}

.AssignToSelectedRow .LightButton.btn-group
{
  box-sizing: border-box;
}

.AssignToSelectedRow button.Wt-btn.LightButton:hover
{
  background-color: rgba(136, 136, 136, 0.08);
}

.AssignToSelectedRow button.Wt-btn.LightButton.dropdown-toggle.active
{
  background-color: rgba(136, 136, 136, 0.12);
}



.IsotopeSourceTypes
{
  /* This is the div that holds the "Gammas", "X-rays", and "Reaction" check boxes. */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.IsotopeSearchMinimums
{
  /* This div holds the help icon and BR/HL options. */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 1px;
}

.IsotopeSearchMinimums label
{
  /* The labels for "Min. BR" and "Min. HL" */
  margin-right: 4px;
  text-align:center;
  vertical-align:middle;
}

.IsotopeSearchMinimums input
{
  font-size: 0.95em;
  width: 55px;
}

.IsotopeSearchMinimums > .ContentHelpBtn
{
  margin-top: auto;  /* Push to bottom of row */
}


.IsotopeSearchInProgress
{
  /* Displayed only while a search is in progress */
  background: red;
  color: white;
  
  padding-right: 5px;
  padding-left: 5px;
  
  position: absolute;
  right: 50%;
  top: 40%;
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  vertical-align: middle;
}


.IsotopeSearchResultTable
{
  flex: 1 1 auto;
  
  margin-left: 5px;
}


.ActiveSearchEnergy
{
  background: rgba(36, 169, 211, 0.25);
}


.AddSearchEnergy, .DeleteSearchEnergy
{
  opacity: 0.6;
  cursor:pointer;
  background-repeat: no-repeat;
  height: 21px;
}

.AddSearchEnergy
{
  background-image: url('../InterSpec_resources/images/plus_min_black.svg');
}

.DeleteSearchEnergy
{
  margin-left: 8px;
  background-image: url('../InterSpec_resources/images/minus_min_black.svg');
}

.AddSearchEnergy:hover, .DeleteSearchEnergy:hover
{
  opacity: 1;
}

div.AddSearchEnergy.Wt-disabled, div.DeleteSearchEnergy.Wt-disabled
{
  background: none;
}


.SearchEnergy
{
  border: 1px solid #e1e1e1;
  margin: 2px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  
  display: flex;
  flex-flow: row nowrap;
}

.SearchEnergyLabel
{
  padding-left: 5px;
  padding-right: 5px;
  align-self: center;
}

.SearchEnergyWindowLabel
{
 padding-left: 5px;
 padding-right: 5px;
 align-self: center;
}

.KeVLabel
{
  padding-left: 5px;
  align-self: center;
}

.SearchEnergy input
{
  /* This is the search energy and window inputs */
  flex: 1 1 auto;
  min-width: 0;
  max-width: 125px;
}

.SearchEnergySpacer
{
  flex: 1 10 auto;
}
