
div.LeafletRadMapWidget {
}

div.LeafletRadMap{
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr min-content;
  gap: 1px;
  justify-items: stretch;
}

.LeafletRadMapMap{
  grid-row: 1;
  grid-column: 1;
  justify-self: stretch;
}

.LeafletRadMapLegend{
  grid-row: 1;
  grid-column: 2;
  width: 25px;

  display: flex;
  flex-direction: column;
  font-size: 9px;
  text-align: center;
}

.LegUpVal{

}

.LegCanvas{
  flex-grow: 1;
}

.LeglowVal{

}

table.MapMousePopup td {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.LeafletRadMapBottomDiv {
  margin-top: 3px;
  
  display: flex;
  flex-direction: row;
}

.LeafletRadMapBtnsDiv {
  grid-row: 2;
  grid-column: 1 / 3;
  height: 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.LeafletRadMapBtnsDiv > button{
  margin-left: 5px;
}

.NoSamplesSel{
  text-align: center;
  flex-grow: 1;
  align-self: stretch;
  
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.LeafletRadMapMarkerLegend {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-end;
  column-gap: 7px;
}

.LeafletRadMapMarkerLegend .LegEntry {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 3px;
}

div.RadMapMarker{
  border: none;
}

div.RadMapMarkerInner {
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  width: 8px;
  height: 8px;
}

div.RadMapMarkerMulti {
  border-radius: 11px;
  border-style: solid;
  border-width: 1px;
  width:22px;
  height:22px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

div.RadMapMarkerInner.DispAsFore, div.RadMapMarkerMulti.DispAsFore {
  border-color: black;
  border-radius: 0px;
}

/* Make the markers into diamonds. */
div.RadMapMarkerInner.DispAsBack, div.RadMapMarkerMulti.DispAsBack {
  border-radius: 0px;
  transform: rotate(45deg);
}

/* Rotate the text back to normal, for multi-markers. */
div.RadMapMarkerMulti.DispAsBack > div {
  transform: rotate(-45deg);
}

div.RadMapMarkerInner.DispAsSecond, div.RadMapMarkerMulti.DispAsSecond {
  border-radius: 3px;
  border-style: dotted;
}

.ShowHeatmapBtn, .RemoveHeatmapBtn {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("images/heatmap.svg");
  background-position: -16.5px -11px;
}

.ShowHeatmapBtn {
  opacity: 0.5;
}


.pm-text-marker > textarea.pm-textarea {
  /* Currently in dark.css we have a `textarea :not(.pm-textarea)` clause
so dark styling wont be applied to the text annotation area; however,
we could do something like below, as well as specifying the border
  background-color: #fff !important;
  color: #000 !important;
  */

  /* Making the font a little larger is both a bit nicer, and vertically centers the text in the textarea better. */
  font-size: 14.5px;
}

/* Make sure the legend is always visible, even if using dark.css. */
.LegEntry {
  border-radius: 5px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
  color: #000 !important;
}


div.LeafletRadMapWidget .EnergyRangeRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  padding-top: 8px;
  padding-bottom: 3px;
  padding-left: 10px;
}


div.LeafletRadMapWidget .EnergyRangeRow .EnergyRangeGrp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
}


.LeafletRadMapWidget .EnergyRangeRow .EnergyFilterSpacer {
  flex: 1;
}

.LeafletRadMapWidget .EnergyRangeRow .EnergyFilterHelp {
  
}
