.MakeFwhmForDrf
{
 
}

.MakeFwhmForDrf .Options, .MakeFwhmForDrf .Parameters
{
  height: 25px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.MakeFwhmForDrf .Options .OptDiv, .MakeFwhmForDrf .Parameters .ParDiv
{
  display: flex;
  flex-direction: row;
  column-gap: 3px;
}

.MakeFwhmForDrf .ErrTxt
{

}

.MakeFwhmForDrf .EqnTxt
{

}