.MoreInfoContent
{
  padding: 0 20px 20px;
}

.MoreNuclideInfoDisplay
{
  text-align: left;
}

/* To define the width, we will use same media queries that SimpleDialog
uses to control its maximum width.
 */
@media screen and (max-width: 1000px) {
  .MoreNuclideInfoDisplay {
    width: min(400px, calc(99vw - 50px) );
  }
}

@media screen and (min-width: 1000px) {
  .MoreNuclideInfoDisplay {
    width: min(400px, 40vw);
  }
}

.MoreNuclideInfoDisplay a
{
  /* color: blue; */
  cursor: pointer;
} 

.MoreNuclideInfoDisplay .MoreNucInfoTitle
{
  text-align: center;
  font-weight: 700;
  font-size: x-large;
  user-select: none;
  margin-top: 10px;
}

.MoreNuclideInfoDisplay .MoreNucInfoTitle:first-letter
{
  text-transform: uppercase;
}

.MoreNuclideInfoDisplay .MoreNucInfoPrev
{
  margin-bottom: 5px;
}

.MoreNuclideInfoDisplay .MoreNucInfoSection
{
  margin-top: 5px;
  margin-bottom: 10px;
}


.MoreNuclideInfoDisplay .MoreNucInfoSection .MoreNucInfoSubTitle
{
  font-weight: 700;
  font-size: 18px;
}

.MoreNuclideInfoDisplay .MoreNucInfoSection .MoreNucInfoSectionContent
{
  padding-left: 15px;
}

.MoreNuclideInfoDisplay table
{
  white-space: nowrap;
  /* border: 1px solid #e1e1e1; */
}

.MoreNuclideInfoDisplay table > thead
{
  /* border-bottom: 1px solid #e1e1e1; */
}

.MoreNuclideInfoDisplay table > tbody > tr > th,
.MoreNuclideInfoDisplay table > thead > tr > th
{
  padding-right: 7px;
  padding-bottom: 2px;
  vertical-align: middle;
}

.MoreNuclideInfoDisplay table > tbody > tr > td
{
  vertical-align: middle;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.MoreNuclideInfoDisplay .MoreNucInfoRelatedList
{

}

/* Render unordered lists as CSV lines - this is for the associated nuclides list */
.MoreNuclideInfoDisplay ul.MoreNucInfoRelated
{
  display: inline;
  list-style: none;
  padding-inline-start: 0px;
}

.MoreNuclideInfoDisplay ul.MoreNucInfoRelated > li
{
  display: inline;
}

.MoreNuclideInfoDisplay ul.MoreNucInfoRelated > li:after
{
  content: ", ";
}

.MoreNuclideInfoDisplay ul.MoreNucInfoRelated > li:last-child:after
{
  content: "";
}

/* Make half-life text in list of associated nuclides a little smaller*/
.MoreNuclideInfoDisplay .HalfLife
{
  font-size: xx-small;
  margin-left: 3px;
}

/* Get rid of large leading whitespace for analyst notes */
.MoreNuclideInfoDisplay .MoreNucInfoSection .MoreNucInfoSectionContent > p:first-child 
{
  margin-block-start: 0px;
}

.MoreNuclideInfoDisplay button.with-label.Wt-btn.LightButton,
.MoreNuclideInfoDisplay a
{
  color: rgb(18,101,200);
}

.MoreNuclideInfoDisplay button.with-label.Wt-btn.LightButton:hover,
.MoreNuclideInfoDisplay a:hover
{
  color: rgb(99, 161, 236);
}


.MoreNuclideInfoDisplay button.DecayBtn
{
  margin-top: 5px;
  margin-left: 15px;
}


/* This is each paragraph within analyst notes; i.e., where there was more than one blank lines
 between writing in more_nuclide_info.xml
 */
.MoreNuclideInfoDisplay .MoreNucInfoSection .MoreNucInfoSubSec
{
  margin-top: 5px;
  margin-bottom: 10px;
}

.MoreNuclideInfoDisplay .MoreNucInfoSection .MoreNucInfoSubSec > ul
{
  margin-block-start: 2px;
}


.MoreNuclideInfoDisplay .MoreNucReferences
{
  margin-top: 10px;
}

.MoreNuclideInfoDisplay .MoreNucReferences .MoreNucRef
{
  margin-top: 10px;
  display: flex;
}

.MoreNuclideInfoDisplay .MoreNucRef ul
{
  margin-block-start: 0px;
  margin-block-end: 0px;
  list-style-type: none;
  padding-inline-start: 5px;
}
