.PeakEdit
{
overflow-y: auto;
}

.PeakEditTable
{
  margin-left: auto;
  margin-right: auto;
}

.PeakEdit .PeakEditTable td
{
  padding: 2px;
  padding-right: 2px;
}

.PeakEdit .PeakEditTable tr td:first-child
{
  /* First column td elements */
  vertical-align: middle;
  padding-right: 2px;
}

.PeakEditWindow
{
}

.PeakEditOtherPeaks
{
  text-align: center;
  padding-top: 0.5em;
}

.PeakEdit .PeakEditDrfFwhm
{
  display: block;
  text-align: right;
  font-style: italic;
  font-size: xx-small;
}

.PeakEdit .PeakEditEstLinCont
{
  float: right;
  height: 18px;
  font-size: x-small;
}

.PeakEditPreviousPeak, .PeakEditNextPeak
{
  position:absolute;
  bottom: 0;
  height: 22px;
  width: 22px;
  border: 0px;
  padding: 0px;
  cursor: default;
}

.PeakEditPreviousPeak
{
  background: transparent url(images/previous_arrow.png) no-repeat scroll right top;
  left: 10px;
}

.PeakEditNextPeak
{
  background: transparent url(images/next_arrow.png) no-repeat scroll right top;
  right: 10px;
}

