table.PeakSelectorTable
{
  border-collapse:collapse;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
}

table.PeakSelectorTable td, table.PeakSelectorTable th
{
  border:1px solid black;
  padding: 2px;
}

table.PeakSelectorTable th
{
  font-weight: bold;
  margin-left: 3px;
  margin-right: 3px;
}

table.PeakSelectorTable td.KeepPeakCell{
  vertical-align: middle;
  padding-left: 5px;
}

table.PeakSelectorTable td.KeepPeakCell .KeepPeakCb{
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}

table.PeakSelectorTable td.PeakEnergyCell{
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}

table.PeakSelectorTable td.OrigNucCell{
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

table.PeakSelectorTable td.NewNucCell{
  vertical-align: middle;
  padding-left: 3px;
  padding-right: 3px;
}

table.PeakSelectorTable td.NewNucCell .DontAssignCb{
  margin-top: 10px;
  float: right;
  margin-right: 10px;
}

.PeakPreviewCell{
}

.ShowAllPeaksCb{
}

.KeepRefLinPeaksOnlyCb{
}

.Wt-panel.PeakSelectRelEffPanel{
  border-width: 1px;
  border-radius: 3px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.Wt-panel.PeakSelectRelEffPanel .titlebar{
  height: 20px;
  display: flex;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

.Wt-panel.PeakSelectRelEffPanel .titlebar span {
  display: flex;
}
