.ReferencePhotopeakDisplay
{
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 4px;
  margin-bottom: 3px;
}

.ReferencePhotopeakDisplay .HlOptRow
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.ReferencePhotopeakDisplay .Hl
{
    /* Hack to make the text roughly vertically align in middle due to increased color input size... */
    /* display: inline-block; */
    /* margin-top: 5px; */
    flex: 1 1;
    margin-left: 10px;
    font-size: small;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.RefLinColorPick
{
    margin-right: 5px;
}

.RefLinesOptMenu
{
    
}

.RoundMenuIcon.InvertInDark.Wt-btn.RefLinesOptMenu.non-default
{
  background-color: red;
}

.RefLinesOptions.ToolTabSection.ToolTabTitledColumn {
    /* width: 200px; */
  display: flex;
  flex-direction: column;
}

.IsPhone.Portrait .RefLinesOptions.ToolTabSection.ToolTabTitledColumn {
  font-size: 0.5em;
}

.CascadeGammaWarn
{
    font-size: smaller;
    font-style: italic;
    margin-left: 20px;
    width: 100px;
}


.ToolTabColumnTitle .closeicon-wtdefault {
    float: right;
    /* margin-right: 5px; */
    /* margin-top: 5px; */
}

.RefLinesOptions .ToolTabTitledColumnContent {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding: 5px;
    margin: 0px; /* Overide ToolTabTitledColumnContent */
    overflow-y: auto; /* The list of options may become long enough to show y-scroll bars. */
    overflow-x: hidden; /* But we dont want x-scrollbars because the y-scroll bars */
}

@supports (scrollbar-gutter: stable) {
  .RefLinesOptions .ToolTabTitledColumnContent  {
    /* scrollbar-gutter: stable; */ /* Use scrollbar-gutter if supported */
    scrollbar-gutter: stable both-edges; /* not really sure `both-edges` does anything */
  }
}

@supports not (scrollbar-gutter: stable) {
  .RefLinesOptions .ToolTabTitledColumnContent {
    padding-right: 16px; /* Fallback for browsers without scrollbar-gutter */
  }
}

.RefLinesOptions .ToolTabTitledColumnContent > label {
  margin-right: 5px;
}



.ParticleViewTable, .RefLinesOptions {
}


.ReferencePhotopeakDisplay .OtherNucs {
    width: 95px;
    display: flex;
    flex-direction: column;
}

.ReferencePhotopeakDisplay .OtherNucs .OtherNucsHeader {
  flex: 0 0 content;
}

.ReferencePhotopeakDisplay .OtherNucs .OtherNucsContent {
  margin-top: 0px;
  flex: 1 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.ReferencePhotopeakDisplay .OtherNucs .OtherNucTypeHeader {
  margin-top: 5px;
  background: #EEEEEE;
  text-align: center;
}

.OtherNucsContent.ToolTabTitledColumnContent > button.Wt-btn.with-label.LinkBtn {
    flex: 0 0 17px;
    font-size: 12px;
    font-weight: normal;
    float: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ReferencePhotopeakDisplay .FeatureLines {
    width: 140px;
}

.ReferencePhotopeakDisplay .FeatureMarkerWidget {
  margin-left: auto;
  margin-right: auto;
}

.IsPhone.Portrait .ReferencePhotopeakDisplay .FeatureMarkerWidget {
  font-size: x-small;
  margin-left: 0px;
  margin-right: 0px;
}

.IsPhone.Portrait .ToolTabColumnTitle .closeicon-wtdefault {
    margin-top: -3px; /* Make up for smaller font size in title */
}

.IsPhone.Portrait .ReferencePhotopeakDisplay .FeatureLines {
    width: 100px;
}

.HlOptRow button.Wt-btn.with-label.LinkBtn.MoreInfoBtn {
    height: 100%;
    font-size: 12px;
}

@media (max-width: 350px) {
  .IsPhone.Portrait .ReferencePhotopeakDisplay .FeatureMarkerWidget {
    font-size: 6pt;
    width: 100%;
  }
  
  .FeatureLines.ToolTabSection.ToolTabTitledColumn .ToolTabColumnTitle > span {
    font-size: 5pt;
  }
  
  .IsPhone.Portrait .ReferencePhotopeakDisplay .FeatureLines {
      width: 95px;
  }
  
  .RefLinesOptions .ToolTabTitledColumnContent {
    width: 82px; /* About same width as "Suggestions" and "Feature Markers" although ".ReferencePhotopeakDisplay .OtherNucs .OtherNucsContent" doesnt have an explicit width set*/
  }
  
  .ReferencePhotopeakDisplay .Hl {
    margin-left: 5px;
    font-size: xx-small;
  }
}

.RefGammaHelp {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.RefGammaBottomRow {
  position: relative;
  height: 18px;
}

.RefGammaBottomRow .RefGammaFitSources.LightButton {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  
  height: 18px;
  font-size: 10px;
}

.RefGammaBottomRow .RefGammaFitSources button.Wt-btn.LightButton {
  height: 18px;
  font-size: 10px;
}

.RefGammaCsv
{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.RefLineThicknessCombo
{
  margin-top: 1px;
}

.RefLineVerbosityCombo
{
  margin-top: 2px;
}

.simple-dialog.FitSourcesResultDialog
{
  max-width: 85vw;
}

.simple-dialog.FitSourcesResultDialog .body.NonSpecDialogBody
{
  padding-bottom: 8px;
  overflow-y: visible;
}

.simple-dialog.FitSourcesResultDialog .FitSourcesResultContents
{
  overflow-y: visible;
  max-height: none;
}

.FitSourcesSummary
{
  font-weight: bold;
  margin-bottom: 8px;
}

.rpd-fit-sources-warnings-header
{
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 4px;
}

.rpd-fit-sources-warning
{
  margin-left: 12px;
  margin-bottom: 2px;
  font-size: 0.9em;
}
