.ReferencePhotopeakDisplay
{
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 4px;
  margin-bottom: 3px;
}

.ReferencePhotopeakDisplay .HlOptRow
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.ReferencePhotopeakDisplay .Hl
{
    /* Hack to make the text roughly vertically align in middle due to increased color input size... */
    /* display: inline-block; */
    /* margin-top: 5px; */
    flex: 1 1;
    margin-left: 10px;
    font-size: small;
    text-overflow: ellipsis;
}

.RefLinColorPick
{
    margin-right: 5px;
}

.RefLinesOptMenu
{
    
}

.RoundMenuIcon.InvertInDark.Wt-btn.RefLinesOptMenu.non-default
{
  background-color: red;
}

.RefLinesOptions.ToolTabSection.ToolTabTitledColumn {
    /* width: 200px; */
  display: flex;
  flex-direction: column;
}


.CascadeGammaWarn
{
    font-size: smaller;
    font-style: italic;
    margin-left: 20px;
    width: 100px;
}


.RefLinesOptions .ToolTabColumnTitle .closeicon-wtdefault {
    float: right;
    /* margin-right: 5px; */
    /* margin-top: 5px; */
}

.RefLinesOptions .ToolTabTitledColumnContent {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding: 5px;
    margin: 0px; /* Overide ToolTabTitledColumnContent */
    overflow-y: auto;
}

.RefLinesOptions .ToolTabTitledColumnContent > label {
  margin-right: 5px;
}



.ParticleViewTable, .RefLinesOptions {
}


.ReferencePhotopeakDisplay .OtherNucs {
    width: 95px;
    display: flex;
    flex-direction: column;
}

    .ReferencePhotopeakDisplay .OtherNucs .OtherNucsHeader {
        flex: 0 0 content;
    }

    .ReferencePhotopeakDisplay .OtherNucs .OtherNucsContent {
        margin-top: 0px;
        flex: 1 0;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    .ReferencePhotopeakDisplay .OtherNucs .OtherNucTypeHeader {
        margin-top: 5px;
        background: #EEEEEE;
        text-align: center;
    }

.OtherNucsContent.ToolTabTitledColumnContent > button.Wt-btn.with-label.LinkBtn {
    flex: 0 0 17px;
    font-size: 12px;
    font-weight: normal;
    float: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.HlOptRow button.Wt-btn.with-label.LinkBtn.MoreInfoBtn {
    height: 100%;
    font-size: 12px;
}

.RefGammaHelp {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.RefGammaCsv
{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
