.RefSpectraDialog
{

}

.RefSpectraWidget
{
    
}

.RefSpectraStack
{

}

.RefSpectraWidget .RefSpectraOptions,
.RefSpectraWidget .ShowAsContainer
{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.RefSpectraWidget .RefSpectraOptionsSpacer
{
  flex-grow: 1;
}

.RefSpectraWidget .ShowInExplorerBtn
{
  margin-left: 8px;
}



.RefSpectraWidget .RefSpectraOptions .ShowAsContainer .ShowAsContainerSpacer
{
  flex-grow: 1;
}
.RefSpectraStack > div
{
  width: 100%;
  height: 100%;
}

.RefSpectraWidget .AddDirBtn, .RefSpectraWidget .DeleteDirBtn
{
  opacity: 0.6;
  cursor:pointer;
  background-repeat: no-repeat;
  height: 21px;
  width: 21px;
  display: inline-block;
}

.RefSpectraWidget .AddDirBtn
{
  background-image: url('../InterSpec_resources/images/plus_min_black.svg');
  background-position: center center;
}

.RefSpectraWidget .DeleteDirBtn
{
  margin-left: 8px;
  background-image: url('../InterSpec_resources/images/minus_min_black.svg');
  background-position: center center;
}

.RefSpectraWidget .AddDirBtn:hover, .RefSpectraWidget .DeleteDirBtn:hover
{
  opacity: 1;
}

div.RefSpectraWidget .AddDirBtn.Wt-disabled, div.RefSpectraWidget .DeleteDirBtn.Wt-disabled
{
  background: none;
}


.RefSpectraAddDirDialog
{
  width: 300px;
}

.RefSpectraAddDirDialogContents
{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.DirInfoTitle
{
  margin-bottom: 10px;
  font-size: 14px;
  display: block;
}

.DirReadmeText
{
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.ErrorLoadingText
{
  color: red;
}