.RelActAutoGui
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


.RelActAutoGui .RelActAutoUpperArea
{
  height: 35%;
  min-height: 225px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.RelActAutoGui .RelActAutoOptions
{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  
  border: 1px solid #e1e1e1;
  padding: 2px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.RelActAutoGui .RelEffCurveOptions
{
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  
  align-items: center;
  /* justify-content: space-between; */

  /* --- Container Query Setup --- */
  container-type: inline-size;
  container-name: rel-eff-curve-opt-container;
}

.RelActAutoGui .RelEffCurveOptions .RelEffCurveName
{
  margin-left: 5px;
  font-style: italic;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 60px;
}

.RelActAutoGui .RelEffCurveOptions .RelEffCurveName input
{
  width: 55px;
}


.RelActAutoGui .EqnTypeDiv,
.RelActAutoGui .EqnOrderDiv,
.RelActAutoGui .PuCorrDiv
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
}


.RelActAutoGui .UpperStack,
.RelActAutoGui .RelEffCurveOptsStack
{
  flex: 1 1 auto;
  height: 100%;
}

.RelActAutoGui .D3SpectrumDisplayDiv, .RelActAutoGui .RelEffChart,  .RelActAutoGui .RelActTxtResults
{
  height: 100%;
}

.RelActAutoGui .RelActTxtResults
{
  /* Let this text be selectable so user can copy/paste. */
  user-select: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
}

.RelActAutoGui .UpperMenu,
.RelActAutoGui .RelEffCurveOptsMenu,
.RelActAutoGui .RelEffNuclidesMenu
{
  padding-left: 2px;
  padding-right:2px;
  font-size: 13px;
  overflow-y: visible; /* I'm a little conflicted about how to exactly treat this - sometimes unnecessary scroll-bars will show if set to 'auto' */
  
  flex: 0 1 auto;
}



.RelActAutoGui .UpperMenu a,
.RelActAutoGui .RelEffCurveOptsMenu a,
.RelActAutoGui .RelEffNuclidesMenu a
{
  /*
   padding-left: 10px;
   padding-right: 5px;
   */
}


.RelActAutoGui ul.UpperMenu,
.RelActAutoGui ul.RelEffCurveOptsMenu,
.RelActAutoGui ul.RelEffNuclidesMenu
{
  padding-inline-start: 0px;
  list-style-type: none;
  max-width: 40px;
}


.RelActAutoGui ul.UpperMenu li,
.RelActAutoGui ul.RelEffCurveOptsMenu li
{
  display: inline-block;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-rl;
  writing-mode: tb-lr;
  transform: scale(-1, -1);
  white-space: nowrap;
  height: 50px;

  font-weight: bold;
}


.RelActAutoGui ul.UpperMenu li,
.RelActAutoGui ul.RelEffCurveOptsMenu li,
.RelActAutoGui ul.RelEffNuclidesMenu li
{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  text-align: center;
}

.RelActAutoGui ul.RelEffCurveOptsMenu
{
  max-width: 60px;
  margin-block-start: 5px;
  margin-block-end: 5px;
}
.RelActAutoGui ul.RelEffCurveOptsMenu li
{
  width: 15px;
  height: 35px;
  font-weight: normal;
  font-size: 10px;
  padding-left: 0px;
  padding-right: 1px;
}


.RelActAutoGui ul.RelEffNuclidesMenu
{
  margin-block-start: 5px;
  margin-block-end: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;

  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.RelActAutoGui ul.RelEffNuclidesMenu li
{
  padding-top: 1px;
  width: 50px;
  font-weight: normal;
  font-size: 10px;
  font-weight: normal;
  padding-top: 1px;
padding-bottom: 1px;
}


.RelActAutoGui .PresetsRow
{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 3px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
}

.RelActAutoGui .RelActAutoSpacer
{
  flex: 1 1 auto;
}


.RelActAutoGui .RelActAutoErrMsg,
.RelActAutoGui .RelActAutoStatusMsg,
.RelActAutoGui .RelActAutoChi2Msg
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Let this text be selectable so user can copy/paste. */
  user-select: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
}

.RelActAutoGui .RelActAutoErrMsg
{
  color: red;
}

.RelActAutoGui .RelActAutoChi2Msg
{

}

.RelActAutoGui .RelActAutoStatusMsg
{
  background: red;
  color: white;
 
 /*
  padding-right: 5px;
  padding-left: 5px;
  position: absolute;
  right: 50%;
  top: 40%;
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  vertical-align: middle;
  */
}


.RelActAutoGui .RelActAutoGeneralOptionsRow
{
  display: flex;
  flex-direction: row;
  
  border: 1px solid #e1e1e1;
  padding: 2px;

  gap: 5px;
  align-items: center;
  justify-content: space-between;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;

  flex-wrap: wrap;
}


.RelActAutoGui .RelActAutoFwhmEstDiv, 
.RelActAutoGui .RelActAutoFwhmFormDiv,
.RelActAutoGui .RelActAutoSkewDiv,
.RelActAutoGui .RelActAutoAddUncertDiv
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
}


.RelActAutoGui .RelEffCurveOptsStack
{ 
  height: 70px;
}

.RelActAutoGui .RelEffCurveOptions .AddDelRelEffDiv
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: bottom;
  gap: 2px;
}



.RelActAutoGui .PhysicalModelOpts
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  /* flex: 1 1 auto; */
  /* gap: 10px; */
}

.RelActAutoGui .PhysicalModelOpts .PhysicalModelShields
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  /* flex: 1 1 auto; */
  gap: 10px;
}

.RelActAutoGui .RelEffCurveOptions .RelEffEqnTxt
{
  font-size: 8px;
  font-style: italic;
  text-align: center;
  
  flex: 1 1 auto;
}

/* We will hide Rel. Eff. curve display text, unless our display is really wide... this is a hack, for the moment */
@container rel-eff-curve-opt-container (max-width: 1300px) {
  .RelActAutoGui .RelEffCurveOptions .RelEffEqnTxt {
    font-size: 0px;
  }
}

.RelActAutoGui .PhysicalModelOpts .PhysicalModelOptRow
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: scale(0.85);
}

.RelActAutoGui .PhysicalModelOpts .PhysicalModelOptRow > .DetectorDisplay
{
}

.RelActAutoGui .PhysicalModelOpts .PhysicalModelOptRow .PhysHoerlOptionDiv
{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.RelActAutoGui .PhysicalModelOpts .PhysicalModelOptRow .PhysOptionCb
{
  font-size: small;
  /*padding-left: 40px;*/
  transform: scale(0.80);
}

.RelActAutoGui .PhysicalModelOpts .PhysicalModelOptRow > label
{
}

.RelActAutoGui .MoreMenuIcon,
.RelActAutoGui .MoreMenuIcon:hover
{
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0;
  margin: 0;
}

.RelActAutoGui .MoreMenuIcon
{
  opacity: 0.55;
}

.RelActAutoGui .MoreMenuIcon:hover,
.RelActAutoGui .MoreMenuIcon 
{
  opacity: 1;
}

.RelActAutoGui .EnergiesAndNuclidesHolder
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  flex: 1 1 auto;
  gap: 10px;
  padding: 5px;
  
  overflow-y: hidden;
}

.RelActAutoGui .NuclidesHolder,
.RelActAutoGui .EnergiesHolder,
.RelActAutoGui .FreePeaksHolder
{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  padding-top: 0px; /* The legend takes care of top padding */

  border: 1px solid #e1e1e1;
}

.RelActAutoGui .NuclidesHolder legend
{
  width: 8ex;
  white-space: nowrap;
}

.RelActAutoGui .EnergiesHolder legend
{
  width: 14ex;
  white-space: nowrap;
}

.RelActAutoGui .FreePeaksHolder legend
{
  width: 10ex;
  white-space: nowrap;
}

.RelActAutoGui .FreePeaksHolder
{
  flex-grow: 0;
  flex-basis: 200px;
}


.RelActAutoGui .EnergyNucHeader
{
  font-weight: bold;
  display: block;
  text-align: center;
}


.RelActAutoGui .RelEffNuclidesStack
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  
  flex: 1 1 auto;
  
  border: 1px solid #e1e1e1;
}

.RelActAutoGui .EnergyNucContent
{
  flex: 1 1 auto;
  overflow-x: auto;
  overflow-y: auto;

  border: 1px solid #e1e1e1;
}

.RelActAutoGui .EnergyNucFooter
{
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  padding-right: 5px;
  align-items: center;
  gap: 5px;
}

.RelActAutoGui .EnergyNucFooter .SameZAgeCb
{
  
}

.RelActAutoGui .AddEnergyRangeOrNuc, .RelActAutoGui .AddEnergyRangeOrNuc:hover,
.RelActAutoGui .DeleteEnergyRangeOrNuc, .RelActAutoGui .DeleteEnergyRangeOrNuc:hover,
.RelActAutoGui .ToIndividualRois, .RelActAutoGui .ToIndividualRois:hover,
.RelActAutoGui .AddRelEffCurve, .RelActAutoGui .AddRelEffCurve:hover,
.RelActAutoGui .DelRelEffCurve, .RelActAutoGui .DelRelEffCurve:hover,
.RelActAutoGui .SortEneRanges, .RelActAutoGui .SortEneRanges:hover
{
  opacity: 0.6;
  
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0px;
  margin: 2px;
  margin-left: 5px;
  width: 16px;
  height: 21px;
}

.RelActAutoGui .AddEnergyRangeOrNuc:hover,
.RelActAutoGui .DeleteEnergyRangeOrNuc:hover,
.RelActAutoGui .ToIndividualRois:hover,
.RelActAutoGui .AddRelEffCurve:hover,
.RelActAutoGui .DelRelEffCurve:hover,
.RelActAutoGui .SortEneRanges:hover
{
  opacity: 1.0;
}


.RelActAutoGui .AddRelEffCurve,
.RelActAutoGui .DelRelEffCurve
{
  align-self: flex-end;
}


.RelActAutoGui .ToIndividualRois,
.RelActAutoGui .ToIndividualRois:hover
{
  height: 18px;
  width: 18px;
  
  justify-self: end;
  align-self: end;
  margin: 0px;
}


.RelActAutoGui .ToIndividualRois.Wt-disabled,
.RelActAutoGui .ToIndividualRois.Wt-disabled:hover
{
  opacity: 0.15;
  cursor: not-allowed;
}


.RelActAutoGui .ToIndividualRois img
{
  
}

.RelActAutoGui .ShowFreePeaks,
.RelActAutoGui .HideFreePeaks,
.RelActAutoGui .ClearEnergyRanges
{
  font-size: 80%;
  height: 21px;
}

.RelActAutoGui .DeleteEnergyRangeOrNuc,
.RelActAutoGui .DeleteEnergyRangeOrNuc:hover
{
  justify-self: end;
}

.RelActAutoGui .SortEneRanges.Ascend
{

}

.RelActAutoGui .SortEneRanges.Decend
{
  transform: scaleY(-1);
}


.RelActAutoGuiContextMenu
{
  
}

.RelActAutoGuiEnergyRange > label
{
  justify-self: end;
}


.RelActAutoGui .RelActAutoGuiEnergyRange,
.RelActAutoGui .RelActAutoGuiNuclide,
.RelActAutoGui .RelActAutoGuiFreePeak
{
  border: 1px solid #e1e1e1;
  margin: 5px;
  padding: 5px;
}

.RelActAutoGui .RelActAutoGuiFreePeak > input
{
  width: 55px;
  /* justify-self: stretch; */
}

.RelActAutoGui .RelActAutoGuiEnergyRange
{
  display: grid;
  
  row-gap: 5px;
  column-gap: 5px;
  align-items: center;
  justify-content: left;
  
  grid-template-columns: min-content min-content min-content 2fr min-content 1fr;
}


.RelActAutoGuiEnergyRange > input
{
  width: 9ex;
}


.RelActAutoGui .RelActAutoGuiNuclide
{
  padding-left: 5px;
  padding-right: 5px;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
}

.RelActAutoGui .RelActAutoGuiNuclide .RelActAutoGuiNuclideAgeContainer
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 5px;
  gap: 5px;
}

.RelActAutoGui .RelActAutoGuiNuclide .RelActAutoGuiNuclideSummaryText
{
  font-size: 10px;
  overflow: hidden;
  margin-left: 5px;
  flex: 1 1 auto;

  /* Let this text be selectable so user can copy/paste. */
  user-select: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
}

.RelActAutoGui .RelActAutoGuiNuclide .RelActAutGuiNuclideColorSelect
{
  width: 35px;
}

.RelActAutoGui .RelActAutoGuiNuclide .UpperRow,
.RelActAutoGui .RelActAutoGuiNuclide .LowerRow
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  height: 25px;
}

.RelActAutoGui .RelActAutoGuiNuclide .LowerRow
{
  font-size: 11px;
  height: 20px;
}

.RelActAutoGui .RelActAutoGuiNuclide .AddConstraintBtn
{
  width: 285px;
  font-weight: normal;
  text-align: left;
}

.RelActAutoGui .RelActAutoGuiNuclide .RelActAutoGuiNuclideConstraint
{
  display: flex;
  flex-direction: row;
  width: 285px;
  align-items: center;
}

.RelActAutoGui .RelActAutoGuiNuclide .RelActAutoGuiNuclideConstraint .DeleteEnergyRangeOrNuc.Wt-icon
{
  height: 20px;
}

.RelActAutoGui .RelActAutoGuiNuclide .RelActAutoGuiNuclideConstraint .DeleteEnergyRangeOrNuc.Wt-icon img
{
  height: 12px;
}

.RelActAutoGui .RelActAutoGuiNuclide .NucAgeRangeContainer
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 5px;
  gap: 5px;
}

.RelActAutoGui .RelActAutoGuiNuclide .NucAgeRangeContainer > input
{
  width: 55px;
  margin-right: 5px;
}

.RelActAutoGui .RelActAutoGuiNuclideConstraint .ConstraintInputDiv
{
  margin-left: 5px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
}

.RelActAutoGui .RelActAutoGuiNuclideConstraint .ConstraintInputDiv > label
{
  margin-left: 5px;
}


.RelActAutoGui .RelActAutoGuiFreePeak
{
  display: grid;
  
  column-gap: 5px;
  row-gap: 5px;
  justify-items: start;
  align-items: center;
  justify-content: start;
}

.RelActAutoGui RelActAutoGuiFreePeak .FreePeakConstrain
{
  /* justify-self: end; */
  margin-left: 10px;
}

.RelActAutoGui .InvalidFreePeakEnergy
{
  color: red;
  place-self: center;
}

.DownloadBtn.RelActDownload, .DownloadBtn.RelActDownload:hover
{
  float: left;
  padding-left: 2px;
  flex-direction: row-reverse;
  margin-right: 0px;
}

a.DownloadLink.RelActDownload > span
{
  padding-right: 20px;
  background-position: bottom 0px right 0px;
  margin-top: 7px;
  margin-right: 0px;
}


.UploadBtn.RelActDownload, .UploadBtn.RelActDownload:hover
{
  float: left;
  padding-left: 0px;
  margin-left: 0px;
}

.SetToPeaksDialog
{
  
}

.SetToPeaksDialog .AddOrReplaceSwitchRow
{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.SetToPeaksDialog .AddOrReplaceRefitRow
{
  display: flex;
  justify-content: right;
  padding-right: 10px;
  margin-bottom: 10px;
}

.SetToPeaksDialog .AddOrReplaceRefitRow label
{
  /* Make the  checkbox and label line up in the center. */
  display: flex;
  justify-content: center;
}

.RelActAutoGui .RelActCalcAutoAlphaBuildWarning
{
  display: block;
  
  color: navy;
  font-weight: bold;
  text-align: center;

  padding: 2px;
  margin: 1px;
  border: 1px solid grey;
  background: yellow;
}
