.RelEffPlot {
}

.RelEffPlot path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.RelEffPlot .xAxis path,
.RelEffPlot .xAxis line,
.RelEffPlot .yAxis path,
.RelEffPlot .yAxis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.RelEffPlot circle {
    cursor: pointer;
    fill: steelblue;
}

.RelEffPlot circle.noiso{ fill: black; }
.RelEffPlot circle.multiiso{ fill: #ef5675; }

.RelEffPlot .errorbar {
  fill: none;
  stroke: grey;
  stroke-width: 1;
}

div.RelEffPlotTooltip {
    position: fixed;
    padding: 6px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.RelEffPlot path.RelEffPlotErrorBounds {
  /* fill and stroke dont seem to apply from here, so they are set in the JS */
  /* fill: rgba(0, 0, 255, 0.15); */
  /* stroke: none; */
}
