.ShiledingSourceOptionsBtn
{
}

.ShiledingSourceOptionsBtn.active
{
  opacity: 1.0;
}

.ShieldingDelete, .ShieldingAdd, .ShieldingDelete:hover, .ShieldingAdd:hover
{
  opacity:0.5;
  cursor:pointer;
  color: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
}

.ShieldingDelete:hover, .ShieldingAdd:hover
{
  opacity:1.0;
}

.ShieldingSelect
{
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
}

.ShieldingSelectContainer
{
   min-width: 19em;
   min-height: 10em;
   overflow-y: auto;
   
   padding-left:   5px;
   padding-right:  5px;
}

.ShieldingSelectContainer .ShieldingSelect
{
  border-width: 2px;
  border-style: inset;
  border-color: rgb(255, 255, 255);
  
  margin-top:    3px;
  margin-bottom: 3px;
}

.MassFracNoFit
{
  background: Silver;
  margin-left: 3ex;
}

.PointInfo
{
  position: absolute;
  display: inline-block;
  top: 2px;
  right: 11px;
  border: 1px solid black;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  color: black;
  background-color: #fff;
  background-color: rgba(255,255,255,0.9);
}

.PointInfo > sub
{
  font-size:50%;
}

.CalculationLog
{
  white-space: pre;
  font-family: monospace;
  display: block;
  overflow: auto;
}

.CalcLogLink, .InfoLink
{
  color:grey;
}


.CalcLogLink:hover, .InfoLink:hover
{
  color:blue;
}


.ShieldingSourceDisplay_m_peakView
{
   height: 100%;
   border:2px solid #e1e1e1; 
}

.ShieldingSourceDisplay_m_sourceView
{
   height: 100%;
   border:2px solid #e1e1e1; 
}

.ShieldingAsSourceCBDiv
{
/*background: #888888; color: #FFFFFF;*/
  border-color: #E1E1E1;
  border-style: solid;
  border:2px solid #e1e1e1;
}

.ShieldAddIcon,.ShieldAddIcon:hover
{
  background-image: url('../InterSpec_resources/images/shield_add.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.ShapeSquareAddIcon,.ShapeSquareAddIcon:hover
{
  background-image: url('../InterSpec_resources/images/shape_square_add.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}

.GearIcon,.GearIcon:hover
{
  background-image: url('../InterSpec_resources/images/cog.png');
  background-position: 3px center;
  background-repeat: no-repeat;
  padding-left: 21px;  /* width of the image plus a little extra padding */
}


