.ShieldingSourceDisplay
{
  
}


.ShieldingSelectContainer
{
   min-width: min(23em, calc(100vw - 15px));
   min-height: 10em;
   overflow-y: auto;
   
   padding-left:   5px;
   padding-right:  5px;
}

.ShieldingSelectContainer .ShieldingSelect
{
  border-width: 2px;
  border-style: inset;
  border-color: rgb(255, 255, 255);
  
  margin-top:    3px;
  margin-bottom: 3px;
}

.CalculationLog
{
  white-space: pre;
  font-family: monospace;
  display: block;
  overflow: auto;
}

.CalcLogLink, .InfoLink
{
  color:grey;
}


.CalcLogLink:hover, .InfoLink:hover
{
  color:blue;
}


.ShieldingSourceDisplay .PeakView,
.ShieldingSourceDisplay .SourceView
{
/*   height: 100%; */
   border:2px solid #e1e1e1; 
}


.DetAndMenu
{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.DetAndMenu .DetectorDisplay
{
  flex: 1 1 content;
}



.ShieldingSourceDisplay .ChartMouseOverInfo
{
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 75px;
}

table.TruthValueTable
{
  border-collapse: separate;
  border-spacing: 5px 5px;
}
