.ShieldingDelete, .ShieldingAdd, .ShieldingDelete:hover, .ShieldingAdd:hover
{
  opacity:0.5;
  cursor:pointer;
  color: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 4px;
  width: 16px;
  height: 17px;
}

.ShieldingDelete:hover, .ShieldingAdd:hover
{
  opacity:1.0;
}

.ShieldingAdd.Wt-disabled, .ShieldingDelete.Wt-disabled
{
  background-color: transparent;
}

.ShieldingSelect
{
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 5px;
}


.ShieldingSelect .MaterialSummary
{
  overflow-x: hidden;
  white-space: nowrap;
  width: 95px;
  text-align: right;
  margin-right: 3px;
}

.ShieldingSelect .SourceCheckbox 
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  padding-left: 10px;
}

.ShieldingSelect .SourceCheckbox .UseAsSrcCb
{
  width: 60px;
  overflow-x: hidden;
}

.ShieldingSelect .SourceCheckbox .SelfAttenSrcLabel
{
  width: 95px;
  overflow-x: hidden;
  font-size: smaller;
}

.ShieldingSelect .SourceCheckbox input.FloatInput
{
  
}

.ShieldingSelect .SourceCheckbox .FitFractionCb
{
  
}


.ShieldingAsSourceCBDiv
{
/*background: #888888; color: #FFFFFF;*/
  border-color: #E1E1E1;
  border-style: solid;
  border:2px solid #e1e1e1;
}

.ShieldingSelect .LinkBtn.AddTrcSrcBtn
{
  height: 12px;
  font-size: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: auto;
}
  
.ShieldingSelect .warning
{
  color: red;
}

.TraceSrcContainer
{
  
}

.TraceSrcContainer legend
{
  white-space: nowrap;
}

.TraceSrcDisplay, .RelaxDistDisplay
{
  display: grid;
  row-gap: 5px;
  column-gap: 5px;
  padding-bottom: 3px;
  padding-top: 0px;
  margin-bottom: 2px;
}

.RelaxDescription
{
  font-size: small;
}

.TraceSrcDisplay .GridFirstCol.RelaxDistDisplay
{
  width: auto;
}

.TraceSrcDisplay .closeicon-wtdefault
{
  justify-self: end;
  align-self: start;
  margin-top: -4px;
  margin-right: -7px;
  margin-bottom: -2px;
}


.TraceSrcDisplay .GridFirstCol
{
  width: 4em;
}

.TraceSrcDisplay .GridFirstCol .GridFirstCol
{
  width: auto;
}

.RelaxDescription
{
  
}
