.ShieldingDelete, .ShieldingAdd, .ShieldingDelete:hover, .ShieldingAdd:hover
{
  opacity:0.5;
  cursor:pointer;
  color: none;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 4px;
  width: 16px;
  height: 17px;
}

.ShieldingDelete:hover, .ShieldingAdd:hover
{
  opacity:1.0;
}

.ShieldingAdd.Wt-disabled, .ShieldingDelete.Wt-disabled
{
  background-color: transparent;
}

.ShieldingSelect
{
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
}



.ShieldingSelect .MaterialSummary
{
  overflow-x: hidden;
  white-space: nowrap;
  width: 95px;
  text-align: right;
  margin-right: 3px;
}

.MassFracNoFit
{
  background: Silver;
  margin-left: 3ex;
}


.ShieldingAsSourceCBDiv
{
/*background: #888888; color: #FFFFFF;*/
  border-color: #E1E1E1;
  border-style: solid;
  border:2px solid #e1e1e1;
}


.TraceSrcContainer
{
  
}

.TraceSrcDisplay, .RelaxDistDisplay
{
  display: grid;
  row-gap: 5px;
  column-gap: 5px;
  padding-bottom: 3px;
  padding-top: 0px;
  margin-bottom: 2px;
}

.RelaxDescription
{
  font-size: small;
}

.TraceSrcDisplay .GridFirstCol.RelaxDistDisplay
{
  width: auto;
}

.TraceSrcDisplay .closeicon-wtdefault
{
  justify-self: end;
  align-self: start;
  margin-top: -4px;
  margin-right: -7px;
  margin-bottom: -2px;
}


.TraceSrcDisplay .GridFirstCol
{
  width: 4em;
}

.TraceSrcDisplay .GridFirstCol .GridFirstCol
{
  width: auto;
}

.RelaxDescription
{
  
}

.GridFirstCol
{
  grid-column-start: 1;
}

.GridSecondCol
{
  grid-column-start: 2;
}

.GridStretchCol
{
  justify-self: stretch;
}

.GridThirdCol
{
  grid-column-start: 3;
}

.GridFirstRow
{
  grid-row-start: 1;
}

.GridSecondRow
{
  grid-row-start: 2;
}

.GridThirdRow
{
  grid-row-start: 3;
}

.GridFourthRow
{
  grid-row-start: 4;
}

.GridFifthRow
{
  grid-row-start: 5;
}

.GridSpanTwoCol
{
  grid-column-end: span 2;
}

.GridSpanThreeCol
{
  grid-column-end: span 3;
}
