.ShieldingSourceDisplay
{
  
}


.ShieldingSelectContainer
{
   min-width: min(23em, calc(100vw - 15px));
   min-height: 10em;
   overflow-y: auto;
   
   padding-left:   5px;
   padding-right:  5px;
}

.ShieldingSelectContainer .ShieldingSelect
{
  border-width: 2px;
  border-style: inset;
  border-color: rgb(255, 255, 255);
  
  margin-top:    3px;
  margin-bottom: 3px;
}

.CalculationLog
{
  white-space: pre;
  font-family: monospace;
  display: block;
  overflow: auto;
}

.CalcLogLink, .InfoLink
{
  color:grey;
}


.CalcLogLink:hover, .InfoLink:hover
{
  color:blue;
}


.ShieldingSourceDisplay .PeakView,
.ShieldingSourceDisplay .SourceView,
.ShieldingSourceDisplay .FitOptions
{
/*   height: 100%; */
   border:2px solid #e1e1e1; 
}


.DetAndMenu
{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.DetAndMenu .DetectorDisplay
{
  flex: 1 1 content;
}



.ShieldingSourceDisplay .ChartMouseOverInfo
{
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 75px;
}

.ShieldingSourceDisplay table.TruthValueTable
{
  border-collapse: separate;
  border-spacing: 5px 5px;
}


.ShieldingSourceDisplay .FitOptions
{
  font-size: 10px;
  
  margin-top: -5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0px;
  padding-inline-start: 5px;
  padding-inline-end: 0px;
  padding-block-end: 0px;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
  flex-direction: row;
}


.IsPhone.Portrait .ShieldingSourceDisplay .FitOptions
{
  margin-top: 5px;
  
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  row-gap: 5px;
  flex-direction: column;
}

.FitOptionsRow
{
  
}


.ShieldingSourceDisplay .AllPeaksCb
{
  font-size: 10px;
  float: right;
  margin-right: 5px;
}

.ShieldingSourceDisplay .NumInputOptLine
{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 5px;
}

.IsPhone.Portrait .ShieldingSourceDisplay .NumInputOptLine
{
  padding-left: 17px;
}
