.SimpleNuclideAssistPopup
{
  -webkit-border-radius: 2 2 5px 5px;
  -moz-border-radius: 2 2 5px 5px;
  border-radius: 2 2 5px 5px;
  padding: 0px;
  margin: 0px;
  background: rgba(255, 255, 255, 0.2);
}

.SimpleNuclideAssistPopupTitle
{
  text-align: center;
  color: rgb(255,255,255);
  background: rgba(102, 102, 102, 0.9);
  margin-left: 10px;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.SimpleNuclideAssistItem
{
  padding: 0px;
  margin: 0px;
  background: rgba(255, 255, 255, 0);
}

.SimpleNuclideAssist
{
  width: 175px;
}

.SimpleNuclideAssistLegend
{
  color: rgb(182, 182, 182);
  background: rgba(255, 255, 255, 0.96);
  margin: 2px;
  border-radius: 5px;
  border: 2px solid rgba(182, 182, 182, 0.7);
  font-size: 12px;
}

.SimpleNuclideAssistLegendROI
{
  width: 15px;
  border: 2px solid rgba(182, 182, 182, 0.7);
}


.SimpleNuclide
{
  color: rgb(255, 255, 255);
  background: rgba(182, 182, 182, 0.7);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 2px;
  border-radius: 5px;
  border: 2px solid rgba(182, 182, 182, 0.7);
}

.ActiveSimpleNuclide
{
  color: rgb(182, 182, 182);
  background: rgba(255, 255, 255, 0.96);
}

.SimpleNuclideNucName
{
  font-weight: 900;
  font-size: 16px;
}

.SimpleNuclideMsg
{
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.96);
  border: 2px solid rgba(182, 182, 182, 0.96);
  text-align: center;
}

.SimpleNuclideMoreInfoButton
{
  height: 13px;
  font-weight: 800;
  width: 75%;
  text-align: center;
  
  padding-top: 1px;
  padding-bottom: 2px;
  
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 3px;
  border: 1px solid rgba(182, 182, 182, 0.7);
}

.SimpleNuclideMoreInfoButton:hover
{
  color: rgb(102, 102, 102);
  border: 1px solid rgb(102, 102, 102);
}


.SimpleNuclideMoreInfo
{
}

.SimpleNuclideEquivs
{
  font-size: 8px;
}

.SimpleNuclideShieldTxt
{
  
}

.SimpleNuclideShieldButHold
{
  padding-left: 10px;
  margin-top: 2px;
}

.SimpleNuclideShieldBut
{
  color: rgb(187, 187, 187);
  margin-left: 4px;
  
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 3px;
  border: 1px solid rgba(182, 182, 182, 0.7);
}

.SimpleNuclideShieldBut:hover
{
  color: rgb(140, 140, 140);
  border: 1px solid rgba(140, 140, 140, 0.7);
}

.SimpleNuclideShieldButActive
{
  color: rgb(102, 102, 102);
  margin-left: 4px;
  font-weight: 700;
  
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 3px;
  border: 1px solid rgb(102, 102, 102);
}

.SimpleNuclideShieldDesc
{
  font-size: 12px;
  margin-left: 3px;
}

.SimpleNuclideContam
{
  margin-top: 5px;
}

.SimpleNuclideComment
{
  margin-top: 5px;
  font-size: 11px;
}
