/* SimpleActivityCalc widget styles */

.SimpleActivityCalc {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0px;
  width: 275px;
}

.SimpleActivityCalc .row {
  display: flex;
  padding-bottom: 5px;
  align-items: center;
  margin-bottom: 1px;
}

.SimpleActivityCalc .nuclide-info {
  font-style: italic;
  font-size: smaller;
  color: #666;
  justify-content: flex-end;
  padding-bottom: 1px;
}

.SimpleActivityCalc .row.backsubrow
{
  justify-content: flex-end;
  padding-bottom: 1px;
}

.SimpleActivityCalc CbNoLineBreak.input.backsub {
  
}

.SimpleActivityCalc .label {
  width: 70px;
}

.SimpleActivityCalc input.input,
.SimpleActivityCalc select.input {
  flex: 1;
}

.SimpleActivityCalc .ShieldingSelect,
.SimpleActivityCalc .DetectorDisplay {
  flex: 1;
}

.SimpleActivityCalc .result {
  font-size: 15px;
  font-weight: bold;
  /* color: #2e7d32; */
  padding-top: 6px;
  padding-bottom: 6px;
  justify-content: center;
  
  margin: 3px;
  background: white;
  border-radius: 3px;
  
  display: flex;
  flex-direction: column;
}

.SimpleActivityCalc .result .Activity
{
  
}

.SimpleActivityCalc .result .Error
{
  /* Error displayed in the answer - dont ever expect, instead see ".SimpleActivityCalc .error" */
}

.SimpleActivityCalc .result .DoseTxt,
.SimpleActivityCalc .result .MassFrac,
.SimpleActivityCalc .result .SrcRad,
.SimpleActivityCalc .result .NucMass
{
  font-size: 11px;
  font-weight: normal;
}


.SimpleActivityCalc .error {
  font-size: 11pt;
  color: #d32f2f;
  padding: 5px;
  justify-content: center;
}

.SimpleActivityCalc button.advanced-btn.LinkBtn, .SimpleActivityCalc button.advanced-btn.LinkBtn:hover {
  align-self: flex-end;
  font-weight: normal;
  font-size: x-small;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 12px;
}
