.simple-dialog
{
  border: none;
  font-size: 16px;
  background-color: #fff;
  border-radius: 10px;
  /* We have to set min width in the C++ */
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0,0,0,.06),0 2px 32px rgba(0,0,0,.16) !important;
  max-width: 50vw;
  max-height: 95vh;
}

.simple-dialog .title
{
  /* line-height: 20px; */
  padding: 20px 20px 6px;
   
  text-align: center;
  font-weight: 700;
  font-size: x-large;
  user-select: none;
}

/* The parent of .title, .body and .footer can be selected as below.
   We cant actually do much here as things are managed by Wt's layout stuff.
 */
.Wt-popup.simple-dialog > .dialog-layout > div
{
}

/* By default Wt sets the dialog-layout to 999999px if you dont set it in the C++ at object
construction, so we will over-ride this in a kinda hacky way so contents wont overflow the
dialog
*/
.simple-dialog .dialog-layout
{
  max-width: 100%
}

/* Note: the dialog .body position and height is adjusted by Wt layout JS. */
.simple-dialog .body
{
  padding: 0px 0px 0px 0px;
  
  /* The 95vh is from .simple-dialog, and the 90px is the header and footer height. */
  max-height: calc( 95vh - 90px );
  overflow-y: auto;
  
  margin-left: 15px;
  margin-right: 15px;
  
  max-width: calc( 50vw - 30px );
}

.simple-dialog .content
{
  padding: 0 20px 20px;
  text-align: center;
}

.simple-dialog .footer
{
  display: flex;
  padding: 0px 0px 0px 0px;
}


.simple-dialog .footer button
{
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  font-style: normal;
  font-weight: 400;
  font-family: system-ui;
  font-variant-caps: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  
  border: 0;
  outline: 0;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
  background: none;
  color: #157afb;
  /* color: rgb(18,101,200); */
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 12px;
  line-height: normal;
  height: auto;
  
  border-right: 1px solid #ccc;
}

/* Get rid of border on the right of the very last button */
.simple-dialog .footer button:last-child
{
  border-right: none;
}

.simple-dialog .footer button:hover
{
  color: rgb(99, 161, 236);  
}
