/* In order to support custom/dynamic coloring of elements in InterSpec, some
   elements of the spectrum chart cant have stroke/fill defined in the css.
   This file defines those elements for when you wante to use SpectrumChartD3
   seperately from InterSpec.
 */

.chartarea{
  fill: white;
}

.xaxistitle, .yaxistitle, .yaxis, .xaxis{
  stroke: black;
}


.xaxis > .domain, .yaxis > .domain, .xaxis > .tick > line, .yaxis > .tick, .yaxistick {
  stroke: black;
}

.peakLine, .escapeLineForward, .mouseLine, .secondaryMouseLine {
  stroke: black;
};

.xgrid > .tick, .ygrid > .tick{
  stroke: #b3b3b3;
}

.minorgrid{
  stroke: #e6e6e6;
}

