.SpecMeasManager
{
/*  border: 1px solid #e1e1e1;*/
/*  background: #f9f9f9;*/
/*  min-width: 175px;*/
/*  min-height: 15em;*/
}

.SpectraFileManagerHeader
{
  cursor: crosshair;
  text-align: left;
  margin: 0;
  background-color: #e1e1e1;
  padding-top: 0.4em;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}


.treeDiv
{
  border: 1px solid #e1e1e1;
  margin-bottom: 8px;
/*  border: 2px solid blue;*/
}


/* .filemanageroverflow { overflow: visible; } */

.SpectraFileManagerButtonDiv
{
/*  height: 5.0em;*/
  /*border: 1px solid #e1e1e1;*/
}

.startQuickUploadMsg
{
  text-align: center;
}


.QuickSaveAsDialog
{
}

.uploadDiv {
  margin-bottom: 5px;
}

.PreviousDbDialogContents
{
}


.FilesInZipTable
{
  border: 2px solid #e1e1e1;
}


.CALp label
{
  margin-left: 10px;
}



.ShowPrevSpecFileUses .PrefCb
{
  margin-left: 20px;
}
