
<html>

<head>
    <meta charset="UTF-8" />
    <title>{{ Filename }} Results</title>

    
    <!-- <script src="https://d3js.org/d3.v3.min.js"></script> -->
    <script>
    {{ D3_JS }}
    </script>
    
    <script>
    {{ SpectrumChart_JS }}
    </script>

    <!-- Some styles for our page here -->
    <style>
      table.ResultTable {
        border-collapse: collapse; /* Ensures that the borders are not doubled */
      }

      .ResultTable th, .ResultTable td {
        border: 1px solid black; /* Adds a border to each cell */
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: left; /* Aligns text to the left */
      }

      .ResultTable th {
        background-color: #f2f2f2; /* adds a background color to the header cells */
      }

      .ResultTable tbody tr:nth-child(even) {
        background-color: #eaf4f7; /* a slight background for odd rows */
      }

      .ResultTable tbody tr:nth-child(odd) {
        background-color: #ffffff; /* White background for even rows */
      }

      table.InfoTable {

      }
      .InfoTable th, .InfoTable td {
        text-align: left; /* Aligns text to the left */
      }

      .InfoTable td {
        padding-right: 10px;
      }
    </style>

    <!-- D3-based spectrum chart styling -->
    <style>
    {{ SpectrumChart_CSS }}
    </style>

    <!-- Some CSS to override SpectrumChartD3 defaults -->
    <style>
      
    </style>
</head>

<body>
  <h1 class="title">
  Results for {{ Filename }}
  </h1>


  {% if HasErrorMessage %}
  <h2 style="color: red;">Error Message</h2>
  <div id="error" style="width: 90vw; margin-left: auto; margin-right: auto; margin-bottom: 20px; color: red; border: solid 1px red; padding: 5px;">
    {{ ErrorMessage }}
  </div>
  {% endif %}


  {% if HasWarnings %}
  <h2 style="color: orange;">Warnings</h2>
  <div id="warnings" style="width: 90vw; margin-left: auto; margin-right: auto; margin-bottom: 20px; color: orange; border: solid 1px orange;">
## for warning in Warnings
    <div style="width: 90%; margin-left: auto; margin-right: auto; margin-bottom: 5px; margin-bottom: 5px; border: solid 1px grey; padding: 3px;">
      {{ warning }}
    </div>
## endfor
  </div>
  {% endif %}

  <div id="specchart" style="height: 30vw; width: 80vw; margin-left: auto; margin-right: auto;">
  </div>

  <div id="results" style="margin-top: 15px">


    <div id="GeneralInfo">
    <ul style="list-style-type: none; padding: 0; margin: 0;">
{% if exists("foreground") %}
    <li>
        {% if exists("background") %} Foreground: {% endif %}
        <table class="InfoTable">
            <tr>
                <th>Live Time:</th>
                <td>
                    {{ printFixed(foreground.LiveTime_s,3) }} seconds ({{ foreground.LiveTime }})
                </td>
                <th>Real Time:</th>
                <td>
                    {{ printFixed(foreground.RealTime_s,3) }} seconds ({{ foreground.RealTime }})
                </td>
                <th>Dead Time:</th>
                <td>
                    {{ printFixed(foreground.DeadTime_percent,2) }}%
                </td>
            </tr>

            <tr>
                <th>Meas. Time:</th>
                <td>
                    {% if foreground.StartTimeIsValid %}
                      {{ foreground.StartTime }}
                    {% else %}
                      Not Available
                    {% endif %}
                </td>
                <th>Gamma Sum:</th>
                <td> {{ printCompact(foreground.GammaSum,6) }} counts</td>
                <th>Gamma CPS:</th>
                <td> {{ printCompact(foreground.GammaCps,5) }}</td>
            </tr>
            

            {% if foreground.HasNeutrons %}
            <tr>
                <th>Neutron Count:</th>
                <td>{{ foreground.NeutronCounts }}</td>

                <th>Neut. Live Time:</th>
                <td>{{ printCompact(foreground.NeutronLiveTime,6) }} s</td>

                <th>Neutron CPS:</th>
                <td> {{ printFixed(foreground.NeutronCps,4) }} </td>
            </tr>
            {% endif %}

            {% if existsIn(foreground,"SpectrumTitle") %}
            <tr>
                <th>Title:</th>
                <td colspan="3"> {{ foreground.SpectrumTitle }} </td>
            </tr>
            {% endif %}

            <tr>
                <th>Manufacturer:</th>
                <td> {% if existsIn(foreground,"Manufacturer") %} {{ foreground.Manufacturer }} {% else %} -- {% endif %} </td>

                <th>Det. Type:</th>
                <td> {% if existsIn(foreground,"DetectorType") %} {{ foreground.DetectorType }} {% else %} -- {% endif %} </td>

                <th>Inst. Model:</th>
                <td> {% if existsIn(foreground,"InstrumentModel") %} {{ foreground.InstrumentModel }} {% else %} -- {% endif %} </td>
            </tr>
            
            <tr>
                <th>Serial Number:</th>
                <td> {% if existsIn(foreground,"SerialNumber") %} {{ foreground.SerialNumber }} {% else %} -- {% endif %} </td>
                {% if foreground.HasGps %}
                <th>lat/lon:</th>
                <td colspan="2"> <a target="_blank" rel="noopener noreferrer" href="https://maps.google.com/?q={{ printFixed(foreground.Latitude,7) }},{{ printFixed(foreground.Longitude,7) }}">{{ printFixed(foreground.Latitude,7) }},{{ printFixed(foreground.Longitude,7) }}</a> </td>
                {% endif %}
            </tr>
            {% if foreground.HasInstrumentRid %}
            <tr> 
                <th>Inst. RID:</th>
                <td colspan="3"> {{ foreground.InstrumentRidSummary }} </td>
            </tr>
            {% endif %}
        </table>
    </li>
  {% endif %} <!-- if exists("foreground") -->

  {% if exists("background") %} 
    <li>
        Background:
        <table class="InfoTable">
            <tr>
                <th>Live Time:</th>
                <td>
                    {{ printFixed(background.LiveTime_s,3) }} seconds ({{ background.LiveTime }})
                </td>
                <th>Real Time:</th>
                <td>
                : {{ printFixed(background.RealTime_s,3) }} seconds ({{ background.RealTime }})
                </td>
                <th>Dead Time:</th>
                <td>{{ printFixed(background.DeadTime_percent,2) }}%</td>
            </tr>

            <tr>
                <th>Meas. Time:</th>
                <td>
                    {% if background.StartTimeIsValid %}
                      {{ background.StartTime }}
                    {% else %}
                      Not Available
                    {% endif %}
                </td>
                <th>Gamma Sum:</th>
                <td> {{ printCompact(background.GammaSum,6) }} counts</td>
                <th>Gamma CPS:</th>
                <td> {{ printCompact(background.GammaCps,5) }}</td>
            </tr>
            

            {% if background.HasNeutrons %}
            <tr>
                <th>Neutron Count:</th>
                <td> background.NeutronSum </td>

                <th>Neut. Live Time:</th>
                <td> background.NeutronLiveTime </td>

                <th>Neutron CPS:</th>
                <td> {{ printFixed(background.NeutronCps,4) }} </td>
            </tr>
            {% endif %}

            {% if existsIn(background,"SpectrumTitle") %}
            <tr>
                <th>Title:</th>
                <td colspan="3"> {{ background.SpectrumTitle }} </td>
            </tr>
            {% endif %}

            <tr>
                <th colspan="2">Live Time Normalization Factor:</th>
                <td colspan="3"> {{ background.Normalization }} </td>
            </tr>
        </table>
    </li>
    {% endif %}
    
    {% if exists("Detector") %}
    <li>
        Detector:
        <table class="InfoTable">
            <tr>
                <th>Name:</th>
                <td>{{ Detector.Name }}</td>
                {% if Detector.Radius_cm > 0.0 %}
                    <th>Radius:</th>
                    <td>{{ printFixed(Detector.Radius_cm,1) }}</td>
                {% endif %}        
            </tr>
            <tr>
            {% if FixedGeometryDetector %}
              <td colspan="3">
                Results given as {{ ActShieldFitSetup.FixedGeometryType }}.
              </td>
            {% else %}
              <th colspan="2">Distance to source center from detector:</th>
              <td> {{ ActShieldFitSetup.Distance }} </td>
            {% endif %}        
            </tr>
        </table>
    </li>
    {% endif %} <!-- if exists("Detector") -->
    
    {% if HasFitResults %}
    {% if NumSources > 0 %}
    <li>
        {% if ActShieldFitSetup.FitOptions.InterferenceCorrection %}Allowing multiple nuclides being fit for to potentially contribute to the same photopeak{% else %}Not allowing multiple nuclides being fit for to contribute to the same photopeak{% endif %}
    </li>
    {% endif %}

    {% if ActShieldFitSetup.FitOptions.DecayDuringMeasurement %}
    <li>
        Branching ratios are being corrected for nuclide decay during measurement.
    </li>    
    {% endif %} <!-- if ActShieldFitSetup.FitOptions.DecayDuringMeasurement -->

    {% if exists("background") %}
      <li>
      {% if ActShieldFitSetup.FitOptions.BackgroundPeakSubtract %}
      Background peaks are subtracted.
      {% else %} 
      Background peaks are not being subtracted.
      {% endif %}
      </li>
    {% endif %} <!--if exists("background") -->
    {% endif %} <!-- if HasFitResults -->

    </ul>
    </div> <!-- <div id="GeneralInfo"> -->

{% if exists("Sources") %}
<div id="sources" style="margin-top: 25px">
Sources:
<table class="ActivitySummary ResultTable">
    <thead><tr>
        <th>Nuclide</th>
        <th>Age</th>
        {% if AnySourceAgeFit %}
          <th>Age Uncert</th>
          <th>Age Fit?</th>
        {% endif %}
        <th>Activity</th>
        <th>Activity Uncert</th>
        <th>Activity Fit?</th>
        {% if HasTraceSource %}
        <th>Trace Src Act.</th>
        <th>Trace Src Act. Uncert</th>
        <th>Is Trace Src</th>
        {% endif %}
    </tr></thead>
    <tbody>
## for src in Sources
  <tr>
  <td> {{ src.Nuclide }} </td>
  <td> {{ src.Age }} </td>
  {% if AnySourceAgeFit %}
    <td> {% if src.AgeIsFit %} {{ src.AgeUncert }} {% endif %}  </td>
    <td> {{ src.AgeIsFit }} </td>
  {% endif %}
  <td> {{ src.Activity }} </td>
  <td> {% if src.ActivityIsFit %} {{ src.ActivityUncert }} {% endif %} </td>
  <td> {{ src.ActivityIsFit }} </td>
  {% if HasTraceSource %}
    <td> {% if src.IsTraceSource %} {{src.TraceDisplayActivity}} {% endif %} </td>
    <td> {% if src.IsTraceSource and src.ActivityIsFit %} {{ src.TraceDisplayActivityUncert }} {% endif %} </td>
    <td> {{ src.IsTraceSource }} </td>
  {% endif %}
  </tr>
## endfor
  </tbody>
</table>   
</div> <!-- <div id="sources" style="margin-top: 25px"> -->
{% endif %}

<div id="peaks" style="margin-top: 25px">
  Peaks:
  <table class="ResultTable">
    <thead>
      <tr>
        <th>Energy (keV)</th>
        <th>FWHM</th>
        <th>Area</th>
        <th>&Delta;Area</th>
        <th>CPS</th>
        <th>Back. Counts</th>
        <th>Signal Counts</th>
        <th>Assigned Nuc.</th>
        <th>Int. Eff</th>
        <th>Det. Eff</th>
        <th>Pred.</th>
        <th>&sigma; off</th>
      </tr>
    </thead>
    <tbody>
{% if exists("PeaksUsedForActivityFitting") %}
## for peak in PeaksUsedForActivityFitting.Peaks
      <tr>
        <td>{{ printFixed(peak.Energy_keV,2) }}</td>
        <td>{{ printFixed(peak.FWHM,3) }}</td>
        <td>{{ printCompact(peak.Counts,5) }}</td>
        <td>{{ printCompact(peak.CountsUncert,5) }}</td>
        <td>{{ printFixed(peak.Cps, 3) }} &pm; {{ printFixed(peak.CpsUncert,3) }}</td>
        <td>
            {% if existsIn(peak,"BackgroundCounts") %}
            {{ printCompact(peak.BackgroundCounts, 5) }}
            {% endif %}
        </td>
        <td>{{ printCompact(peak.SignalCounts,4) }} &pm; {{ printCompact(peak.SignalCountsUncert,4) }}</td>
        <td>{{ peak.AssignedNuclide }} ({{ printFixed(peak.DecayParticleEnergy_keV,1) }})</td>
        <td>{{ printCompact(peak.DetectorIntrinsicEff,5) }}</td>
        <td>{{ printCompact(peak.DetectorEff,5) }}</td>
        <td>{{ printCompact(peak.PredictedCounts,5) }}</td>
        <td>{{ printFixed(peak.PredictedNumSigmaOff,3) }}</td>
      </tr>
##endfor
{% endif %}
</tbody>
</table>

</div> <!-- <div id="peaks" style="margin-top: 25px"> -->

{% if exists("Sources") %}
<div id="PeakContributions" style="margin-top: 25px">
<span style="color: red; font-weight: bold;">(Gamma contribution counts currently not correct!)</span>
<ul style="list-style-type: none; padding: 0; margin: 0;">
## for src in Sources
  <li style="margin-top: 10px;"> Peak contributions from {{ src.Nuclide }}:

    <table class="ResultTable">
      <thead>
        <tr>
          <th>Energy (keV)</th>
          <th>Signal Counts</th>
          <th>&Delta;Counts</th>
          <th>Model Sum</th>
          <th>Nuclide</th>
          <th>&gamma; Energy</th>
          <th>&gamma; Counts</th>
        </tr>
      </thead>

      <tbody>
## for peak in src.PeaksThisNucContributesTo
        <tr>
          <td>{{ printFixed(peak.Energy_keV,2) }}</td>
          <td>{{ printCompact(peak.SignalCounts,5) }}</td>
          <td>{{ printCompact(peak.SignalCountsUncert,5) }}</td>
          <td>{{ printCompact(peak.PredictedCounts,5) }}</td>
          
    {% if existsIn(peak,"ThisNucsGammasForPeak") %}
## for src in peak.ThisNucsGammasForPeak
        {% if loop.is_first %}
        {% else %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        {% endif %}
          <td>{{ src.Nuclide }}</td>
          <td>{{ printFixed(src.Energy_keV,3) }}</td>
          <td>{{ printCompact(src.CountsContributedToPeak,6) }}</td>
        </tr>
##endfor
    {% else %}
          <td></td>
          <td></td>
          <td></td>
        </tr>
    {% endif %}    
##endfor
      </tbody>
    </table>
  </li>
##endfor
</ul>

  Contributions to peaks from fit model:
  
        

</div> <!-- <div id="peaks" style="margin-top: 25px"> -->
{% endif %}        


  </div>  <!-- <div id="results" style="margin-top: 15px"> -->

{% if exists("foreground") %}
  <script>
    let spec_chart_specchart = new SpectrumChartD3( 'specchart',  {
    'title': '', 'xlabel' : 'Energy (keV)', 'ylabel': 'Counts'
     } );

    let spec_observer = new ResizeObserver(entries => {
        for (let entry of entries) {
          if (entry.target && (entry.target.id === "specchart")) {
            spec_chart_specchart.handleResize(false);
          }
        }
      });
      spec_observer.observe( document.getElementById("specchart") );

      const spectrum_json = { "spectra": [{{ foreground.spectrum }} {% if exists("background") %}, {{ background.spectrum }} {% endif %}] };

      spec_chart_specchart.setData( spectrum_json );
      spec_chart_specchart.setLogY( true );
  </script>
{% endif %} <!-- if exists("foreground") --> 

{% if exists("Shieldings") %}
{% if existsIn(Shieldings,"Shields") %}
##for shield in Shieldings.Shields
{% if shield.FitAnyMassFraction %}
<div class="mass_frac_{{ shield.Name }}" style="margin-top: 15px">
Mass fractions for {{ shield.Name }}:
<table class="InfoTable">
  <thead><tr><th>Nuclide</th><th>Mass Fraction</th><th>Fit Mass Frac?</th><th>Mass Fraction Uncert</th><th>Activity</th><th>ActivityUncert</th></tr></thead>
  <tbody>
##for shieldSrc in shield.SelfAttenSources
    <tr>
      <td>{{ shieldSrc.Nuclide }}</td>
      <td>{{ printFixed(shieldSrc.MassFraction,6) }}</td>
      <td>{{ shieldSrc.IsFittingMassFraction }}</td>
      <td>{% if existsIn(shieldSrc,"MassFractionUncert") %}  {{ printFixed(shieldSrc.MassFractionUncert,6) }} {% endif %}</td>
      <td>{% if existsIn(shieldSrc,"Activity") %}  {{ shieldSrc.Activity }} {{ shieldSrc.ActivityPostFix }} {% endif %}</td>
      <td>{% if existsIn(shieldSrc,"ActivityUncert") %}  {{ shieldSrc.ActivityUncert }} {{ shieldSrc.ActivityPostFix }} {% endif %}</td>
    </tr>
##endfor
  </tbody>
</table>
</div>
{% endif %} <!-- if shield.FitAnyMassFraction -->
##endfor
{% endif %} <!-- if existsIn(Shieldings,"Shields") -->
{% endif %} <!-- if exists("Shieldings") -->


<pre>
{% if exists("Shieldings") %}
{% if existsIn(Shieldings,"Shields") %}
Shieldings:
## for shield in Shieldings.Shields
{% if shield.IsGeneric %}
    Generic AN={{ shield.AN }}, AD={{ shield.AD }} g/cm3:
{% else %}
    {{ shield.Name }}{% if existsIn(shield,"Formula") %}, {{ shield.Formula }},{% endif %} density={{ shield.Density_gPerCm3 }} g/cm3, {{ Shieldings.Geometry }}: [{% for dimNum in range(Shieldings.NumDimensions) %}{% if dimNum > 1 %}, {% endif %}{{ at(Shieldings.DimensionMeanings,dimNum) }}_thickness={{at(shield.Thicknesses,dimNum)}}{% endfor %}]
{% endif %}
{% if exists("PeaksUsedForActivityFitting") %}
## for peak in PeaksUsedForActivityFitting.Peaks
        {% if (shield.ShieldingNumber < length(peak.ShieldAttenuations)) %}{% 
          if (at(peak.ShieldAttenuations,shield.ShieldingNumber) > 0.0) 
          %}For peak at {{ peak.Energy}} keV, attenuation multiple of {{ at(peak.ShieldAttenuations,shield.ShieldingNumber) }}{% 
            endif %}{% endif %}

##endfor
{% endif %}

##endfor
{% endif %}
{% endif %}

{% if exists("Sources") %}
## for src in Sources
{{ src.Nuclide }} fit activity {{ src.Activity }}{% if src.ActivityIsFit %} with uncertainty {{ src.ActivityUncert }} ({{ src.ActivityUncertPercent }}) {% endif %} at {% if src.AgeIsFit %}assumed {% else %}fit {% endif %} age {{ src.Age }}
## endfor
{% endif %}
{% if HasFitResults %}
Geometry: {% if FixedGeometryDetector %}Fixed geometry, {{ ActShieldFitSetup.FixedGeometryType }}.{% else %}{{ ActShieldFitSetup.Geometry }}{% endif %}
{% endif %}
{% if exists("Shieldings") %}
Shieldings:
{% if exists("Shieldings") and existsIn(Shieldings,"Shields") %}
## for shield in Shieldings.Shields
{% if shield.IsGeneric %}
    Generic shielding AN={{ shield.AN }}, AD={{ shield.AD }} g/cm3
{% else %}
    {{ shield.Name }} has density {{ shield.Density_gPerCm3 }} g/cm3 and dimensions {% for i in range(shield.NumDimensions) %} {{ at(Shieldings.DimensionMeanings,i) }}: {{ at(shield.Thicknesses, i) }}{% if at(shield.DimensionIsFit, i) %} (+-{{ at(shield.ThicknessesUncerts,i) }}) {% endif %} {% endfor %}
{% endif %}
##endfor
{% else %}
    None
{% endif %}
{% endif %}
</pre>

<div style="margin-top: 20px">
<ul style="list-style-type: none; padding: 0; margin: 0;">
  {% if HasFitResults %}
  <li>There were {{ NumDof }} parameters fit for</li>
  <li>It took {{ NumberFcnCalls }} solution trials to reach chi2={{ printCompact(FitChi2,5) }} with an estimated distance to minumum of {{ printCompact(EstimatedDistanceToMinimum,5) }}</li>
  {% endif %}
  <li>Exemplar File: {{ ExemplarFile }}{% if exists("ExemplarSampleNumbers") %}, exemplar samples: {{ ExemplarSampleNumbers }}{% endif %}</li>
  <li>Analysis Performed at: {{ AnalysisTime }}, 
    from CWD=<code>{{CurrentWorkingDirectory}}</code>, 
    with InterSpec compiled {{ InterSpecCompileDateIso }}{% if exists("InterSpecExecutablePath") %},
    and executable at <code>{{ InterSpecExecutablePath }}</code> 
    {% endif %}
  </li>
</ul>
</div>

</body>
<html>

