button[disabled] {
  color: rgb(160,160,160); 
  background-color: rgb(110,110,110);
  opacity: 1.0;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* The `:not(.pm-textarea)` below is so this styling wont apply to text annotaions on the Leaflet maps. */
input[type="text"], input[type="number"], textarea :not(.pm-textarea) {
  background-color: var(--interspec-input-background, rgb(59,60,63)) !important; 
  border-top: solid 1px rgb(61,62,64) !important; 
  border-left: none !important; 
  border-right: none !important; 
  border-bottom: solid 1px rgb(75,76,78) !important; 
  color: var(--interspec-text-color, white);
}

/* The WDialog titlebar */
.titlebar {
  background: rgb(107,106,111) !important; 
  color: white;
}

.titlebar:hover {
  background: rgb(133,133,133) !important; 
  color: white;
}

.InfoLink, .InfoLink:hover {
  border: none;
}

.Wt-icon, .InvertInDark {
  filter: invert(100%);
}


.Wt-popup.Wt-outset {
  background-color: rgb(59,59,66) !important;
}

ul.Wt-popupmenu > li.Wt-disabled > a > span > span {
  color: rgb(105,105,112) !important;
}

.Wt-separator {
  border-top: 1px solid rgb(80,80,87) !important;
  border-bottom: 1px solid rgb(100,100,107) !important;
}

.Wt-vsh2 {
/* The chart resize indicator thing... */
}


ul.Wt-tv-root > li {
  color: white;
  background: rgb(41,42,44) !important; 
}

ul.Wt-tv-root > li:nth-child(odd) { 
  background: rgb(30,32,34) !important; 
}


.Wt-item.Wt-selected{
  background-color: blue;
  color: white;
}

/* .Wt-label and secondary text colors now handled by --interspec-secondary-text-color CSS variable */

.Wt-itemview .Wt-headerdiv, .Wt-itemview .Wt-headerdiv .Wt-tv-rowc, .Wt-itemview th, .DevPairTitle, .CalDisplay .CalType, .DetHdr, .ReferencePhotopeakDisplay .OtherNucs .OtherNucTypeHeader {
  background-color: rgb( 80, 81, 94 );
}


.Wt-dialogcover {
  background: rgba(110, 110, 110, 0.5) !important;
}

ul.HeavyNavMenu > li.itemselected  {
  background: rgb(175,175,175) !important;
}

ul.HeavyNavMenu > li.itemselected > a {
  color: rgb(115, 115, 255) !important;
}


ul.HeavyNavMenu > li.item {
  background: rgb(124,124,124) !important;
}

ul.HeavyNavMenu > li.item:hover  {
  background: rgb(135,135,135) !important;
}


.DetectorDisplay{
  background: rgb(70,70,77);
  /* border-color now handled by --interspec-border-color CSS variable */
}

.LinkBtn {
  color: black;
  filter: invert(100%);
}

.DoseAnswerTxt, 
.DoseCalcRuntimeCheckFailMsg,
.SimpleActivityCalc .result {
  color: black;
}

.MakeDrfEqnAnswer {
  background: black !important;
}

.PhoneAuxWindowHeader {
  background-color: var(--interspec-menubar-background, rgb(65,65,65)) !important;
}

.PhoneAuxWindowFooter {
  padding-right: 2px;
}

.PhoneAuxWindowFooter > button {
  margin-right: 5px;
}

.PhoneMenuBack, .PhoneMenuClose {
  background-color: rgb(133,133,133) !important;
}

/* When using a HTML app menu-bar, fix up close button background color on hover */
.app-titlebar .window-controls-container .window-icon-bg .window-icon.window-close:hover {
  background-color: rgb(57,207,207) !important;
}

/* When using a HTML app menu-bar, fix up minimize and maximize buttons on hover */
.app-titlebar .window-controls-container .window-icon-bg .window-icon:hover {
  background-color: rgb(175,175,175) !important;
}

/* When the app is not the forground app, change title bar color a little to indicate this */
.app-titlebar.inactive, .app-titlebar.inactive button {
  background-color: rgb(50,50,51) !important;
}
